.OurFaith{
     padding-top: 100px !important;
     margin-bottom: 200px !important;
     margin-top: -400px !important;
     position: relative;
     
 }

 .container-second-ourfaith{
    background: #FEFAFF !important;
 }

 .hoverinit-Faith .main2-Faith{
     position: relative !important;
     transform: scale(1) !important;
     transition: all .6s linear !important;
 }
 .main2-Faith{
     position: relative !important;
     z-index: 2 !important;
 }
 
 .hoverinit-Faith {
     position: relative !important;
     z-index: 10 !important;
 }
 
 .Inc_Div_our-faith-main-img-Faith{
 position: relative !important;
 z-index: 10 !important;
 width: 298.04px !important;
 height: 300px !important;
 left: 0px !important;
 top: 50px !important;
 overflow: hidden !important;
 transform: rotate(-45deg) !important ;
 }
 
 .Inc_Div_our-faith-main-img-Faith .main2-Faith{
 transform: rotate(45deg) !important;
 width: 143% !important;
 height: 143% !important;
 margin-top: -21.5% !important;
 margin-left: -21.5% !important;
 transition: all 0.6s linear !important;
 }
 .hoverinit-Faith:hover .main2-Faith{
     transform: scale(1.03) rotate(45deg) !important;
 }
 .images-2-Faith{
     position: relative !important;
 }
 .wall2-container-Faith{
     position: absolute !important;
     left: 100% !important;
     top: 70% !important;
 }
 .small2-container-Faith{
     position: absolute !important;
     left: 70% !important;
     top: 110% !important;
 }
 .side2-container-Faith{
     position: absolute !important;
     left: 5% !important;
 }
 .prev-2-text-1-Faith{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
     font-weight: bold !important;
     font-size: 32px !important;
     line-height: 44px !important;
     text-transform: uppercase !important;
     color: #3C708E !important;
 }
 
 .prev-2-text-2-Faith{ 
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;   
     font-weight: 500 !important;
     font-size: 16px !important;
     line-height: 26px !important;
     color: #757575 !important;
 }
 
 .texting-2-Faith{
     padding-top: 51px !important;
 }


 @media (max-width:1200px) {
     .wall2-container-Faith{
         left: 80% !important;
     }
     .side2-container-Faith{
         left: 2% !important;
     }
     .Faith-Sg{
         margin-top: 0px !important;
     }
 }
 
 @media (max-width:992px) {
     .wall2-container-Faith{
         left: 100% !important;
         top: 40% !important;
     }
     .side2-container-Faith{
        top: 1000px !important;
         left: 10% !important;
     }
     .img-container-Faith{
         position: relative !important;
         top: -30% !important;
     }
     .small2-container-Faith{
         top: 80% !important;
         
     }
     .OurFaith{
         margin-top: 150px !important;
     }
 }
@media (max-width:768px){
    .prev-2-text-2-Faith{
        font-size: 12px !important;
    }
    .prev-2-text-1-Faith{
        font-size: 16px !important;
    }
}

 @media (max-width:677px){
     .side2-container-Faith{
         left: 10% !important;
     }
 }

 @media (max-width:653px){
     .side2-container-Faith{
         width: 130px !important;
         height: 190px !important;
         left: 10% !important;
         top: 800px !important;
     }
 }
 @media (max-width:509px){
     .Inc_Div_our-faith-main-img-Faith{
         width: 200px !important;
        height: 202.8px !important;
     }
     .Inc_Div_our-faith-main-img-Faith .main2-Faith{
         width: 103% !important;
         height: 103% !important;
     }
     .img-container-Faith{
         position: relative !important;
         left: 20% !important;
     }
     .wall2-container-Faith{
         width: 30% !important;
         left: 80% !important;
         top: 50% !important;
     }
     .small2-container-Faith{
         top: 80% !important;
         width: 10% !important;
         left: 55% !important;
         
     }
     .side2-container-Faith{
         top: 800px !important;
     }
 }
 
 
 