.DDMProcessText > h1 {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #3c708e;
  }
  
  .DDMProcessText > p {
    display: flex;
    justify-content: center;
    margin: 4% 10%;
    /* left: 244px; */
    top: 765px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #757575;

    margin-left: 20% !important;
    margin-bottom: 5% !important;
  }
  
.content-inner {
  background: #FFFFFF ;
  
}

/* .DDMcontent-back:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/ProcessBack.png");
  width: 175px;
  height: 175px;
  transform: scale();
  background-position-x: left;
  background-position-y: bottom;
} */
