.ppc4Container {
  /* height: 378px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 66px 74px 66px 74px;
}

.ppc4Para {
  text-align: center;
  width: 65%;
}

.ppc4Partners {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ppc4PartnerItem1 {
  width: 185px;
  height: 131.8px;
}
.ppc4PartnerItem2 {
  width: 180px;
  height: 121.98px;
}
.ppc4PartnerItem3 {
  width: 180px;
  height: 121.98px;
}
.ppc4PartnerItem4 {
  width: 140px;
  height: 137.56px;
}
.ppc4PartnerItem5 {
  width: 195px;
  height: 130.46px;
}

@media only screen and (max-width: 768px) {
  .ppc4Para {
    text-align: center;
    margin: 0 74px 0 74px;
    width: 110%;
  }
  .ppc4PartnerItem1 {
    width: 92.5px;
    height: 66px;
  }
  .ppc4PartnerItem2 {
    width: 90px;
    height: 61px;
  }
  .ppc4PartnerItem3 {
    width: 90px;
    height: 61px;
  }
  .ppc4PartnerItem4 {
    width: 70px;
    height: 68.78px;
  }
  .ppc4PartnerItem5 {
    width: 97.5px;
    height: 65.23px;
  }
}
