.ppc4Container{
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ppc4Partners{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ppc4PartnerItem1{
    width: 185px;
    height: 131.8px;
}
.ppc4PartnerItem2{
    width: 180px;
    height: 121.98px;
}
.ppc4PartnerItem3{
    width: 180px;
    height: 121.98px;
}
.ppc4PartnerItem4{
    width: 140px;
    height: 137.56px;
}
.ppc4PartnerItem5{
    width: 195px;
    height: 130.46px;
}