
.container-1{
    display: flex !important;
    align-items: center !important;
}
.text-box-1{
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding-top: 150px !important;
    left: -40px !important;
 
}
.yellowbackground_Blueprint {
    position: absolute !important;
    top: 90px !important;
    right: 0 !important;

  }

.container-1_text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 42px !important;

    text-transform: uppercase !important;

    color: #33657E !important;
} 

.container-2_text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 26px !important;      
    color: #232323 !important;
}
.container-3_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 26px !important;
  /* or 150% */

  color: #232323 !important;
}

.wall{
    position: absolute !important;
    top: 35% !important;
    left: 10% !important;
}
.smallrect{
    position: absolute !important;
    top: 50% !important;
    left: 47% !important;
}
.image-first{
    position: relative !important;
    margin-left: 80px !important;
    left: 80px !important ;
}


.navbar{
    margin-bottom: 100px !important;
}
.image-first{
    position: relative !important;
}
.rect{
    position: absolute !important;
    top: 50px !important;
    left: -50px !important;
}
.backimg{
    position: relative !important;
    left: 20% !important;
    

}


   .smaller-rect-prev-1{
       position: absolute !important;
       left: 65% !important;
       top: 92% !important;
   }
.banner_right_inner{
    position: relative !important;
    width: 350px !important;
    height: 350.8px !important;
    top: -50% !important;
    left: 30% !important;

    transform: rotate(45deg) !important;
    overflow: hidden !important;

   }
   .banner_right_inner .main-prev1{
    width: 510px !important;
    height: 512.19px !important;
    margin-top: -80px !important;
    margin-left: -80px !important;
    transform: rotate(-45deg) !important;
    transition: all 0.8s ease !important;

   }
   .banner_right_inner:hover .main-prev1 {
    transform: scale(1.03) rotate(-45deg) !important;
   }
   @media (max-width:1539px){
     .blue_print_overlay{
         display: none !important;
     }
}

@media(max-width:1500px){
    .yellow_IB{
        display: none !important;
    }
}

@media(max-width:1436px){
    .text-box-1{
        position: relative;
        left: 10% !important;
    }
}
@media (max-width:1400px){
    .image-first{
        left: -40px !important;
    }
}


@media (max-width:1300px){
    .image-first{
        position: relative !important;
        left: -150px !important ;
    }
    .yellow_IB{
        display: none !important;
    }
}

@media (max-width:1200px){
    .text-box-1{
        left: -10% !important;
    }
}

@media (max-width:1144px){
    .image-first{
        left: -30% !important;
    }
}

@media (max-width:1086px){
    .text-box-1{
        position: relative !important;
        left: -5% !important ;
    }
    .image-first{
        position: relative !important;
        left: -170px !important ;
    }
   
}

@media(max-width:1026px){
    .text-box-1{
        position: relative !important;
        left: -1% !important ;
    }
    .image-first{
        position: relative !important;
        left: -170px !important ;
    }
}
@media (max-width:991.81468px){
    .banner_right_inner{
        position: relative !important;
        width: 330px !important;
        height: 332.8px !important;
        bottom: 410px !important;
    }
    .backimg{
        width: 480px !important;
        height: 482.8px !important;
        left: 20% !important;
        top: -5px !important;
    }
    .image-first{
        left: -10% !important;
    }
    .first-image{
        flex-direction: column-reverse !important;
    }
    .text-box-1{
        padding-top: 0px !important;
        bottom: 200px !important;
    }
    .text-box-1{
        position: relative !important;
        left: 0% !important;
    }
    .text-box-1{
        top: -300px !important;
    }
    .container-1_text{
        font-size: 16px !important;
    }
    .container-2_text{
        font-size: 14px !important;
    }

}
@media (max-width:767.84563px){
    .banner_right_inner{
        width: 330px !important;
        height: 332.8px !important;
        left: 0% !important;
    }
    .backimg{
        width: 480px !important;
        height: 482.8px !important;
        left: 10% !important;
        top: 2% !important;
    }
    .image-first{
        left: -10% !important;
    }
    
}
@media (max-width:767.81654px){
    .banner_right_inner{
        width: 330px !important;
        height: 332.8px !important;
        left: 15% !important;
    }
    .backimg{
        width: 480px !important;
        height: 482.8px !important;
        left: 10% !important;
        top: 2% !important;
    }
    .image-first{
        left: -10% !important;
    }
    .wall{
        position: absolute !important;
        top: 35% !important;
        left: 0% !important;
    }
    .smallrect{
        position: absolute !important;
        top: 50% !important;
        left: 27% !important;
    }
    .container-1_text{
        font-size: 14px !important;
    }
    .container-2_text{
        font-size: 12px !important;
    }
    .text-box-1{
        top: -300px !important;
    }
}

@media (max-width:654px){
    .banner_right_inner{
        width: 220px !important;
        height: 222.8px !important;
        left: 15% !important;
        bottom: 270px !important;
    }
    .backimg{
        width: 320px !important;
        height: 322.8px !important;
        left: 5% !important;
        top: 2% !important;
    }
    .image-first{
        left: 0% !important;
    }
    .wall{
        position: absolute !important;
        top: 35% !important;
        left: 0% !important;
        width: 20% !important;
    }
    .smallrect{
        position: absolute !important;
        top: 50% !important;
        left: 27% !important;
        width: 10% !important;
    }
    .text-box-1{
        top: -170px !important;
    }
}

@media(max-width:576px){
    .text-box-1{
        margin-left: 10px !important;
        padding-right: 30px !important;
    }
}

@media (max-width:497px){
    .image-first{
        left: -10% !important;
    }
    .rect{
        left: 20px !important;
    }
}
@media (max-width:427px){
    .banner_right_inner{
        width: 180px !important;
        height: 182.8px !important;
        left: 15% !important;
        bottom: 220px !important;
    }
    .backimg{
        width: 260px !important;
        height: 262.8px !important;
        left: 5% !important;
        top: 2% !important;
    }
    .image-first{
        left: -10% !important;
    }
    .wall{
        position: absolute !important;
        width: 20% !important;
        top: 35% !important;
        left: -5% !important;
    }
    .smallrect{
        position: absolute !important;
        width: 10% !important;
        top: 50% !important;
        left: 30% !important;
    }
    .text-box-1{
        padding-top: 30px !important;
    }
}
@media (max-width: 377px){
    .image-first{
        left: -10% !important;
    }
    .smallrect{
        position: absolute !important;
        width: 10% !important;
        top: 50% !important;
        left: 30% !important;
    }
}
