@media only screen and (max-width: 992px) {
    .GTMComp3 .text {
        font-size: 12px!important;
        line-height: 20px!important;
    }
    .GTMComp3 .animate{
        font-size: 16px!important;
        line-height: 24px!important;
    }
}

@media only screen and (max-width: 768px) {
    .GTMComp3 .text {
        font-size: 10px!important;
        line-height: 15px!important;
    }
    .GTMComp3 .animate{
        font-size: 14px!important;
        line-height: 20px!important;
    }
}

.GTMComp3 .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center!important;
    color: #757575;
}

.GTMComp3 .animate{
    font-size: 32px!important;
    line-height: 42px!important;
}

.gotomarketing-card{
    background: red;
}

.gotomarketing-card.col-lg-1{
    width: 10%;
}

@media only screen and (max-width: 992px) {
    .animate{
        font-size: 16px!important;
    }
    .animate2{
        font-size: 16px!important;
    }

    .text{
        font-size: 12px!important;
    }
}
@media only screen and (max-width: 576px) {
    .animate{
        font-size: 14px!important;
    }
    .animate2{
        font-size: 14px!important;
    }
    
    .text{
        font-size: 10px!important;
    }
}