.blogs-container-4 {
    position: relative;
    /* top: 100px; */
    margin: 100px auto 60px auto !important;
    max-width: 1200pxx;
}

.blogs-container-4 .dividerLine {
    position: absolute;
    height: 85%;
    width: 2px;
    background-color: #e4e8ed;
    left: 50%;
    margin-left: -2.5px;
    top: -0.75%;
}

.blogs-container-4 .col-lg-5:nth-of-type(odd) {
    margin-top: 20% !important;
}

.blogs-container-4 .col-lg-5:nth-of-type(even) {
    margin-top: -2.5% !important;
}

.blogs-container-4 .col-lg-5:first-child {
    margin-top: 0 !important;
}

.blogs-container-4 .pagination {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 50px;
}

.blogs-container-4 .pagination .leftArrow {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.blogs-container-4 .pagination .rightArrow {
    height: 35px;
    width: 35px;
    background: #edecec;
    border-radius: 2px;
    cursor: pointer;
}

.blogs-container-4 .pagination .paginationNumber {
    height: 35px;
    width: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.blogs-container-4 .pagination .paginationNumber:hover {
    background: #edecec;
}

.blogs-container-4 .pagination .paginationNumber.active {
    background: #3c708e;
}

@media only screen and (max-width: 992px) {
    .blogs-container-4 .dividerLine {
        display: none;
    }

    .blogs-container-4 .col-lg-5:nth-of-type(odd) {
        margin-top: 20% !important;
    }

    .blogs-container-4 .col-lg-5:nth-of-type(even) {
        margin-top: 20% !important;
    }

    .blogs-container-4 .col-lg-5:nth-child(2) {
        margin-top: 0% !important;
    }
}

.blogCustomizer1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px;
}

.blogCustomizer1 .philosophySubmitButton {
    all: unset;
    background: linear-gradient(95.12deg, #eed979 0%, #4f8cad 83.42%);
    position: relative;
    z-index: 1 !important;
    padding: 10px 25px;
    /* margin-top: 15px; */
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}

.blogCustomizer1 .philosophySubmitButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(95.12deg, #4f8cad 0%, #eed979 83.42%);
    z-index: -1 !important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.blogCustomizer1 .philosophySubmitButton:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 576px) {
    .blogCustomizer {
        padding-bottom: 5px;
    }
}
