.prev2 {
    margin-bottom: 200px !important;
    margin-top: -300px !important;
}

.hoverinit .main2 {
    position: relative !important;
    transform: scale(1) !important;
    transition: all .6s linear !important;
}

.main2 {
    position: relative !important;
    z-index: 2 !important;
}

.hoverinit {
    position: relative !important;
    z-index: 10 !important;
}

.Inc_Div_our-faith-main-img {
    position: relative !important;
    z-index: 10 !important;
    width: 298.04px !important;
    height: 300px !important;
    left: 0px !important;
    top: 50px !important;
    overflow: hidden !important;
    transform: rotate(-45deg) !important;
}

.Inc_Div_our-faith-main-img .main2 {
    transform: rotate(45deg) !important;
    width: 143% !important;
    height: 143% !important;
    margin-top: -21.5% !important;
    margin-left: -21.5% !important;
    transition: all 0.6s linear !important;
}

.hoverinit:hover .main2 {
    transform: scale(1.03) rotate(45deg) !important;
}

.images-2 {
    position: relative !important;
}

.wall2-container {
    position: absolute !important;
    left: 100% !important;
    top: 70% !important;
}

.small2-container {
    position: absolute !important;
    left: 70% !important;
    top: 110% !important;
}

.side2-container {
    position: absolute !important;
    left: 7% !important;
    top: 530px !important;
}

.prev-2-text-1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 42px !important;
    text-transform: uppercase !important;
    color: #3C708E !important;
}

.prev-2-text-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    color: #757575 !important;
    padding-right: 100px !important;
}

.texting-2 {
    padding-top: 10% !important;
}

@media (max-width:1505px) {
    /* .side2-container{
        left: -70% !important;
    } */
}

@media (max-width:1200px) {
    .wall2-container {
        left: 90% !important;
    }

    .side2-container {
        top: 800px !important;
        left: 0% !important;
    }

    .prev2 {
        margin-top: 0px !important;
    }
}

@media (max-width:991.81468px) {
    .wall2-container {
        left: 100% !important;
        top: 60% !important;
    }
    .img-container {
        position: relative !important;
        top: -10% !important;
    }

    .small2-container {
        top: 100% !important;
        left: 210px !important;

    }
    .images-2{
        position: relative;
        top: -50px;
    }
    .prev-2-text-1 {
        font-size: 14px !important;
    }

    .prev-2-text-2 {
        font-size: 12px !important;
        padding-right: 0px !important;
    }
}

@media (max-width:768px) {
    .prev-2-text-1 {
        font-size: 12px !important;
    }

    .prev-2-text-2 {
        font-size: 10px !important;
        padding-right: 0px !important;
    }
    .prev2{
        margin-bottom: 230px !important;
    }
}

@media (max-width:677px) {
    .side2-container {

        width: 100px !important;
        height: 160px !important;
        top: 900px !important;
        left: 20px !important;

    }
}

@media (max-width:654px) {
    .side2-container {
        top: 600px !important;
    }
}

@media(max-width:576px){
    .texting-2{
        margin-left: 10px !important;
        padding-right: 30px !important;
    }
}

@media (max-width:509px) {
    .Inc_Div_our-faith-main-img {
        width: 200px !important;
        height: 202.8px !important;
    }

    .Inc_Div_our-faith-main-img .main2 {
        width: 103% !important;
        height: 103% !important;
    }

    .img-container {
        position: relative !important;
        left: 20% !important;
    }

    .wall2-container {
        width: 20% !important;
        left: 80% !important;
        top: 70% !important;
    }

    .small2-container {
        top: 90% !important;
        width: 10% !important;
        left: 60% !important;

    }
    .side2-container{
        top: 650px !important;
    }
}

@media(max-width:427px){
    .side2-container{
        top: 600px !important;
    }
}