.second{
    background-color: #6CA0BC;;
}
.container-2-text-2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #FFFFFF;
    
}

.container-2-text-1{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    
    
    color: #FFFFFF;
    z-index: 10;
        
}
.textndimg{
    display: flex;
}
.polygon-last{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-right: 20px;
}

.backimagesecond{
    position: absolute;
    left: 60px;
}
.mainimagesecond{
    position: relative;
    z-index: 2;
    transform: scale(1);
    transition: all .6s linear;
}
.mainimagesecond:hover{
    transform: scale(1.02);
}
.imagessecond{
    position: relative;

}
.second-container{
    padding-top: 50px;
}



.rect-2-1{
    position: absolute;
    left: -30%;
    top: -14%;
}
.rect-2-2{
    position: absolute;
    left: -100%;
    top: 60%;
}
.rect-2-3{
    position: absolute;
    left: -150%;
    top: 80%;
}
.rect-2-4{
    position: absolute;
    left: 100%;
}.wall-2-2{
    position: absolute;
    left: -270%;
    z-index: 0;

}

@media(max-width:576px){
    .backimagesecond{
        position: absolute;
        left: 30px;
        width: 95%;
        height: 100%;
    }
    .mainimagesecond{
        position: relative;
        z-index: 2;
        left: 0px;
        width: 90%;
    }
}

@media(max-width:621px){
    /* .backimagesecond{
        position: absolute;
        left: 30px;
        width: 95%;
        height: 100%;
    }
    .mainimagesecond{
        position: relative;
        z-index: 2;
        left: 0px;
        width: 90%;
    } */
    .rect-2-4{
        position: absolute;
        left: 30%;
    }
}