.upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px !important;
  /* background: url(./yellow_back.png); */
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}

.left_content {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 10px !important;
  padding-right: 650px !important;
  margin-top: 150px !important;
}

.impetus_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: 0.05em;
  color: #3c708e;
  margin-bottom: 20px !important;
}

.impetus_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #232323;
  margin-bottom: 20px !important;
}

.impetus_text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
}

.main_image_container {
  position: absolute;
  top: -120px;
  right: 50px;
  z-index: 1;
  overflow: hidden;
  transform: rotate(45deg);
  /* width: 350px;
  height: 350.8px; */
}

.main_img {
  transition: all 0.5s ease-in-out;
}

.main_image_container:hover > img {
  transform: scale(1.03);
}

.right_image {
  position: relative;
  margin-right: 50px !important;

  /* transform: rotate(45deg); */
}

.back_img {
  position: absolute;
  top: -200px;
  right: -70px;
}

.wall_img {
  position: absolute;
  top: 100px;
  right: 380px;
}

.rectangle_img {
  position: absolute;
  top: -130px;
  right: 500px;
}

.smallrectangle_img {
  position: absolute;
  top: 220px;
  right: 290px;
}

.yellowbackground_aboutus {
  position: absolute;
  top: 300px;
  right: 0;
  width: 500px;
  height: 466px;
  background: rgba(255, 239, 165, 0.30196078431372547);
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

/* @media only screen and (max-width: 1600px) {
  .left_content {
    padding-right: 700px !important;
  }
} */
/* @media only screen and (max-width: 1400px) {
  .left_content {
    padding-right: 600px !important;
    padding-left: 100px !important;
  }
  .main_image_container {
    right: 100px;
  }

  .back_img {
    right: -20px;
  }

  .wall_img {
    right: 430px;
  }

  .rectangle_img {
    right: 550px;
  }

  .smallrectangle_img {
    right: 340px;
  }
} */
/* 
@media only screen and (max-width: 1300px) {
  .left_content {
    padding-right: 550px !important;
    padding-left: 20px !important;
  }
  .main_image_container {
    right: 50px;
  }

  .back_img {
    right: -70px;
  }

  .wall_img {
    right: 380px;
  }

  .rectangle_img {
    right: 500px;
  }

  .smallrectangle_img {
    right: 290px;
  }
} */

/* @media only screen and (max-width: 1200px) {
  .left_content {
    margin-left: -30px !important;
    padding-right: 380px !important;
  }
} */

@media only screen and (max-width: 1399px) {
  .left_content {
    padding-right: 480px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .main_image_container {
    position: absolute;
    height: 250px;
    width: 240px;
    top: -95px;
    right: 60px;
    z-index: 2;
  }

  .back_img {
    position: absolute;
    height: 350px;
    width: 350px;
    top: -150px;
    right: -20px;
  }

  .wall_img {
    height: 50px;
    width: 70px;
    position: absolute;
    top: 85px;
    right: 280px;
  }

  .rectangle_img {
    position: absolute;
    top: -130px;
    right: 300px;
  }

  .smallrectangle_img {
    top: 150px;
    right: 220px;
  }

  .left_content {
    padding-right: 400px !important;
    margin-top: 30px !important;
    padding-left: 50px !important;
  }
}

/* @media only screen and (max-width: 992px) {
  .left_content {
    padding-right: 350px !important;
    padding-left: 20px !important;
  }
  .main_image_container {
    right: 50px;
  }

  .back_img {
    right: -70px;
  }

  .wall_img {
    right: 380px;
  }

  .rectangle_img {
    right: 500px;
  }

  .smallrectangle_img {
    right: 290px;
  }
} */

@media only screen and (max-width: 800px) {
  .upper_container {
    flex-direction: column;
  }

  .yellowbackground_aboutus {
    top: 500px;
    width: 400px;
  }

  .left_content {
    padding: 20px !important;
    margin-top: 30px !important;
  }

  .main_image_container {
    position: absolute;
    top: 100px;
    left: -260px;
    z-index: 2;
    height: 500px;
    width: 500px;
  }

  .back_img {
    position: absolute;
    top: -3px;
    left: -210px;
    height: 500px;
    width: 500px;
  }

  .wall_img {
    position: absolute;
    top: 300px;
    left: -260px;
    /* z-index: 3; */
  }

  .rectangle_img {
    position: absolute;
    top: -240px;
    right: -200px;
  }

  .smallrectangle_img {
    position: absolute;
    top: 400px;
    left: -130px;
  }
}

@media only screen and (max-width: 480px) {
  .main_image_container {
    position: absolute;
    top: 35px;
    left: -100px;
    z-index: 2;
    height: 220px;
    width: 220px;
  }

  .back_img {
    position: absolute;
    top: -3px;
    left: -108px;
    height: 300px;
    width: 300px;
  }

  .wall_img {
    position: absolute;
    top: 180px;
    left: -140px;
    /* z-index: 3; */
  }

  .rectangle_img {
    position: absolute;
    top: -240px;
    right: -150px;
  }

  .smallrectangle_img {
    position: absolute;
    top: 250px;
    left: -55px;
  }

  .impetus_heading {
    font-size: 35px;
  }

  .impetus_text {
    font-size: 18px;
    line-height: 20px;
  }

  .impetus_text2 {
    font-size: 16px;
    line-height: 18px;
  }
}
