.ourimpetus_parent {
  position: relative;
}

.ourimpetus_yellowback {
  position: absolute;
  bottom: -150px;
  right: 0;
}
.ourimpetus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px !important;
}

.ourimpetus_text_side {
  position: relative;
  left: -30px;
  padding-right: 300px !important;
}

.impetus_text_box1,
.impetus_text_box2 {
  position: absolute;
}

.impetus_text_box1 {
  top: -50px;
  left: 500px;
}

.impetus_text_box2 {
  top: 130px;
  left: 400px;
}

.our_impetus_image_side {
  position: relative;
}

.impetus_main_backside,
.impetus_main_wall,
.impetus_main_box {
  position: absolute;
}

.impetus_main_backside {
  top: -81px;
  left: -30px;
  z-index: -1;
}

.impetus_main_wall {
  top: 210px;
  left: -100px;
  z-index: -1;
}

.impetus_main_box {
  top: 330px;
  left: 50px;
  z-index: -1;
}

.ourimpetus_textside_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: 0.05em;
  color: #3c708e;
  margin-bottom: 20px !important;
}

.ourimpetus_textside_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #232323;
  margin-bottom: 10px !important;
}

.ourimpetus_textside_smalltext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
}

.imagesidecontainer2 {
  transform: rotate(45deg);
  overflow: hidden;
  margin-right: 80px !important;
}

.impetus_mainimage {
  transition: all 0.5s ease-in-out;
}

.imagesidecontainer2:hover > img {
  transform: scale(1.03);
}

@media only screen and (max-width: 1399px) {
  .ourimpetus_text_side {
    padding-right: 150px !important;
  }
}

@media only screen and (max-width: 1025px) {
  .ourimpetus_text_side {
    padding-right: 100px !important;
  }

  .imagesidecontainer2 {
    margin-right: 100px !important;
  }

  .impetus_text_box2 {
    top: 200px;
    left: 350px;
  }
}

@media only screen and (max-width: 1030px) {
  .ourimpetus_container {
    flex-direction: column-reverse;
  }
  .ourimpetus_text_side {
    padding-right: 50px !important;
    padding-left: 50px !important;
    margin-top: 100px !important;
    left: 0px;
  }

  .imagesidecontainer2 {
    margin-right: 0px !important;
  }

  .impetus_text_box2 {
    top: 130px;
    left: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .impetus_text_box2 {
    top: 160px;
    left: 350px;
  }

  .ourimpetus_textside_smalltext {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .impetus_mainimage {
    height: 250px;
    width: 240px;
    z-index: 2;
  }

  .impetus_main_backside img {
    height: 350px;
    width: 350px;
  }

  .impetus_main_backside {
    top: -56px;
    left: -25px;
  }

  .impetus_main_wall img {
    height: 50px;
    width: 70px;
  }

  .impetus_main_wall {
    top: 160px;
    left: -70px;
  }

  .impetus_main_box {
    top: 230px;
    left: 20px;
  }

  .impetus_text_box1 {
    top: -30px;
    left: 300px;
  }
}

@media only screen and (max-width: 456px) {
  .ourimpetus_text_side {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .ourimpetus_textside_heading {
    font-size: 18px;
    line-height: 20px;
  }

  .ourimpetus_textside_description {
    font-size: 13px;
    line-height: 15px;
  }

  .ourimpetus_textside_smalltext {
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 412px) {
  .impetus_mainimage {
    height: 200px;
    width: 190px;
    z-index: 2;
  }

  .impetus_main_backside img {
    height: 280px;
    width: 280px;
  }

  .impetus_main_backside {
    top: -46px;
    left: -25px;
  }

  .impetus_main_wall img {
    height: 40px;
    width: 50px;
  }

  .impetus_main_wall {
    top: 130px;
    left: -50px;
  }

  .impetus_main_box img {
    height: 30px;
    width: 33px;
  }

  .impetus_main_box {
    top: 190px;
    left: 20px;
  }

  .impetus_text_box1 {
    top: -30px;
    left: 300px;
  }

  .impetus_text_box2 {
    top: 170px;
    left: 280px;
  }

  .ourimpetus_textside_smalltext {
    font-size: 10px;
    line-height: 16px;
  }
}
