.SACC1_container-1{
  display: flex !important;
  align-items: center !important;
}
.SACC1_text-box-1{
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding-top: 150px !important;
  left: -40px !important;

}
.SACC1_yellowbackground_Blueprint {
  position: absolute !important;
  top: 90px !important;
  right: 0 !important;

}

.SACC1_container-1_text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 150% */
  
  
  color: #232323;
} 

.SACC1_container-2_text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
font-weight: bold !important;
font-size: 32px !important;
line-height: 42px !important;
/* or 125% */

text-transform: uppercase !important;

color: #33657E;
}

.SACC1_wall{
  position: absolute !important;
  top: 35% !important;
  left: 10% !important;
}
.SACC1_smallrect{
  position: absolute !important;
  top: 50% !important;
  left: 47% !important;
}
.SACC1_image-first{
  position: relative !important;
  margin-left: 80px !important;
  left: -40px !important ;
}


.SACC1_navbar{
  margin-bottom: 100px !important;
}
.SACC1_image-first{
  position: relative !important;
}
.SACC1_rect{
  position: absolute !important;
  top: 50px !important;
  left: -50px !important;
}
.SACC1_backimg{
  position: relative !important;
  left: 20% !important;
  

}


 .SACC1_smaller-rect-prev-1{
     position: absolute !important;
     left: 65% !important;
     top: 92% !important;
 }
.SACC1_banner_right_inner{
  position: relative !important;
  width: 350px !important;
  height: 350.8px !important;
  top: -50% !important;
  left: 30% !important;

  transform: rotate(45deg) !important;
  overflow: hidden !important;

 }
 .SACC1_banner_right_inner .SACC1_main-prev1{
  width: 510px !important;
  height: 512.19px !important;
  margin-top: -80px !important;
  margin-left: -80px !important;
  transform: rotate(-45deg) !important;
  transition: all 0.8s ease !important;

 }
 .SACC1_banner_right_inner:hover .SACC1_main-prev1 {
  transform: scale(1.03) rotate(-45deg) !important;
 }

 @media(max-width: 1436px){
   .SACC1_text-box-1{
     position: relative !important;
     left: 10% !important;
   }
 }

@media (max-width:1400px){
  .SACC1_image-first{
      left: -40px !important;
  }
  .SACC1_text-box-1{
    position: relative !important;
    left: 0% !important;
  }
}


@media (max-width:1300px){
  .SACC1_image-first{
      position: relative !important;
      left: -150px !important ;
  }
}

@media (max-width:1200px){

}

@media (max-width:1144px){
  .SACC1_image-first{
      left: -30% !important;
  }
}

@media (max-width:1086px){
  .SACC1_text-box-1{
      position: relative !important;
      left: -5% !important ;
  }
  .SACC1_image-first{
      position: relative !important;
      left: -170px !important ;
  }
  .SACC1_container-2_text{
    margin-right: 60px !important;
  }
 
}
@media (max-width:1036px){
  .SACC1_text-box-1{
      position: relative !important;
      left: -1% !important ;
  }
  .SACC1_image-first{
      position: relative !important;
      left: -170px !important ;
  }
 
}
@media (max-width:991.82486px){
  .SACC1_banner_right_inner{
      position: relative !important;
      width: 330px !important;
      height: 332.8px !important;
      bottom: 410px !important;
  }
  .SACC1_container-2_text{
    margin-right: 0px !important;
  }
  .SACC1_backimg{
      width: 480px !important;
      height: 482.8px !important;
      left: 20% !important;
      top: -5px !important;
  }
  .SACC1_image-first{
      left: -10% !important;
  }
  .SACC1_first-image{
      flex-direction: column-reverse !important;
  }
  .SACC1_text-box-1{
      padding-top: 0px !important;
      bottom: 200px !important;
  }
  .SACC1_text-box-1{
      position: relative !important;
      left: 0% !important;
  }
  .SACC1_wall{
    left: 15% !important;
  }
  .SACC1_smallrect{
    left: 43% !important;
  }
  .SACC1_container-1_text{
    font-size: 16px !important;
}
.SACC1_container-2_text{
    font-size: 14px !important;
}
.SACC1_text-box-1{
  top: -300px;
}
}
@media (max-width:767.81546px){
  .SACC1_banner_right_inner{
      width: 330px !important;
      height: 332.8px !important;
      left: 0% !important;
  }
  .SACC1_backimg{
      width: 480px !important;
      height: 482.8px !important;
      left: 10% !important;
      top: 2% !important;
  }
  .SACC1_image-first{
      left: -10% !important;
  }
}
@media (max-width:767.8164px){
  .SACC1_banner_right_inner{
      width: 330px !important;
      height: 332.8px !important;
      left: 15% !important;
  }
  .SACC1_backimg{
      width: 480px !important;
      height: 482.8px !important;
      left: 10% !important;
      top: 2% !important;
  }
  .SACC1_image-first{
      left: -10% !important;
  }
  .SACC1_wall{
      position: absolute !important;
      top: 35% !important;
      left: 0% !important;
  }
  .SACC1_smallrect{
      position: absolute !important;
      top: 50% !important;
      left: 27% !important;
  }
  .SACC1_container-1_text{
      font-size: 12px !important;
  }
  .SACC1_container-2_text{
      font-size: 10px !important;
  }
}

@media(max-width:576px){
  .SACC1_text-box-1{
    margin-left: 10px !important;
    padding-right: 30px !important;
  }
}

@media (max-width:654px){
  .SACC1_banner_right_inner{
      width: 220px !important;
      height: 222.8px !important;
      left: 15% !important;
      bottom: 270px !important;
  }
  .SACC1_backimg{
      width: 320px !important;
      height: 322.8px !important;
      left: 5% !important;
      top: 2% !important;
  }
  .SACC1_image-first{
      left: 0% !important;
  }
  .SACC1_wall{
      position: absolute !important;
      top: 35% !important;
      left: 0% !important;
      width: 20% !important;
  }
  .SACC1_smallrect{
      position: absolute !important;
      top: 50% !important;
      left: 27% !important;
      width: 10% !important;
  }
  .SACC1_text-box-1{
    top: -190px !important;
  }
}
@media (max-width:497px){
  .SACC1_image-first{
      left: 5% !important;
  }
}
@media (max-width:427px){
  .SACC1_banner_right_inner{
      width: 180px !important;
      height: 182.8px !important;
      left: 15% !important;
      bottom: 220px !important;
  }
  .SACC1_backimg{
      width: 260px !important;
      height: 262.8px !important;
      left: 5% !important;
      top: 2% !important;
  }
  .SACC1_image-first{
      left: 5% !important;
  }
  .SACC1_wall{
      position: absolute !important;
      width: 20% !important;
      top: 35% !important;
      left: -5% !important;
  }
  .SACC1_smallrect{
      position: absolute !important;
      width: 10% !important;
      top: 50% !important;
      left: 30% !important;
  }
  .SACC1_text-box-1{
      padding-top: 30px !important;
  }
}

@media (max-width: 377px){
  .SACC1_image-first{
      left: -5% !important;
  }
  .SACC1_smallrect{
      position: absolute !important;
      width: 10% !important;
      top: 50% !important;
      left: 30% !important;
  }
}
