.sacc3_parent {
  background-image: url("./images/img1.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sacc3Container {
  position: relative;
}

.sacc3TextContainer {
  position: absolute;
  background-color: white;
  width: 65%;
  left: 74px;
  top: -74px;
}
.sacc3TextWrapper {
  padding: 40px 40px 40px 0;
}
.sacc3Left {
  margin-right: 40px;
}
.sacc3Heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #3c708e;
}
.sacc3Heading2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #232323;
}
.sacc3Para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}
.sacc3Button {
  width: 140px;
  height: 42px;
  border: 3px solid transparent;
  border-image: linear-gradient(95.12deg, #eed979 0%, #6ca0bc 83.42%);
  border-image-slice: 1;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.sacc3Button:hover {
  /* background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), #C4C4C4; */
  background: rgb(34, 193, 195);
  background: linear-gradient(95.12deg, #eed979 0%, #6ca0bc 83.42%);
  border: none;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .sacc3TextContainer {
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .sacc3TextContainer {
    width: 70%;
  }
}
@media(max-width:992px){
  .sacc3Heading1 {
    font-size: 16px;
    line-height: 22px;
  }
  .sacc3Heading2 {
    font-size: 14px;
    line-height: 22px;
  }
  .sacc3Para {
    font-size: 12px;
    line-height: 14px;
  }
}

@media(max-width:768px){
  .sacc3Heading1 {
    font-size: 14px;
    line-height: 16px;
  }
  .sacc3Heading2 {
    font-size: 12px;
    line-height: 22px;
  }
  .sacc3Para {
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .sacc3Heading1 {
    font-size: 14px;
    line-height: 16px;
  }
  .sacc3Heading2 {
    font-size: 12px;
    line-height: 22px;
  }
  .sacc3Para {
    font-size: 10px;
    line-height: 14px;
  }

  .sacc3TextWrapper {
    padding-right: 10px !important;
    padding-bottom: 10px !important;
  }

  .sacc3Left {
    margin-right: 10px !important;
  }
}

@media(max-width:768px){
  .sacc3Right{
    position: relative !important;
    left: -15% !important;
    margin-right: -30px !important;
    padding-bottom: 30px !important;
  }
  .sacc3Button{
    width: 100px !important;
    height: 32px !important;
    font-size: 10px !important;
  }
}