.third{
    overflow: hidden;
    padding-bottom: 10px;
    background-color: #F8F8F8;
    position: relative;
    /* overflow-x: hidden; */
}
.contoiner-3{
    display: flex;
    align-items: center;
    padding-top: 100px;
 
}

.texting-third{
    padding-top: 70px;
}

.container-3_text-1_heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 178% */
    margin-bottom: 5px;
    
    
    color: #3C708E;
    
}
.icon1-blueprint {
    margin-top: 6px;
}
.container-3_text-2_heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 178% */
    margin-bottom: 5px;
    margin-right: -120px;
    
    color: #3C708E;
}
.container-3_text-3_heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 178% */
    margin-bottom: 5px;
    
    
    color: #3C708E;  
}
.container-3_text-1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 157% */
    
    
    color: #757575;
    margin-right: 60px;
    
}
.container-3_text-2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 157% */
    
    
    color: #757575;
    margin-right: 60px;
       
}
.container-3_text-3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 157% */
    
    
    color: #757575;
    margin-right: 60px;
        
}
.icon{
    width: 43px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 50%;
    margin-top: 6px;
    
}
.icon1{
    margin-top: 6px;
}
.textndicon{
    display: flex;
    justify-content: center;
    
}
.text-box-3{
    padding-left: 10px;
    
    
}
.heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
/* identical to box height, or 137% */

    text-transform: uppercase;

    color: #3C708E;

}
.bp_iwfc_img{
    position: absolute;
    left: -230px;
    top: -300px;
    z-index: 10;
    width: 330.17px;
    
    margin-top: 60px;
    height: 332.19px;
    transform: rotate(45deg);
    overflow: hidden;
  }
  .bp_iwfc_img .main3{
    transform: rotate(-45deg);
    width: 143%;
    height: 143%;
    margin-top: -70px;
    margin-left: -70px;
    transition: all 0.6s ease;
   
  }
  .bp_iwfc_img:hover .main3{
    transform: scale(1.03) rotate(-45deg);
  }
.button-4{
    width: 155px;
   height: 42px;
   display: flex;
   margin-left: 68px;
   margin-bottom: 85px;
   margin-top: 30px;
   justify-content: center;
    background-image: url('../prev-third/button-5.png'); 
   transition: all 0.6s ease;
  }
  .button-4 .button-link{
    
   margin-top: 12px;
   text-decoration: none;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
text-align: center;
color: #232323;

  } 
  .button-4:hover{
   /*  margin-top: 25px; */
    background: linear-gradient(95.12deg, #4f8cad 0%, #eed979 75.42%);
  }
  .button-4:hover .button-link{
    text-decoration: none;
    color:#FFFF ;
  }
.images-prev-3{
    position: relative;

}
.back3{
    position: absolute;
    top: -300px;
    left: -250px;

}
.wall3{
    position: absolute;
    left: 20px;
    top: 30px;
    
}
.small3{
    position: absolute;
    left: -240px;
    top: 0px;
   
}
.smaller3{
    position: absolute;
    left: 130px;
    top: -290px;
    
    
}
.images-hover-4{
    position: relative;

    
}


.main3:hover{
    transform: scale(1.02);
}

button-4{
        margin-bottom: 85px;
    }

    @media(max-width:1268px){
        .container-3_text-2_heading{
            margin-right: 0px;
        }
    }

@media(max-width:1107px){
    .images-prev-3{
        left: 10%;
    }
}

@media (max-width:991.812484px){
  
    .third{
        padding-top: 360px;
    }
    .texting-third{
        padding-top: 230px;
    }
    .images-prev-3{
        left: 0%;
    }
}
@media (max-width:800px){
    .third-image{
        position: relative;
        left: 60px;
    }
    .container-3_text-1_heading{
        font-size: 14px;
        line-height: 20px;
    }
    .container-3_text-1{
        margin-right: 0px;
        font-size: 12px;
    }
    .container-3_text-2_heading{
        font-size: 14px;
        line-height: 20px;
        margin-right: 0px;
    }
    .container-3_text-2{
        margin-right: 0px;
        font-size: 12px;
    }
    .container-3_text-3_heading{
        font-size: 14px;
        line-height: 20px;
    }
    .container-3_text-3{
        margin-right: 0px;
        font-size: 12px;
    }
}
@media (max-width:768px){
    .container-3_text-1_heading{
        font-size: 12px;
        line-height: 20px;
    }
    .container-3_text-1{
        margin-right: 0px;
        font-size: 10px;
    }
    .container-3_text-2_heading{
        font-size: 12px;
        line-height: 20px;
        margin-right: 0px;
    }
    .container-3_text-2{
        margin-right: 0px;
        font-size: 10px;
    }
    .container-3_text-3_heading{
        font-size: 12px;
        line-height: 20px;
    }
    .container-3_text-3{
        margin-right: 0px;
        font-size: 10px;
    }
    .images-prev-3{
        margin-top: 20px;
    }
}

@media (max-width:634px){
    .bp_iwfc_img{
        width: 250px;
        height: 252.8px; 
        top: -250px;  
        left: -180px;     
    }
    .back3{
        width: 350px;
        height: 350px;
        top: -220px;
        left: -200px;
        
    }
    .smaller3{
        position: relative;
        left: -10px;
    }
    .third-image{
        position: relative;
        left: 60px;
    }
    .wall3{
        width: 100px;
    }
    .small3{
        width: 40px;
        left: -190px;
       
    }
    .images-prev-3{
        margin-top: 20px;
        margin-bottom: -60px;
    }
}

@media(max-width:576px){
    .texting-third{
        margin-left: 10px;
        padding-right: 30px;
    }
}

@media(max-width:425px){
    .icon1-blueprint{
        width: 40px;
    }
    .images-prev-3{
        margin-top: -20px;
        margin-bottom: -150px;
        padding-bottom: 0px;
    }
}

@media (max-width:500px){
    .bp_iwfc_img{
        width: 230px;
        height: 230px;
    }
    .back3{
        width: 310px;
        height: 320px;
        
    }
    .wall3{
        width: 270%;
        top: -10%;
        left: -10%;
    }
    .small3{
        left: -190px;
        top: -10px;
    }
    .images-prev-3{
        left: 3%;
    }
    .third{
        top: 50px;
    }

}