.bp-cp2-img1-d {
  position: relative;
  top: 30%;
  left: 2%;
}
.bp-cp2-img1 {
  width: 450px;
}
.bp-cp2-img2-d {
  position: relative;
  left: 40%;
  width: 45%;
  bottom: 300px;
}
.bp-cp2-img2 {
  position: relative;
  width: 679px;
}
.bp-cp2-main {
  position: relative;
  top: 70px;
}
