.container-1-Id {
    display: flex;
    align-items: center;
}
.Inclusion{
    margin-bottom: 80px;
}
.text-box-1-Id {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    left: 3%;
}

.yellowbackground_Inclusion {
    position: absolute;
    top: 90px;
    right: 0;
}

.container-1_text-Id {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #3C708E;
}

.container-2_text-Id {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #232323;
}

.container-3_text-Id {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 130px;
    color: #232323;
}

.wall-Id {
    position: absolute;
    top: 35%;
    left: 12%;
}

.smallrect-Id {
    position: absolute;
    top: 50%;
    left: 47%;
}

.image-first-Id {
    margin-left: 80px;
}

.navbar-Id {
    margin-bottom: 100px;
}


.rect-Id {
    position: absolute;
    top: 50px;
    left: -50px;
}

.backimg-Id {
    position: relative;
    left: 20%;

}

.smaller-rect-prev-1-Id {
    position: absolute;
    left: 74%;
    top: 92%;
}

.first-image-Id {
    position: relative;
    left: -5%;
}

.banner_right_inner-Id {
    position: relative;
    width: 350px;
    height: 350.8px;
    top: -50%;
    left: 30%;
    transform: rotate(45deg);
    overflow: hidden;
}

.banner_right_inner-Id .main-prev1-Id {
    width: 510px;
    height: 512.19px;
    margin-top: -80px;
    margin-left: -80px;
    transform: rotate(-45deg);
    transition: all 0.8s ease;
}

.banner_right_inner-Id:hover .main-prev1-Id {
    transform: scale(1.03) rotate(-45deg);
}

@media(max-width:1500px) {
    .yellow_Incl {
        display: none;
    }
}

@media(max-width:1400px){
    .Inclusion{
        margin-bottom: -250px;
    }
}

@media(max-width:1450px){
    .text-box-1-Id{
        position: relative;
        left: 10%;
    }
}

@media (max-width:1300px) {
    .image-first-Id {
        position: relative;
        left: -100px;
    }
}

@media(max-width:1199.18798787px) {
    .image-first-Id {
        left: -30%;
    }
    .smallrect-Id{
        left: 49%;
    }
}

@media(max-width:1237px){
    .text-box-1-Id{
        left: 10%;
    }
}

@media (max-width:991.2987197px) {
    .banner_right_inner-Id {
        position: relative;
        width: 330px;
        height: 332.8px;
        bottom: 410px;
        left: 35%;
    }
    .Inclusion{
        margin-bottom: 80px;
    }

    .container-1_text-Id {
        font-size: 14px;
    }

    .container-2_text-Id {
        font-size: 16px;
    }

    .container-3_text-Id {
        font-size: 12px;
    }

    .backimg-Id {
        width: 480px;
        height: 482.8px;
        left: 30%;
        top: 2%;
    }

    .image-first-Id {
        left: -10%;
    }

    .first-image-Id {
        flex-direction: column-reverse;
    }

    .text-box-1-Id {
        padding-top: 0px;
        bottom: 200px;
        left: 5%;

    }

    .wall-Id {
        left: 20%;
    }

    .rect-Id {
        left: 20%;
    }

    .container-3_text-Id {

        margin-right: 0px;

    }

}

@media (max-width:767.81654px) {
    .banner_right_inner-Id {
        width: 330px;
        height: 332.8px;
        left: 0%;
    }

    .backimg-Id {
        width: 480px;
        height: 482.8px;
        left: 10%;
        top: 2%;
    }

    .image-first-Id {
        left: -10%;
    }

    .text-box-1-Id {
        margin-right: 30px;
    }

}

@media (max-width:767.8624px) {
    .banner_right_inner-Id {
        width: 330px;
        height: 332.8px;
        left: 15%;
    }

    .backimg-Id {
        width: 480px;
        height: 482.8px;
        left: 10%;
        top: 2%;
    }

    .image-first-Id {
        left: -10%;
    }

    .wall-Id {
        position: absolute;
        top: 35%;
        left: -5%;
    }

    .smallrect-Id {
        position: absolute;
        top: 50%;
        left: 32%;
    }

    .text-box-1-Id {
        margin-right: 0px;
    }

    .container-1_text-Id {
        font-size: 12px;
    }

    .container-2_text-Id {
        font-size: 14px;
    }

    .container-3_text-Id {
        font-size: 10px;
    }
}

@media (max-width:654px) {
    .banner_right_inner-Id {
        width: 220px;
        height: 222.8px;
        left: 20%;
        bottom: 270px;
    }

    .main-prev1-Id {
        width: 400px !important;
        height: 402.19px !important;
    }

    .backimg-Id {
        width: 320px;
        height: 322.8px;
        left: 10%;
        top: 2%;
    }

    .image-first-Id {
        left: 0%;
    }

    .wall-Id {
        position: absolute;
        top: 35%;
        left: 0%;
        width: 20%;
    }

    .smallrect-Id {
        position: absolute;
        top: 50%;
        left: 33%;
        width: 10%;
    }
}

@media(max-width:576px){
    .first-image-Id{
        margin-left: 10px;
        padding-right: 30px;
    }
}

@media (max-width:512px) {
    .backimg-Id {
        left: 10%;
    }

}

@media (max-width:480px) {
    .image-first-Id {
        left: -9%;
    }
}

@media (max-width:448px) {
    .banner_right_inner-Id {
        left: 15%;
    }

    .image-first-Id {
        left: -10%;
    }

    .container-2_text-Id {
        margin-right: 0px;
    }

    .container-3_text-Id {
        margin-right: 0px;
    }

    .backimg-Id {
        left: 4%;
    }

    .smallrect-Id {
        position: absolute;
        top: 50%;
        left: 33%;
        width: 10%;
    }

    .wall-Id {
        position: absolute;
        top: 35%;
        left: 0%;
        width: 20%;
    }
}

@media(max-width:370px){
    .first-image-Id{
        margin-left: 10px;
        padding-right: 60px !important;
    }
}

@media (max-width:428px) {
    .image-first-Id {
        left: -7%;
    }

    .text-box-1-Id {
        margin-right: 50px;
    }

    .backimg-Id {
        left: 5%;
    }

    .container-2_text-Id {
        margin-right: 20px;
        line-height: 22px;
    }

    .container-3_text-Id {
        margin-right: 20px;
    }

    .wall-Id {
        position: absolute;
        top: 35%;
        left: -8%;
        width: 25%;
    }

    .smallrect-Id {
        position: absolute;
        top: 50%;
        left: 28%;
        width: 13%;
    }
}

@media (max-width:386px) {
    .image-first-Id {
        left: -15%;
    }
    .wall-Id{
        left: -5%;
    }
}