.BP-CP5-h1 {
  height: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #33657e;
}
.BP-CP5-heading {
  position: relative;
  margin-top: 7%;
  margin-left: 25%;
  width: 70%;
}
.bp-cp-5-img-2 {
  position: relative;
  right: 155%;
}
.bp-cp-5-img-1 {
  position: relative;
  right: 145%;
  bottom: 50%;
  z-index: -1;
}
