.BP-c3-p {
  font-style: Medium;
  font-style: 16px;
  line-height: 24px;
  vertical-align: Top;
  color: white;
  text-align: left;
}
.BP-c3-h {
  font-style: Bold;
  font-style: 30px;
  line-height: 44px;

  text-align: left;
  vertical-align: Top;
  color: white;

  text-transform: uppercase;
}
.BP-c3-d {
  width: 60%;
  padding: 30px;
  margin: auto;
  text-align: center;
  position: relative;
  left: 280px;

  background: linear-gradient(102.62deg, #a06daf 18.52%, #6ca0bc 82.82%);

  right: 0;
  color: #ffffff;
}
.bp-cp-4-main {
  height: 500px;
}
.BP-CP-4-img-d {
  width: 100%;
  margin-top: 15%;
}
.BP-CP-4-img {
  width: 100%;
}
.bp-cd4-textdiv {
  position: relative;
  bottom: 88%;
}
