body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fullSection{
  background: linear-gradient(255.47deg, #EEDFF2 2.24%, #E1EDF3 17.92%, #FFFFFF 48.34%);
}

.landingPage{
  height: 37.5em !important;
}
.snakes{
  width: 56.5% !important;
}
.flexing{
  height: 100%;
}
.mediumD1{
  width: 4%;
  margin-top: 11% !important;
  margin-right: 15% !important;
}
.mediumD2{
  width: 4%;
  margin-bottom: -4% !important;
  margin-right: -2% !important;
  /* transform: rotate(360deg);
  transition : all 2s infinite; */
}
.mediumD2{
  animation-name: revolve;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes revolve{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.brandPara{
  height: 38% !important;
  width: 40.5% !important;
  margin-left: -3.5% !important;
}
.paraHead{
  font-size: 1.5em;
  color: #33657E;
}
.paraText{
  font-size: 1em;
  color: #757575;
  text-align: justify;
}
.art{
  height: 100%;
  width: 58%;
}
.imprvdCompBlock{
  margin-top: 15% !important;
  margin-right: 14.5% !important;
  width: 21%;
  height: 13%;
}
.imprvdCompImg:hover{
  transform: scale(1.04);
  transition-duration: 3s;
}
.imprvdCompImg{
  width: 70%;
}
.imprvdCompText{
  font-size: 0.64em !important;
  padding-left: 10% !important;
  width: 51%;
  color: #33657E;
  font-weight: 500;
}
.relatableIDBlock{
  margin-bottom: -7% !important;
  margin-right: 15% !important;
  width: 21% !important;
  height: 16% !important;
}
.relatableIDImg:hover{
  transform: scale(1.04);
  transition-duration: 3s;
}
.relatableIDImg{
  width: 70%;
}
.relatableIDText{
  font-size: 0.76em !important;
  padding-left: 10% !important;
  width: 51% !important;
  color: #33657E !important;
  font-weight: 500 !important;
}
.custLoyaltyBlock{
  margin-bottom: -4% !important;
  margin-left: 31% !important;
  width: 23% !important;
  height: 18.5% !important;
}
.custLoyaltyImg:hover{
  transform: scale(1.04);
  transition-duration: 3s;
}
.custLoyaltyImg{
  width: 70%;
}
.custLoyaltyText{
  font-size: 0.74em;
  padding-left: 5%;
  width: 51%;
  color: #33657E;
  font-weight: 500;
}
.omniBlock{
  margin-top: 12% !important;
  margin-left: 5% !important;
  width: 23% !important;
  height: 17% !important;
}
.omniImg:hover{
  transform: scale(1.04);
  transition-duration: 3s;
}
.omniImg{
  width: 70%;
}
.omniText{
  font-size: 0.75em;
  padding-left: 7% !important;
  width: 51%;
  color: #33657E;
  font-weight: 500;
}
.phnbtn{
  width: 5% !important;
  margin-right: 4% !important;
  margin-bottom: 13% !important;
}
.phnbtn::after{
  z-index: 10 !important;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5vw;
  width: 2.5vw;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.littleD1{
  width: 5% !important;
  margin-top: 10% !important;
  margin-right: 12% !important;
}
.littleD2{
  width: 5% !important;
  margin-left: 47% !important;
  margin-bottom: 19% !important;
}
.textD{
  width: 35% !important;
  margin-left: 15% !important;
  margin-bottom: -3% !important;
}
.social{
  width: 7% !important;
  height: 35% !important;
}
@media only screen and (max-width :1024px){
  .snakes{
    width: 65% !important;
  }
  .imprvdCompText{
    font-size: 0.55em !important;
    padding-left: 5% !important;
  }
  .mediumD2{
    margin-bottom: 11% !important;
    margin-right: 5% !important;
  }
  .textD{
    width: 30% !important;
    margin-left: 5% !important;
    margin-bottom: 25% !important;
  }
  .omniBlock{
    width: 23% !important;
    margin-left: -1% !important;
    margin-top: 7% !important;
  }
  .custLoyaltyBlock{
    margin-bottom: 3% !important;
    margin-left: 23% !important;
    width: 21% !important;
    height: 15.5% !important;
  }
  .imprvdCompBlock{
    margin-top: 15% !important;
  margin-right: 19% !important;
  width: 21% !important;
  height: 15% !important;
  }
  .littleD2{
    margin-left: 35%;
    margin-bottom: 22%;
  }
  .relatableIDBlock{
    width: 21% !important;
    margin-bottom: 3% !important;
    margin-right: 21% !important;
    height: 16% !important;
  }
  .social{
    width: 10% !important;
    height: 35% !important;
  }
}
@media only screen and (max-width :992px){
  .snakes{
    width: 67%;
  }
  .landingPage{
    height: 30em !important;
  }
  .paraHead{
    font-size: 0.9em;
  }
  .paraText{
    font-size: 0.7em;
  }
  .imprvdCompBlock{
    margin-top: 22% !important;
    margin-right: 29% !important;
    width: 19% !important;
    height: 10% !important;
  }
  .imprvdCompText{
    font-size: 0.42em !important;
    padding-left: 0% !important;
  }
  .relatableIDBlock{
    margin-bottom: 10% !important;
    margin-right: 20% !important;
    width: 21% !important;
    height: 9% !important;
  }
  .relatableIDText{
    font-size: 0.4em !important;
  padding-left: 5% !important;
  }
  .mediumD2{
    margin-bottom: 15% !important;
    margin-right: 4% !important;
  }
  .textD{
    margin-left: 4% !important;
    margin-bottom: 33% !important;
  }
  .custLoyaltyBlock{
    margin-bottom: 11% !important;
    margin-left: 19% !important;
    height: 11% !important;
  }
  .custLoyaltyText{
    font-size: 0.5em !important;
  }
  .littleD2{
    margin-left: 35% !important;
  margin-bottom: 39% !important;
  }
  .omniText{
    font-size: 0.5em !important;
    padding-left: 5% !important;
  }
  .omniBlock{
    width: 22%;
    height: 11%;
    margin-left: -7% !important;
    margin-top: 0% !important;
  }
  .social{
    width: 12% !important;
    height: 50% !important;
    padding-right: 0% !important;
  }
}
@media only screen and (max-width :576px){
  .snakes{
    width: 95% !important;
  }
  .flexing{
    flex-direction: column-reverse;
  }  
  .brandPara{
    width: 80% !important;
    position: relative !important;
    margin: 0% auto !important;
  }
  .art{
    width: 100%;
    height: 35%;
    position: relative !important;
  }
  .landingPage{
    height: 17.5em;
  }
  .paraHead{
    font-size: 10px;
    padding: 0% 10%;
  }
  .paraText{
    font-size: 7px;
    padding: 0% 10%;
  }
  .brandPara{
    width: 39%;
    margin-top: -5%;
  }
  .mediumD2{
    margin-bottom: 63% !important;
    margin-right: 28% !important;
  }
  .littleD2{
    margin-left: 29%;
  margin-bottom: 33%;
  }
  .textD{
    width: 23% !important;
    margin-left: 17% !important;
    margin-bottom: 24% !important;
  }
  .imprvdCompBlock{
    width: 17% !important;
    height: 11% !important;
    margin-top: -20% !important;
    margin-right: 23% !important;
  }
  .imprvdCompText{
    font-size: 0.25em !important;
    padding-left: 1% !important;
    width: 51% !important;
  }
  .relatableIDBlock{
    margin-bottom: 26% !important;
    margin-right: 23% !important;
    width: 18% !important;
    height: 11% !important;
  }
  .relatableIDText{
    font-size: 0.3em !important;
    padding-left: 0% !important;
  }
  .custLoyaltyBlock{
    margin-bottom: 30% !important;
    margin-left: 27.5% !important;
    width: 21% !important;
    height: 12% !important;
  }
  .custLoyaltyText{
    font-size: 0.3em !important;
    padding-left: 3.5% !important;
    width: 51% !important;
  }
  .omniBlock{
    margin-top: -19% !important;
    margin-left: 0% !important;
    width: 21% !important;
    height: 11% !important;
  }
  .omniText{
    font-size: 0.3em !important;
    padding-left: 1.5% !important;
    width: 51% !important;
    color: #33657E !important;
  }
  .social{
    width: 25% !important;
    height: 50% !important;
    margin: 0% 0% !important;
  }
  .socialDiv{
    margin: 0px 0px !important;
  }
  .phnbtn{
    margin-right: 20% !important;
    margin-bottom: 20%;
  }
  .littleD1{
    margin-right: 13%;
    margin-top: -4% !important;
  }
}
