.quote_container_parent {
  position: relative;
}

.quote_container {
  margin-top: 200px !important;
  margin-bottom: 50px !important;
  position: relative;
}

.all_contents {
  margin-left: 300px !important;
  margin-right: 20px !important;
  padding-left: 200px !important;
  padding-right: 50px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background: #fefafe;
}

.main_upper_text {
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  margin-bottom: 20px !important;
}

.main_bottom_text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #59205c;
}

.image_left {
  position: absolute;
  top: -90px;
  left: 130px;
}

.quote_image {
  position: absolute;
  top: -40px;
  left: 400px;
  z-index: 5;
  transition: all 0.6s ease-in-out;
}

.quote_container:hover .quote_image {
  top: -60px;
}

.quote_container:hover .quote_image img {
  filter: saturate(4);
}

.image_left img {
  border-radius: 50%;
}

.box_image {
  position: absolute;
  top: -180px;
  left: 60px;
}

.box_image img {
  height: 280px;
  width: 190px;
}
/* 
@media only screen and (max-width: 1141px) {
  .all_contents {
    margin-right: 10px !important;
  }
} */

@media only screen and (max-width: 1200px) {
  .all_contents {
    margin-left: 300px !important;
    margin-right: 0px !important;
    padding-left: 100px !important;
    padding-right: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background: #fefafe;
  }

  .box_image {
    position: absolute;
    top: -180px;
    left: 50px;
  }

  .image_left {
    position: absolute;
    top: -90px;
    left: 130px;
  }

  .quote_image {
    position: absolute;
    top: -40px;
    left: 400px;
    z-index: 5;
    transition: all 0.6s ease-in-out;
  }
}

@media only screen and (max-width: 992x) {
  .all_contents {
    padding-left: 70px !important;
    /* padding-right: 10px !important; */
  }
}

@media only screen and (max-width: 800px) {
  .quote_container {
    margin-top: 100px !important;
    margin-bottom: 380px !important;
  }

  .all_contents {
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .quote_image {
    left: 40px;
  }

  .image_left {
    top: 330px;
    left: 230px;
  }

  .box_image {
    top: 270px;
    left: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .image_left {
    top: 350px;
    left: 230px;
  }

  .box_image {
    top: 270px;
    left: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .quote_container {
    margin-top: 100px !important;
  }

  .box_image {
    left: 20px;
    top: 280px;
  }

  .image_left {
    left: 170px;
  }
}

@media only screen and (max-width: 426px) {
  .main_upper_text {
    font-size: 14px;
  }

  .main_bottom_text {
    font-size: 14px;
  }

  .all_contents {
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .box_image {
    top: 300px;
    left: 30px;
  }

  .image_left {
    top: 400px;
    left: 150px;
  }
}

@media only screen and (max-width: 383px) {
  .box_image {
    top: 310px;
    left: 10px;
  }

  .image_left {
    top: 440px;
    left: 120px;
  }
}

@media only screen and (max-width: 348px) {
  .quote_container {
    margin-bottom: 340px !important;
  }

  /* .box_image {
    top: 270px;
    left: -10px;
  }

  .image_left {
    top: 360px;
    left: 130px;
  } */
}
