.container-1-Clients {
    display: flex;
    align-items: center;

}
.Clients{
    margin-bottom: -250px;
}
.text-box-1-Clients {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    left: 5%;

}

.container-1_text-Clients {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    color: #3C708E;


}

.container-2_text-Clients {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #232323;
}

.container-3_text-Clients {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-right: 130px;
    color: #232323;
}

.wall-Clients {
    position: absolute;
    top: 35%;
    left: 12%;
}

.smallrect-Clients {
    position: absolute;
    top: 50%;
    left: 45%;
}

.image-first-Clients {
    margin-left: 80px;
    margin-top: 20px;
}


.navbar-Clients {
    margin-bottom: 100px;
}

.rect-Clients {
    position: absolute;
    top: 50px;
    left: -50px;
}

.backimg-Clients {
    position: relative;
    left: 20%;

}

.yellowbackground_Clients {
    position: absolute;
   right: 0;
   top: 100px;
}

.smaller-rect-prev-1 {
    position: absolute;
    left: 61% !important;
    top: 73% !important;
}

.first-image-Clients {
    position: relative;
    left: -5%;
}

.banner_right_inner-Clients {
    position: relative;
    width: 350px;
    height: 350.8px;
    top: -50%;
    left: 30%;
    transform: rotate(45deg);
    overflow: hidden;
}

.banner_right_inner-Clients .main-prev1-Clients {
    width: 510px;
    height: 512.19px;
    margin-top: -80px;
    margin-left: -80px;
    transform: rotate(-45deg);
    transition: all 0.8s ease;
}

.banner_right_inner-Clients:hover .main-prev1-Clients {
    transform: scale(1.03) rotate(-45deg);
}

@media(max-width:1456px){
    .text-box-1-Clients{
        left: 15%;
    }
}



@media (max-width:1300px) {
    .image-first-Clients {
        position: relative;
        left: -50px;
    }
}

@media(max-width:1200px) {
    .image-first-Clients {
        left: -100px;
    }
    .Clients{
        margin-bottom: -200px;
    }
    .smallrect-Clients{
        left: 52%;
    }
}

@media(max-width:1063px){
    .text-box-1-Clients{
        left: 5%;
    }
    .image-first-Clients{
        left: -120px;
    }
}

@media(max-width: 1012px){
    .text-box-1-Clients{
        left: 10%;
    }
    .image-first-Clients{
        left: -140px;
    }
    .container-2_text-Clients{
        margin-right: 60px;
    }
}

@media (max-width:991.8px) {
    .banner_right_inner-Clients {
        position: relative;
        width: 330px;
        height: 332.8px;
        bottom: 410px;
        left: 35%;
    }
    .Clients{
        margin-bottom: -50px;
    }
    .backimg-Clients {
        width: 480px;
        height: 482.8px;
        left: 20%;
        top: 2%;
    }
    .container-1_text-Clients{
        font-size: 16px;
        line-height: 22px;
    }
    .container-2_text-Clients{
        font-size: 14px;
        line-height: 22px;
        margin-right: 0px;
    }
    .container-3_text-Clients{
        font-size: 12px;
        line-height: 22px;
    }
    .image-first-Clients {
        left: -10%;
    }
    .first-image-Clients {
        flex-direction: column-reverse;
    }
    .text-box-1-Clients {
        padding-top: 0px;
        bottom: 200px;
        left: 5%;
    }
    .wall-Clients {
        left: 20%;
    }
    .rect-Clients {
        left: 20%;
    }
    .smallrect-Clients{
        left: 50%;
    }
    .container-3_text-Clients {
        margin-right: 0px;
    }
    .text-box-1-Clients{
        left: 0%;
    }

}

@media(max-width: 830px){
    .text-box-1-Clients{
        left: 3%;
    }
}

@media(max-width:767.816px) {
    .banner_right_inner-Clients {
        width: 330px;
        height: 332.8px;
        left: 15%;
    }

    .backimg-Clients {
        width: 480px;
        height: 482.8px;
        left: 10%;
        top: 2%;
    }

    .image-first-Clients {
        left: -10%;
    }

    .wall-Clients {
        position: absolute;
        top: 35%;
        left: 0%;
    }

    .smallrect-Clients {
        position: absolute;
        top: 50%;
        left: 27%;
    }

    .text-box-1-Clients {
        margin-right: 0px;
    }

    .container-2_text-Clients {
        font-size: 12px;
        margin-right: 60px !important;
        line-height: 20px;
    }

    .container-1_text-Clients {
        font-size: 14px;
        margin-right: 60px !important;
        line-height: 20px;
    }

    .container-3_text-Clients {
        font-size: 10px;
        margin-right: 60px !important;
        line-height: 20px;
    }

}

@media (max-width:654px) {
    .banner_right_inner-Clients {
        width: 220px;
        height: 222.8px;
        left: 20%;
        bottom: 270px;
    }

    .backimg-Clients {
        width: 320px;
        height: 322.8px;
        left: 2%;
        top: 2%;
    }

    .main-prev1-Clients {
        width: 450px !important;
        height: 452.19px !important;
    }

    .image-first-Clients {
        left: 0%;
    }

    .wall-Clients {
        position: absolute;
        top: 35%;
        left: 0%;
        width: 20%;
    }

    .smallrect-Clients {
        position: absolute;
        top: 50%;
        left: 29%;
        width: 10%;
    }


}

@media(max-width:609px){
    .text-box-1-Clients{
        left: 5%;
    }
}

@media(max-width:576px){
    .text-box-1-Clients{
        margin-left: 10px;
        padding-right: 30px;
    }
    .backimg-Clients{
        left: 1%;
    }
}

@media (max-width:508px) {
    .backimg-Clients {
        left: 3%;
    }
}

@media (max-width:464px) {
    .image-first-Clients {
        position: relative;
        left: -5%;
    }

    .text-box-1-Clients {
        margin-right: -60px;
    }
}

@media (max-width:448px) {
    .banner_right_inner-Clients {
        left: 15%;
    }

    .backimg-Clients {
        left: 5%;
    }
}

@media (max-width:428px) {
    .image-first-Clients {
        left: -5%;
    }

    .text-box-1-Clients {
        margin-right: -60px;
    }
}

@media (max-width:420px) {
    .image-first-Clients {
        left: -5%;
    }

    .text-box-1-Clients {
        margin-right: -10px;
    }
}

@media (max-width:410px) {
    .image-first-Clients {
        left: -10%;
    }

    .text-box-1-Clients {
        margin-right: -10px;
    }
}

@media (max-width:380px) {
    .image-first-Clients {
        left: -15%;
    }

    .text-box-1-Clients {
        margin-right: 0px;
    }
}