.second {
    background-color: #6CA0BC !important;
    overflow: hidden !important;
    padding-top: 30px;
    margin-top: 150px;

}

.container-2-text-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 24px !important;




    color: #FFFFFF !important;

}

.container-2-text-1 {
    position: relative !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 42px !important;




    color: #FFFFFF !important;
    z-index: 10 !important;

}

.textndimg {
    display: flex !important;
}

.polygon-last {
    display: flex !important;
    align-items: center !important;

    padding-right: 20px !important;
}


.imagessecond {
    position: relative !important;

}

.second-container {
    padding-top: 0px !important;
}

.button-5 {
    position: relative !important;
    width: 155px !important;
    height: 42px !important;
    display: flex !important;
    margin-left: 15px !important;
    margin-top: 30px !important;
    justify-content: center !important;
    border: 1px white !important;
    border-style: solid !important;
    transition: all 0.6s ease !important;
}

.button-5 .button-link-3 {

    margin-top: 12px !important;
    text-decoration: none !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    text-align: center !important;
    color: white !important;

}

.button-5:hover {
    background: linear-gradient(95.12deg, #4f8cad 0%, #eed979 75.42%) !important;
    border: 1px white !important;
    border-style: none !important;
}

.button-5:hover .button-link-3 {
    text-decoration: none !important;
    color: #FFFF !important;
}

.mainndback-4 {
    position: relative !important;
    top: -100px !important;
}

.polygon-last {
    margin-top: 5px !important;
}

.lists {
    padding-bottom: 100px !important;
}

.bp_our-newsletter-polygon9 {

    position: relative !important;
    width: 250px !important;
    height: 250px !important;
    z-index: 1 !important;
    left: 30% !important;
    top: 66% !important;
    margin-top: -298px !important;

    overflow: hidden !important;
    transform: rotate(45deg) !important;
}

.bp_our-newsletter-polygon9 .main-2-2 {
    transform: rotate(-45deg) !important;
    width: 142% !important;
    height: 142% !important;
    margin-top: -54px !important;
    margin-left: -52px !important;
    transition: all 0.6s linear !important;
}
.textndlists{
    position: relative;
    top: 30px;
    left: 5%;
}

.bp_our-newsletter-polygon9:hover .main-2-2 {
    transform: scale(1.03) rotate(-45deg) !important
}

.backimagesecond-fourth {
    position: relative !important;
    left: 30% !important;
    top: -20% !important;
}

.wall-2-2 {
    position: absolute !important;
    width: 211.24px !important;
    height: 200px !important;
    left: -0.24px !important;
    margin-top: 30px !important;
}

.rect-2-4 {
    position: absolute !important;
    left: 130% !important;
}

.rect-2-1 {
    position: absolute !important;
    top: -8% !important;
    left: -40% !important;
}

.rect-2-3 {
    position: absolute !important;
    top: 86% !important;
    left: -170%;
}

.rect-2-2 {
    position: relative;
    top: 58%;
    left: -90%;
}

.interactive_blueprint-row {
    padding-bottom: 0px !important;
}

@media (max-width: 1400px) {
    .rect-2-4 {
        position: absolute !important;
        left: 100% !important;
    }
}

@media (max-width:1200px) {
    .rect-2-4 {
        position: absolute !important;
        left: 100% !important;
    }

    .backimagesecond-fourth {
        left: 10% !important;
    }

    .bp_our-newsletter-polygon9 {
        left: 10% !important;
    }
}

@media (max-width:1073px) {
    .backimagesecond-fourth {
        left: 0% !important;
    }

    .bp_our-newsletter-polygon9 {
        left: 0% !important;
    }
}

@media (max-width:991.82465px) {

 /*    .interactive_blueprint-row {
        flex-direction: column-reverse !important;
    }
 */
    .textndlists {
        margin-top: 50px !important;
        left: 10% !important;
    }

    .rect-2-3 {
        top: 720px !important;
    }
    .rect-2-1{
        top: -130% !important;
        left: 35% !important;
    }
    .container-2-text-1 {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .container-2-text-2 {
        font-size: 12px !important;
    }


}

@media (max-width:768px) {
/*     .interactive_blueprint-row {
        flex-direction: column-reverse !important;
    }
 */
    .textndlists {
        margin-top: 50px !important;
        left: 0% !important;
    }

    .rect-2-3 {
        top: 720px !important;
    }

    .container-2-text-1 {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .container-2-text-2 {
        font-size: 10px !important;
    }

}

@media (max-width:576px) {
    .mainndback-4 {
        left: 10%;
    }

   /*  .interactive_blueprint-row {
        flex-direction: column-reverse !important;
    }
 */


    .textndlists {
        margin-top: 20px !important;
        left: 0% !important;
        margin-left: 10px !important;
        padding-right: 30px !important;
    }

    .rect-2-3 {
        top: 720px !important;
    }

    .rect-2-4 {
        display: none !important;
    }
    .rect-2-1{
        top: -110% !important;
        left: 80% !important;
    }


}

@media (max-width:480px) {
    /* .mainndback-4 {
        position: relative !important;
        left: 15% !important;
        top: 10% !important;
    } */

    .textndlists {
        left: 0% !important;
    }

    .button-5 {
        left: 0% !important;
    }

    .bp_our-newsletter-polygon9 {
        width: 200px !important;
        height: 200px !important;
    }

    .backimagesecond-fourth {
        width: 300px;
        height: 300px;
        top: -50px !important;
        left: -30px !important;
    }

}

@media (max-width:440px) {
    .mainndback-4 {
        left: 15% !important;
    }
}

@media (max-width:400px) {
    .textndlists {
        position: relative !important;
        left: 0% !important;
    }
}