.blogThumbnailDiv{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-left: calc(var(--bs-gutter-x) * .5);
    margin-right: calc(var(--bs-gutter-x) * .5);
}

.blogCard .row{
    max-width: 100%;
}

.blogThumbnail {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    transition: all 0.8s;
    transform: scale(1);
    display: block;
    /* border: 1px solid red; */
}

.blogThumbnail:hover{
    transform: scale(1.05);
}

.blogContent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #757575;
    width: 100%;
}

.blogHeading {
    margin-top: 20px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #3c708e;
}

.blogDescription{
    margin-top: 10px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
}

.blogInformation{
    margin-top: 10px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
    margin-bottom: 20px!important;
    color: #BFBFBF;
}

.blogReadMore{
    margin-right: 20px!important;
    margin-left: 20px!important;
}