.blogTopContainer {
  margin: 80px auto 0 auto;
  width: 100%;
  font-size: calc(14px + 0.15vw);
}

.blogTopContainer .blogSubscription {
  margin: 0 auto 0 auto;
  background-color: #F3F3F3;
  width: 100%;
  max-width: 1200px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogTopContainer .blogSubscription h3 {
  margin: 0;
  padding: 0;
  display: block;
  color: #31647C;
  font-size: 1.375em;
  font-weight: 500;
}

.blogTopContainer .blogSubscription input[type="email"] {
  max-width: 303px;
  font-size: 1em;
  width: 25%;
  padding: 8px 15px;
  outline: none;
  border: none;
  color: #31647C;
}

.blogTopContainer .blogSubscription input[type="email"]::-webkit-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogSubscription input[type="email"]:-ms-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogSubscription input[type="email"]::-ms-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogSubscription input[type="email"]::placeholder {
  font-size: 1em;
}

.blogTopContainer .blogSubscription select {
  color: #B4B4B4;
  max-width: 303px;
  font-size: 1em;
  padding: 8px 15px;
  width: 25%;
  outline: none;
  border: none;
}

.blogTopContainer .blogSubscription select option {
  padding: 10px 15px;
}

.blogTopContainer .blogSubscription .subscribeButton {
  color: white;
  padding: 8px 0;
  background: linear-gradient(93.41deg, #6CA0BC 0%, #E5CD60 100%);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13%;
  font-size: 1em;
  cursor: pointer;
}

.blogTopContainer .blogSubscription .subscribeButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: linear-gradient(93.41deg, #E5CD60 0%, #6CA0BC 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blogTopContainer .blogSubscription .subscribeButton:hover::after {
  opacity: 0;
}

.blogTopContainer .blogMarketWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px 2px #0000000D;
          box-shadow: 0px 4px 8px 2px #0000000D;
}

.blogTopContainer .blogTopContainer .blogMarketWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px 2px #0000000D;
  box-shadow: 0px 4px 8px 2px #0000000D;
}

.blogTopContainer .blogMarket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.blogTopContainer .blogMarket div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogTopContainer .blogMarket div h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.75em;
  color: #232323;
}

.blogTopContainer .blogMarket div div {
  margin-top: 10px;
  font-size: 1.125em;
  padding: 6px 25px;
  max-width: 145px;
  max-height: 42px;
  color: #232323;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(95.12deg, #EED979, #83b3ce 50.42%) 1;
     border-image: linear-gradient(95.12deg, #EED979, #83b3ce 50.42%) 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
  cursor: pointer;
}

.blogTopContainer .blogMarket div div:hover {
  color: white;
  -o-border-image: linear-gradient(38deg, #83b3ce 30%, #EED979 70%) 1;
     border-image: linear-gradient(38deg, #83b3ce 30%, #EED979 70%) 1;
  background: linear-gradient(38deg, #83b3ce 30%, #EED979 70%);
}

.blogTopContainer .blogCustomizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}

.blogTopContainer .blogCustomizer .blogDropDown {
  width: 20% !important;
}

.blogTopContainer .blogCustomizer .blogDropDown:first-child {
  margin-left: 20px;
}

.blogTopContainer .blogCustomizer .blogDropDown:last-child {
  margin-left: auto;
  margin-right: 20px;
}

.blogTopContainer .blogCustomizer .blogSearchInput {
  border: 1px solid #E1E1E1;
  max-width: 272px;
  max-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.blogTopContainer .blogCustomizer .blogSearchInput input {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  margin: 0;
  max-width: 272px;
  max-height: 42px;
  font-size: 1em;
  width: 25%;
  padding: 8px 10px;
  outline: none;
  border: none;
  color: #31647C;
}

.blogTopContainer .blogCustomizer .blogSearchInput input::-webkit-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogCustomizer .blogSearchInput input:-ms-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogCustomizer .blogSearchInput input::-ms-input-placeholder {
  font-size: 1em;
}

.blogTopContainer .blogCustomizer .blogSearchInput input::placeholder {
  font-size: 1em;
}

.blogTopContainer .blogCustomizer .blogSearchInput img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .blogTopContainer .blogMarket div h3 {
    font-size: 24px;
  }
  .blogTopContainer .blogMarket div div {
    font-size: 17px;
  }
}

@media only screen and (max-width: 992px) {
  .blogTopContainer {
    font-size: calc(12px + 0.1vw);
  }
  .blogTopContainer .blogSubscription h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .blogTopContainer .blogSubscription div {
    min-width: 120px;
  }
  .blogTopContainer .blogSubscription select {
    min-width: 244px;
  }
  .blogTopContainer .blogSubscription input {
    min-width: 244px;
  }
}

@media only screen and (max-width: 756px) {
  .blogTopContainer .blogSubscription div {
    min-width: 110px;
  }
  .blogTopContainer .blogSubscription select {
    min-width: 200px;
  }
  .blogTopContainer .blogSubscription input {
    min-width: 200px;
  }
  .blogTopContainer .blogMarket h3 {
    text-align: center;
    max-width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .blogTopContainer {
    font-size: calc(10px + 0.11vw);
  }
  .blogTopContainer .blogSubscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogTopContainer .blogSubscription div {
    margin: 20px auto 0 auto;
    min-width: 110px;
  }
  .blogTopContainer .blogSubscription select {
    margin-top: 20px;
    min-width: 230px;
    width: 80%;
  }
  .blogTopContainer .blogSubscription input {
    margin-top: 20px;
    min-width: 230px;
    width: 80% !important;
  }
  .blogTopContainer .blogCustomizer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogTopContainer .blogCustomizer > div {
    width: 70% !important;
    margin-left: 0 !important;
    max-width: 260px !important;
    margin-right: 0 !important;
  }
  .blogTopContainer .blogCustomizer .customDropDown {
    width: 70% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: 20px 0px 20px 0px !important;
  }
  .blogTopContainer .blogCustomizer .customDropDown > button {
    margin: 0px !important;
  }

  .blogTopContainer .blogCustomizer {
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .blogTopContainer {
    font-size: calc(10px + 0.1vw);
  }
  .blogTopContainer .blogSubscription div {
    margin: 20px auto 0 auto;
    min-width: 110px;
  }
}
/*# sourceMappingURL=BlogTop.css.map */