.threeboxes_combat {
  position: absolute;
  top: -100px;
  left: 50px;
}

.threeboxes_combat img {
  width: 180px;
  height: 270px;
}

.MainAndBack_Combating {
  position: relative;
}

.MainAndBack_Combating {
  position: relative;
  left: 40%;
  top: -20%;
}

.COmbatinG {
  margin-top: -150px;
  position: relative;
  margin-bottom: -100px;
}

.Combating_main {
  position: absolute;
  width: 210px;
  height: 210.2px;
  margin-top: -322px;
  top: 363px;
  left: 3%;
  transform: rotate(45deg);
  border-radius: 10px;
  overflow: hidden;
}

.Image_texting_1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-right: 130px;
  position: relative;
  left: 10%;
  color: #232323;
}

.Image_texting_2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 130px !important;
  color: #757575;
  position: relative;
  left: 10%;
}

.Texting_in_image_Combating {
  position: relative;
  background-color: #f5f1f6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 250px;
  top: -150px;
  z-index: -1;
  left: 13%;
  border-radius: 10px;

}

.Combating_main img {
  transform: rotate(-45deg) !important;
  width: 145%;
  height: 145%;
  margin-top: -50px;
  margin-left: -52px;
  transition: all 0.4s linear !important;
}

.Combating_main:hover img {
  transform: scale(1.03) rotate(-45deg) !important;
}

.Combating_texting_column-1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #3c708e;
}

.Image_rect {
  position: absolute;
  top: 90px;
  left: 80%;
}

.Combating_texting_column-2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232323;
}

.Combating_texting_coloumn {
  position: relative;
}

.Combating_texting_column-3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

@media(max-width:1486px) {
  .threeboxes_combat {
    left: 15px !important;
  }
}

@media(max-width:1399px) {
  .Image_texting_1 {
    margin-right: 80px;
  }
}

@media (max-width: 1200px) {
  .Combating_texting_coloumn {
    position: relative;
    left: 10%;
  }
  .Texting_in_image_Combating{
    margin-right: 120px;
  }
}

@media(max-width:1234px) {
  .threeboxes_combat {
    left: -1px !important;
  }
}

@media (max-width:1180px) {
  .threeboxes_combat {
    left: 20px;
  }
}

@media (max-width:1105px) {
  .threeboxes_combat {
    left: 0px;
  }
}

@media(max-width:1064px) {
  .threeboxes_combat {
    top: -130px;
  }
}

@media (max-width: 991.889687453px) {
  .MainAndBack_Combating {
    left: 55%;
  }

  .Combating_texting_coloumn {
    position: relative;
    left: 0%;
    margin-top: -100px;
  }

  .COmbatinG {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .threeboxes_combat {
    left: 20px !important;
  }
  .Texting_in_image_Combating{
    margin-right: 250px;
  }
  .Image_texting_1{
    font-size: 14px;
    line-height: 22px;
  }
  .Image_texting_2{
    font-size: 12px;
    line-height: 22px;
  }
  .Combating_texting_column-1{
    font-size: 16px;
    line-height: 22px;
  }
  .Combating_texting_column-2{
    font-size: 14px;
    line-height: 22px;
  }
  .Combating_texting_column-3{
    font-size-adjust: 12px;
    line-height: 22px;
  }
}

@media (max-width: 767.8131px) {
  .COmbatinG {
    margin-top: 160px;
  }

  .MainAndBack_Combating {
    left: 65%;
  }

  .Combating_texting_column-3 {
    font-size: 10px;
    margin-right: 0px;
    line-height: 20px;
  }

  .Combating_texting_column-2 {
    font-size: 10px;
    line-height: 20px;
    margin-right: 0px;
  }

  .Combating_texting_column-1 {
    font-size: 12px;
    margin-right: 0px;
    line-height: 22px;
  }

  .Texting_in_image_Combating {
    margin-right: 120px;
  }

}

@media (max-width: 752px) {
  .MainAndBack_Combating {
    left: 25%;
    top: -40%;
  }

  .Image_rect {
    top: 90px;
  }

  .Image_texting_2 {
    margin-right: 60px !important;
  }


  .Texting_in_image_Combating {
    padding-right: 30px;
    align-items: center;
    left: 10%;
  }

  .threeboxes_combat {
    left: 50px;
    top: -200px;
  }
}

@media (max-width:648px) {
  .Combating_group {
    width: 100px !important;
    height: 160px !important;
  }

  .threeboxes_combat {
    left: 90px !important;
    top: -300px;
  }
}

@media(maX-width:576px) {
  .Texting_in_image_Combating {
    padding-bottom: 50px !important;
  }

  .Image_texting_2 {
    margin-right: 60px!important;
  }

  .Image_rect {
    top: 90px;
  }
  .Combating_texting_coloumn{
    margin-left: 10px;
    padding-right: 30px;
  }
}

@media(max-width:533px) {
  .Image_texting_2 {
    margin-right: 60px !important;
  }
  .threeboxes_combat {
    left: 40px !important;
    top: -300px;
  }
  .Image_rect{
    top: 30px;
  }
}

@media(max-width:503px) {
  .Image_texting_2 {
    margin-right: auto !important;
  }

  .Texting_in_image_Combating {
    left: 60px !important;
  }
}

@media (max-width: 514px) {
  .MainAndBack_Combating {
    left: 20%;
  }
}

@media(max-width:426px) {
  .Image_texting_1 {
    margin-right: auto !important;
  }
  .Image_rect{
    top: 90px;
  }
}

@media(max-width:397px) {
  .Texting_in_image_Combating {
    padding-bottom: 30px !important;
  }
  .MainAndBack_Combating{
    left: 15%;
  }
}

@media(max-width:387px){
  .Image_rect{
    top: 130px;
  }
}