.parallax_container {
  background-image: url(./images/parallax_back.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 60vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 30px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parallax_main_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #3c708e;
  padding: 0 200px !important;
}

.parallax_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #232323;
  margin-top: 20px !important;
  padding: 0 240px !important;
}

.bottom_button {
  outline: none;
  border: none;
}

.bottom_button button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #232323;
  margin-top: 30px !important;
  padding: 15px 30px !important;
  border-image: linear-gradient(45deg, #e5cd60, #6ca0bc) 1;
  transition: all 0.2s ease-in-out 0s !important;
  background: transparent;
}

.bottom_button button:hover {
  background: linear-gradient(95.12deg, #eed979 0%, #6ca0bc 83.42%);
  border: none;
  color: white;
}

.box_top {
  position: absolute;
  top: 30px;
  left: 600px;
}
.box_right {
  position: absolute;
  top: 120px;
  right: 320px;
}
.boxes_left {
  position: absolute;
  left: 150px;
  bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .box_right {
    top: 120px;
    right: 250px;
  }
}

@media only screen and (max-width: 950px) {
  .parallax_main_heading {
    padding: 0 100px !important;
  }

  .parallax_description {
    padding: 0 100px !important;
  }

  .boxes_left {
    left: 30px;
  }

  .box_top {
    top: 10px;
  }
}

@media only screen and (max-width: 790px) {
  .box_right {
    right: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .parallax_main_heading {
    padding: 0 30px !important;
  }

  .parallax_description {
    padding: 0 30px !important;
  }

  .box_top {
    left: 300px;
  }

  .box_right {
    right: 160px;
  }
}

@media only screen and (max-width: 610px) {
  .parallax_main_heading {
    padding: 0 5px !important;
  }

  .parallax_description {
    padding: 0 5px !important;
  }

  .box_right {
    right: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .boxes_left img {
    width: 110px;
    height: 100px;
  }

  .parallax_main_heading {
    font-size: 20px;
    line-height: 22px;
  }

  .parallax_description {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
  }

  .box_top {
    top: 30px;
    left: 100px;
  }

  .box_right {
    right: 120px;
  }
}

@media only screen and (max-width: 427px) {
  .box_right {
    right: 50px;
  }
}
