.Duty_Four {
  background-color: #f8f8f8 !important;
  padding-top: 80px !important;
}

.Duty_card_text_2_Description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 22px !important;
  /* or 157% */
  margin-right: 40px;
  position: relative;
  left: 7%;

  color: #757575 !important;
}

.Duty-row1-text-1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 32px !important;
  line-height: 40px !important;
  /* identical to box height, or 125% */

  text-align: center !important;
  text-transform: uppercase !important;

  color: #3c708e !important;
}

.Row1_Duty_text_box {
  margin-bottom: 92px !important;
}

.Duty-row1-text-2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 22px !important;
  text-align: center !important;
  color: #757575 !important;
  padding-right: 300px !important;
  padding-left: 300px !important;

}

.Duty_card_text_1_heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 22px !important;
  line-height: 32px !important;
  margin-right: -100px;
  position: relative;
  left: 7%;

  color: #a06daf !important;
}

.Duty_images_card {
  display: flex !important;
}

.Duty_space {
  margin-top: 30px !important;
}

.Inc_Div_duty_card_img_inner {
  overflow: hidden !important;

  width: 180px !important;
  height: 180px !important;
  transform: rotate(45deg) !important;
  margin-right: 30px !important;
  position: relative !important;
  z-index: 2 !important;
}

.Inc_Div_duty_card_img_inner img {
  width: 140% !important;
  height: 140% !important;
  margin-top: -35px !important;
  margin-left: -35px !important;
  transform: rotate(-45deg) !important;
  transition: all 0.6s linear !important;
}

.Inc_Div_duty_card_img_inner:hover img {
  transform: scale(1.03) rotate(-45deg) !important;
}

.Duty_card_text_1 {
  justify-content: center !important;
  background-color: white !important;
  align-items: center !important;
  border: 1px solid #e8e8e8 !important;
  box-sizing: border-box !important;
  border-radius: 10px 10px 10px 10px !important;
  padding-top: 30px !important;
  margin-right: -100px;
  padding-bottom: 30px !important;
  padding-left: 150px !important;
  padding-right: 30px !important;
  position: relative !important;
  left: -19% !important;
  top: -40px !important;
}

.Duty-images-card-2 {
  position: relative;
  left: 10%;
}

.Duty-images-card-4 {
  position: relative;
  left: 10%;
  margin-top: 50px !important;
}

.Duty-images-card-3 {
  margin-top: 50px !important;
}

.Duty_card_text_4 {
  justify-content: center !important;
  align-items: center !important;
  background-color: white !important;
  border: 1px solid #e8e8e8 !important;
  box-sizing: border-box !important;
  border-radius: 10px 10px 10px 10px !important;
  padding-top: 30px !important;
  margin-right: -100px !important;

  padding-bottom: 40px !important;
  padding-left: 150px !important;
  padding-right: 30px !important;
  position: relative !important;
  left: -19% !important;
  top: -50px !important;
}

.Inc_Div_duty_card_img {
  position: relative !important;
  bottom: 40px !important;
}

.Inc_Div_bord_top {
  position: relative !important;
  background-color: black !important;
  left: 10% !important;
}

.Duty_card_text_2 {
  justify-content: center !important;
  align-items: center !important;
  background-color: white !important;
  border: 1px solid #e8e8e8 !important;
  box-sizing: border-box !important;
  border-radius: 10px 10px 10px 10px !important;
  padding-top: 40px !important;
  margin-right: -100px;
  padding-bottom: 40px !important;
  padding-left: 150px !important;
  padding-right: 30px !important;
  position: relative !important;
  left: -19% !important;
  top: -38px !important;
}

.Duty_card_text_2:hover {
  border-top: 4px solid #a06daf !important;
  padding-bottom: 36px !important;
}
.Duty_card_text_3:hover {
  border-top: 4px solid #a06daf !important;
  padding-bottom: 27px !important;
}
.Duty_card_text_4:hover {
  border-top: 4px solid #a06daf !important;
  padding-bottom: 36px !important;
}
.Duty_card_text_1:hover {
  border-top: 4px solid #a06daf !important;
  padding-bottom: 27px !important;
}
.Duty_card_text_3 {
  justify-content: center !important;
  align-items: center !important;
  background-color: white !important;
  border: 1px solid #e8e8e8 !important;
  box-sizing: border-box !important;
  border-radius: 10px 10px 10px 10px !important;
  padding-top: 40px !important;
  margin-right: -100px;
  padding-bottom: 30px !important;
  padding-left: 150px !important;
  padding-right: 50px !important;
  position: relative !important;
  left: -19% !important;
  top: -50px !important;
}

@media (max-width: 1400px) {
  .Duty_card_text_1 {
    margin-right: -110px !important;
    padding-bottom: 20px !important;
    left: -22% !important;
    top: -50px !important;
  }
  .Duty_card_text_1:hover {
    border-top: 4px solid #a06daf !important;
    padding-bottom: 20px !important;
  }

  .Duty_card_text_2 {
    margin-right: -100px !important;
    padding-bottom: 28px !important;
    left: -22% !important;
    top: -50px !important;
  }
  .Duty_card_text_2:hover {
    border-top: 4px solid #a06daf !important;
    padding-bottom: 28px !important;
  }

  .Duty_card_text_3 {
    margin-right: -100px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
    left: -22% !important;
    top: -50px !important;
  }
  .Duty_card_text_3:hover {
    border-top: 4px solid #a06daf !important;
    padding-bottom: 10px !important;
  }
  .dutyText-3-card-heading{
    position: relative;
    margin-right: -100px !important;
  }
  .Duty_card_text_4 {
    margin-right: -100px !important;
    padding-bottom: 10px !important;
    left: -22% !important;
    top: -50px !important;
    padding-top: 20px !important;
  }
  .Duty_card_text_4:hover {
    border-top: 4px solid #a06daf !important;
    padding-bottom: 5px !important;
  }
  .Duty-images-card-2 {
    position: relative !important;
    left: 10% !important;
  }

  .Duty-images-card-4 {
    position: relative !important;
    left: 10% !important;
  }

  .Duty_card_text_1_heading {
    margin-right: 0px;
  }
}

@media(max-width:1318px){
  .Duty_image_card_1_top{
    position: relative;
    left: 3% !important;
  }
  .Duty-images-card-3{
    position: relative;
    left: 3% !important;
  }
  .Duty-images-card-2{
    position: relative !important;
    left: 4% !important;
  }
  .Duty-images-card-4{
    position: relative !important;
    left: 4% !important;
  }
}

@media (max-width: 1199.841684px) {
  .Duty_Four{
    padding-bottom: 50px;
  }

  .Duty_card_text_2_Description{
    position: relative;
    left: 0% !important;
  }
  .Duty_card_text_1_heading{
    position: relative;
    left: 0%;
  }

  .Duty-images-card-4 {
    position: relative !important;
    left: 0% !important;
  }
  .Duty_image_card_1_top{
    position: relative;
    left: 0% !important;
  }
  .Duty-images-card-3{
    position: relative;
    left: 0% !important;
  }
  .Duty-row1-text-2{
    padding-right: 210px !important;
    padding-left: 210px !important;
  }

  .Duty-images-card-2 {
    position: relative !important;
    left: 0% !important;
  }

  .Duty_images_card {
    margin-top: 100px !important;
  }

  .Duty_card_text {
    left: -10% !important;
  }

  .Duty_card_text_3 {
    left: -10% !important;
    padding-top: 40px !important;
  }

  .Duty_card_text_2 {
    left: -10% !important;
  }

  .Duty_card_text_4 {
    padding-top: 30px !important;
    left: -10% !important;
  }

  .Duty_space {
    margin-top: 0px !important;
  }
}

@media (max-width: 991.8416482px) {
  .Duty_images_card {
    margin-top: 100px !important;
  }

  .Duty_card_text_1_heading{
    left: 7% !important;
  }
  .Duty_card_text_2_Description{
    left: 7% !important;
  }

  .Duty-row1-text-1{
    font-size: 16px !important;
  }
  .Duty-row1-text-2{
    font-size: 14px !important;
    line-height: 22px !important;
  }

  .Duty_card_text {
    left: -15% !important;
  }

  .Duty_card_text_3 {
    left: -15% !important;
    padding-top: 30px !important;
  }

  .Duty_card_text_2 {
    left: -15% !important;
  }

  .Duty_card_text_4 {
    left: -15% !important;
  }

  .Duty-row1-text-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (max-width: 767.814346px) {
  .Duty_images_card {
    position: relative !important;
    left: 10% !important;
  }
  .Duty_card_text_1_heading{
    left: 0% !important;
  }
  .Duty_card_text_2_Description{
    left: 0% !important;
  }
  .Duty-row-cards{
    position: relative;
    left: -7%;
  }
  .second_row_incl{
    position: relative;
    left: -7%;
  }
  .Duty_card_text_1_heading {
    font-size: 12px !important;
  }
  .Row1_Duty_text_box{
    margin-bottom: 30px !important;
  }

  .Duty_card_text_2_Description {
    font-size: 10px !important;
    margin-right: -20px !important;
  }

  .Duty_card_text {
    margin-right: -130px !important;
    left: -20% !important;
    padding-bottom: 20px !important;
  }

  .Duty_card_text_2 {
    padding-bottom: 28px !important;
    margin-right: -130px !important;
    left: -20% !important;
  }

  .Duty_card_text_3 {
    padding-bottom: 18px !important;
    margin-right: -130px !important;
    left: -20% !important;
  }

  .Duty_card_text_4 {
    margin-right: -60px !important;
    margin-right: -130px !important;
    left: -20% !important;
  }

  .Duty-row1-text-1 {
    font-size: 14px !important;
  }

  .Duty-row1-text-2 {
    font-size: 12px !important;
  }

  .Row1_Duty_text_box {
    padding-bottom: 0px !important;
  }
}

@media (max-width: 576px) {
  .Duty_images_card {
    margin-top: 350px !important;
  }
  .Duty_card_text_2_Description{
    margin-right: -30px !important;
  }
  .Duty-row-cards{
    left: 2% !important;
  }
  .second_row_incl{
    position: relative;
    left: 2%;
  }

  .Inc_Div_duty_card_img {
    top: -290px !important;
    left: 20% !important;
  }

  .Row1_Duty_text_box{
    margin-left: 10px;
    padding-right: 20px;
    margin-bottom: 30px !important;
  }


  .Duty_card_text {
    margin-right: -90px !important;
    padding-left: 30px !important;
    margin-left: -90px !important;
    left: -32% !important;
  }

  .Duty_card_text_2 {
    margin-right: -90px !important;
    padding-left: 30px !important;
    margin-left: -90px !important;
    left: -32% !important;
  }

  .Duty_card_text_4 {
    margin-right: -90px !important;
    padding-left: 30px !important;
    margin-left: -90px !important;
    left: -32% !important;
  }

  .Duty_card_text_3 {
    margin-right: -90px !important;
    padding-left: 30px !important;
    margin-left: -90px !important;
    left: -32% !important;
  }
}

@media(max-width: 530px){
  .Duty-row-cards{
    left: auto !important;
  }
  .second_row_incl{
    
    left: auto !important;
  }
}

@media(max-width:474px){
  .Duty_images_card{
    margin-right: -10px !important ;
    margin-left: -10px !important ;
  }
}

@media(max-width:430px){
  .Duty_images_card{
    margin-right: 10px !important ;
    margin-left: -30px !important ;
  }
}

@media(max-width: 388px){
  .Duty_images_card{
    margin-right: 10px !important ;
    margin-left: -100px !important ;
  }
}

@media(max-width: 408px){
  .Duty_images_card{
    position: relative !important;
    left: 10% !important;
  }
}

@media(max-width: 398px){
  .Duty_images_card{
    position: relative !important;
    left: 8.5% !important;
  }
}
@media(max-width: 369px){
  .Duty_images_card{
    position: relative !important;
    left: 8% !important;
  }
}

@media(max-width: 445px){
  .Duty_images_card{
    margin-right: 0px !important ;
    margin-left: -20px !important ;
  }
}
/* 
@media (max-width: 453px) {
  .Duty_card_text {
    left: -36% !important;
  }

  .Duty_card_text_3 {
    left: -36% !important;
  }

  .Duty_card_text_2 {
    left: -32% !important;
  }

  .Duty_card_text_4 {
    left: -36% !important;
  }
}

@media (max-width: 413px) {
  .Duty_card_text {
    left: -38% !important;
  }

  .Duty_card_text_3 {
    left: -38% !important;
  }

  .Duty_card_text_2 {
    left: -38% !important;
  }

  .Duty_card_text_4 {
    left: -38% !important;
  }
}

@media (max-width: 379px) {
  .Duty_card_text {
    left: -40% !important;
  }

  .Duty_card_text_3 {
    left: -40% !important;
  }

  .Duty_card_text_2 {
    left: -40% !important;
  }

  .Duty_card_text_4 {
    left: -40% !important;
  }
}
 */