.second-Ns {
    background-color: #6CA0BC;
    overflow: hidden;
    padding-top: 80px;
}

.container-2-text-2-Ns {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}

.container-2-text-1-Ns-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.container-2-text-1-Ns {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-right: -100px !important;
    z-index: 2;
    color: #FFFFFF;
}

.textndimg-Ns {
    display: flex;
}

.polygon-last-Ns {
    display: flex;
    align-items: center;
    padding-right: 20px;
}


.imagessecond-Ns {
    position: relative;
}

.second-container-Ns {
    padding-top: 10px;
}

.button-5-Ns {
    position: relative;
    width: 155px;
    height: 42px;
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
    justify-content: center;
    border: 1px white;
    border-style: solid;
    transition: all 0.6s ease;
}

.button-5-Ns .button-link-3-Ns {

    margin-top: 12px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-align: center;
    color: white;

}

.button-5-Ns:hover {
    background: linear-gradient(95.12deg, #4f8cad 0%, #eed979 75.42%);
    border: 1px white;
    border-style: none;
}

.button-5-Ns:hover .button-link-3-Ns {
    text-decoration: none;
    color: #FFFF;
}

.mainndback-4-Ns {
    position: relative;
    top: -25%;
    left: 10%;
}


.polygon-last-Ns {
    margin-top: 5px;
}

.emailinput-Ns {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none
}

.subscribe-Ns {
    width: 10%;
    text-decoration: none !important;
    color: white;
    background-color: #4E86A4;
    padding: 14.35px;
    padding-bottom: 14.1px;
    padding-top: 14.1px;
}

.subscribe-Ns:hover {
    color: white;
}

.lists-Ns {
    padding-bottom: 100px;
}

.emailAndNs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12%;
}

.bp_our-newsletter-polygon9-Ns {
    position: relative;
    width: 250px;
    height: 250px;
    z-index: 1;
    left: 30%;
    top: 66%;
    margin-top: -298px;

    overflow: hidden;
    transform: rotate(45deg);
}

.bp_our-newsletter-polygon9-Ns .main-2-2-Ns {
    transform: rotate(-45deg) !important;
    width: 142%;
    height: 142%;
    margin-top: -54px;
    margin-left: -52px;
    transition: all 0.6s linear;
}

.bp_our-newsletter-polygon9-Ns:hover .main-2-2-Ns {
    transform: scale(1.03) rotate(-45deg) !important
}

.backimagesecond-fourth-Ns {
    position: relative;
    left: 30%;
    top: -20%;
}

.wall-2-2-Ns {
    position: absolute !important;
    width: 211.24px !important;
    height: 200px !important;
    left: -0.24px !important;
    margin-top: -40px !important;
}

.rect-2-4-Ns {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 110px;
}

.rect-2-1-Ns {
    position: absolute;
    top: -30%;
    left: -40%;
}

.rect-2-2-Ns {
    position: absolute;
    top: 50%;
    left: -50%;
}

.rect-2-3-Ns {
    position: absolute;
    top: 90%;
    left: -140%;
}

.textndlists-Ns {
    position: relative;
    left: 7%;
    top: -60px;
}

@media(max-width:1524px) {
    .rect-2-4-Ns {
        right: 50px;
    }
}

@media (max-width: 1400px) {
    .rect-2-4-Ns {
        position: absolute;

    }

    .second-container-Ns {
        padding-top: 50px;
    }

    .mainndback-4-Ns {
        left: 15%;
    }

    .rect-2-2-Ns {
        left: 20%;
    }

    .wall-2-2-Ns {
        left: -220%;
    }

    .rect-2-1-Ns {
        top: -40%;
    }

    .textndlists-Ns {
        position: relative;
        left: 0%;
    }

    .emailAndNs {
        left: -11%;
    }
}

@media (max-width:1200px) {
    .rect-2-4-Ns {
        position: absolute;

    }

    .wall-2-2-Ns {
        left: -180%;
    }

    .backimagesecond-fourth-Ns {
        left: 10%;
    }

    .bp_our-newsletter-polygon9-Ns {
        left: 10%;
    }

    .rect-2-1-Ns {
        top: -40%;
    }

    .rect-2-2-Ns {
        left: -10%;
    }

    .emailAndNs {
        left: -9%;
    }
}

@media (max-width:1073px) {
    .backimagesecond-fourth-Ns {
        left: 0%;
    }

    .bp_our-newsletter-polygon9-Ns {
        left: 0%;
    }

    .rect-2-4-Ns {
        position: absolute;
    }
}

@media (max-width:991.816498px) {
    /*  .wall-2-2-Ns{
        display: none;
    } */

    .textndlists-Ns {

        margin-top: 60px;
        left: 0%;
    }

    .container-2-text-1-Ns {
        margin-right: auto !important;
        left: 2%;
    }


    .rect-2-3-Ns {
        top: 720px;
    }

    .mainndback-4-Ns {
        left: 20%;
        margin-top: 70px;
    }

    .rect-2-1-Ns {
        top: -100%;
        left: 30%;
    }

    .emailAndNs {
        left: -11%;
    }
    .container-2-text-1-Ns {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width:768px) {
    .textndlists-Ns {
        margin-top: 10px;
        left: 0%;
    }

    .rect-2-3-Ns {
        top: 720px;
    }

    .container-2-text-1-Ns-2 {
        margin-right: 150px;
    }

    .rect-2-1-Ns {
        top: -100%;
        left: 30%;
    }

    .container-2-text-1-Ns {
        font-size: 14px;
        line-height: 22px;
    }

    .emailAndNs {
        left: -9%;
    }

    .emailinput-Ns {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .subscribe-Ns {
        padding-top: 7px;
        padding-bottom: 8px;
    }
}

@media (max-width:576px) {
    .textndlists-Ns {
        margin-top: 10px;
        left: 5%;
    }

    .rect-2-3-Ns {
        top: 720px;
        display: none;
    }

    .rect-2-4-Ns {
        left: 50%;
        display: none;
    }

    .container-2-text-1-Ns {
        margin-right: 100px !important;
    }

    .rect-2-1-Ns {
        display: none;
    }
}

@media (max-width:490px) {
    .mainndback-4-Ns {
        left: 18%;
        top: -40%;
    }

    .container-2-text-1-Ns {
        margin-right: auto;
        left: 0%;
    }

    .bp_our-newsletter-polygon9-Ns {
        width: 200px;
        height: 200px;
        top: 50px;
    }

    .backimagesecond-fourth-Ns {
        width: 300px;
        height: 300px;
        left: -10%;
    }
}

@media (max-width:418px) {
    .emailinput-Ns {
        width: 70%;
    }

    .container-2-text-1-Ns {
        margin-right: 20px !important;
    }

    .emailAndNs {
        position: relative;
        left: -5% !important;
    }
}