@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* share btn */
.footerContainer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f2f2f2;
  padding: 20px 0px !important;
  /* max-height: 512px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  overflow-x: hidden !important;
  margin: 0px auto;
  /*general drop property*/
  /*###### NAV-BAR-ENDING############*/
  /*###### phone-view-nav-bar start########*/
}

.footerContainer:last-child {
  -webkit-box-shadow: -2px -2px 10px #e3e3e3 !important;
          box-shadow: -2px -2px 10px #e3e3e3 !important;
}

.footerContainer .foot-c {
  margin: 70px 0px 30px 45px !important;
  width: 0px !important;
  height: 100px;
  max-width: 50px !important;
  /* padding: 30px !important; */
}

.footerContainer .foot-c a {
  color: inherit;
  text-decoration: none;
}

.footerContainer .menu-item,
.footerContainer .menu-open-button {
  background: #31647c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -40px !important;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.footerContainer .menu-open {
  display: none;
}

.footerContainer .foot-c i {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-left: -12.5px !important;
  margin-top: -9.5px !important;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.footerContainer .menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.footerContainer .menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.footerContainer .menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.footerContainer .menu {
  margin: auto !important;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 180px;
  height: 80px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 26px;
}

.footerContainer .menu-item {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footerContainer .menu-item:hover {
  background: #eeeeee;
  color: #3290b1;
}

.footerContainer .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.footerContainer .menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  cursor: pointer;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
}

.footerContainer .menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.footerContainer .menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.footerContainer .menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(20.09361px, -55.99997px, 0);
  transform: translate3d(20.09361px, -55.99997px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(58.9466px, -8.77586px, 0);
  transform: translate3d(58.9466px, -8.77586px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(36.5966px, 52.47586px, 0);
  transform: translate3d(36.5966px, 52.47586px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(-23.08361px, 53.89997px, 0);
  transform: translate3d(-23.08361px, 53.89997px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-60.86291px, 10.62064px, 0);
  transform: translate3d(-60.86291px, 10.62064px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-42.03006px, -45.33095px, 0);
  transform: translate3d(-42.03006px, -45.33095px, 0);
}

.footerContainer .menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.footerContainer .facebook {
  background: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  /* margin-left: -40px; */
}

.footerContainer .facebook:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.footerContainer .instagram {
  background-color: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footerContainer .instagram:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.footerContainer .twitter {
  background-color: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footerContainer .twitter:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.footerContainer .youtube {
  background-color: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footerContainer .youtube:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.footerContainer .linkedin {
  background-color: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footerContainer .linkedin:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.footerContainer .pinterest {
  background-color: #f2f2f2;
  color: #31647c;
  -webkit-box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
          box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7), 0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footerContainer .pinterest:hover {
  background-color: #31647c #F2F2F2;
  color: #31647c;
  -webkit-transform: scale(2);
          transform: scale(2);
  text-shadow: none;
}

.footerContainer .foot-c i {
  color: #31647c !important;
}

.footerContainer .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 150vh;
  min-height: 50vh;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transform: translate(-370px, 10px);
          transform: translate(-370px, 10px);
  padding-top: 40% !important;
}

.footerContainer .dropdown:hover .dropdown-content {
  display: block;
}

.footerContainer .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.footerContainer .nav_drop_down_option {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #31647c;
  padding-top: 15px !important;
}

.footerContainer .nav_drop_down_option:hover {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #31647c;
  padding-top: 15px !important;
}

.footerContainer .nav_drop_down_option > a {
  text-decoration: none;
  -webkit-text-emphasis-color: none;
          text-emphasis-color: none;
  color: inherit;
}

.footerContainer .arrow-below-option {
  height: 20px;
  width: 180px;
  margin-top: 10px !important;
  border-top: solid 3px #c4c4c4;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
}

.footerContainer .diamond_below_text {
  background: #c4c4c4;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-25px, 14px) rotate(45deg);
          transform: translate(-25px, 14px) rotate(45deg);
}

.footerContainer .arrow-below-option:hover {
  border-top: solid 3px #ce54ce;
}

.footerContainer .diamond_below_text:hover {
  background: #ce54ce;
}

.footerContainer .fa-1x {
  font-size: 1.5rem;
}

.footerContainer .navbar-toggler .toggler-example {
  cursor: pointer;
}

.footerContainer .dark-blue-text {
  color: #0a38f5;
}

.footerContainer .dark-pink-text {
  color: #ac003a;
}

.footerContainer .dark-amber-text {
  color: #ff6f00;
}

.footerContainer .dark-teal-text {
  color: #004d40;
}

.footerContainer .first-colum {
  padding-bottom: 4% !important;
}

.footerContainer .footerRow {
  width: 100%;
  max-width: 1920px;
  padding: 20px 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerContainer .column1 {
  min-width: 250px;
  width: 250px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContainer .column1 > img {
  width: 230px;
  height: auto;
}

.footerContainer .emailDivWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerContainer .email-space {
  width: 100%;
  font-size: 16px;
  padding: 8px 15px !important;
  border-radius: 0px;
  background-color: #f2f2f2;
  border: 1px solid #D1D1D1;
  outline: none;
  margin: 0px 0px 10px 0px !important;
}

.footerContainer .checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
  margin: 10px 0px !important;
}

.footerContainer .form-check-input {
  position: unset;
  max-width: 15px !important;
  height: 15px !important;
  margin: 4px 8px 0px 0px !important;
  padding: 0px !important;
}

.footerContainer .text-above-button {
  width: 80% !important;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #232323;
  /* margin: 0px 0px 10px 0px !important; */
}

.footerContainer .footer-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 155px;
  height: 42px;
  background: linear-gradient(95.12deg, #E5CD60 0%, #6CA0BC 83.42%);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footerContainer .footer-button-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background: linear-gradient(95.12deg, #6CA0BC 0%, #E5CD60 83.42%);
  opacity: 0;
}

.footerContainer .footerButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.footerContainer .footer-button-wrapper:hover::after {
  opacity: 1;
}

.footerContainer .column2 {
  /* flex: 20%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 250px !important;
  min-width: 200px !important;
  /* margin-left: 50px !important; */
}

.footerContainer .footer-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #33657e;
  padding-bottom: 5% !important;
  margin-top: 30px !important;
}

.footerContainer .line-below-footer-heading {
  width: 60px;
  margin-top: -2% !important;
  border-top: solid 3px purple;
  margin-bottom: 10px !important;
}

.footerContainer .poligon-image {
  padding-right: 2% !important;
}

.footerContainer .text-links {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #33657e;
  cursor: pointer;
  padding: 5px 0px !important;
  min-width: 250px !important;
  margin: 0px 0px !important;
}

.footerContainer .text-links:hover {
  font-weight: 600;
}

.footerContainer .column3 {
  /* flex: 20%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 200px;
  min-width: 200px;
}

.footerContainer .column4 {
  /* flex: 20%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 200px;
  min-width: 200px;
}

.footerContainer .arrow-icon-container {
  margin-top: 100px !important;
  padding: 0px !important;
  text-align: right;
  width: 0px;
  height: 0px;
  position: relative;
}

.footerContainer .arrow-icon-wrapper {
  background-color: #f2f2f2;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(15, 17, 31, 0.2), -2px -3px 5px 1px rgba(255, 255, 255, 0.7);
          box-shadow: 2px 2px 4px 0px rgba(15, 17, 31, 0.2), -2px -3px 5px 1px rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0px;
  -webkit-animation: upDownArrow 1s infinite !important;
  animation: upDownArrow 1s infinite !important;
}

@-webkit-keyframes upDownArrow {
  0% {
    top: 0px;
  }
  50% {
    top: 6px;
  }
  100% {
    top: 0px;
  }
}

@keyframes upDownArrow {
  0% {
    top: 0px;
  }
  50% {
    top: 6px;
  }
  100% {
    top: 0px;
  }
}

.footerContainer:last-child {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(17, 25, 33, 0.05);
          box-shadow: 0px 0px 15px 0px rgba(17, 25, 33, 0.05);
  margin: 0px auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 96px;
  overflow: hidden;
}

.footerContainer .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footerContainer .footer-text {
  color: #33657E !important;
  width: auto !important;
  font-size: 14px !important;
  padding: 0px 2% !important;
  font-weight: 400;
}

.footerContainer .row2 {
  margin-top: 15px !important;
  font-size: 14px !important;
  color: #33657E !important;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .footerRow {
    padding: 20px 40px !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .column5 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

@media only screen and (max-width: 756px) {
  .footerRow {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 25px 30px !important;
  }
  .column1 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin: 10px 0px !important;
    min-width: 90% !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .checkBox > div {
    padding: 0px !important;
    margin: 0px !important;
  }
  .emailDivWrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .text-above-button {
    width: 100% !important;
  }
  .company-logo-footer {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    margin-bottom: 20px !important;
  }
  .arrow-icon-container {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    height: 40px !important;
    width: 40px !important;
    margin: -50px 0px 20px auto !important;
  }
}

@media only screen and (max-width: 576px) {
  .company-logo-footer {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .column1 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 10px auto !important;
  }
  .menu {
    left: -90px !important;
  }
  .text-above-button {
    width: 100% !important;
  }
  .column2 {
    width: 200px !important;
    margin: 10px 0px 0px 0px !important;
  }
  .column4 {
    margin: 20px 0px !important;
  }
  .footer-text {
    font-size: 12px !important;
  }
  .row2 {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=Footer.css.map */