@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* 
* {
  margin: 0;
  padding: 0;
} */

/* share btn */

.foot-c {
  margin: 70px 0px 30px 45px !important;
  width: 0px !important;
  height: 100px;
  max-width: 50px !important;
  /* padding: 30px !important; */
}

.foot-c a {
  color: inherit;
  text-decoration: none;
}

.menu-item,
.menu-open-button {
  background: #31647c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -40px !important;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.foot-c i {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-left: -12.5px !important;
  margin-top: -9.5px !important;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  margin: auto !important;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 180px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.menu-item {
  transition: all 0.1s ease 0s;
}

.menu-item:hover {
  background: #eeeeee;
  color: #3290b1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(20.09361px, -55.99997px, 0);
  transform: translate3d(20.09361px, -55.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(58.9466px, -8.77586px, 0);
  transform: translate3d(58.9466px, -8.77586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(36.5966px, 52.47586px, 0);
  transform: translate3d(36.5966px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(-23.08361px, 53.89997px, 0);
  transform: translate3d(-23.08361px, 53.89997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-60.86291px, 10.62064px, 0);
  transform: translate3d(-60.86291px, 10.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-42.03006px, -45.33095px, 0);
  transform: translate3d(-42.03006px, -45.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.facebook {
  background: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  /* margin-left: -40px; */
}

.facebook:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.instagram {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.instagram:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.twitter {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.twitter:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}
.youtube {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.youtube:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.linkedin {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.linkedin:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.pinterest {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.pinterest:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  transform: scale(2);
  text-shadow: none;
}



.foot-c i{
  color: #31647c !important;
}

/*general drop property*/
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 150vh;
  min-height: 50vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-370px, 10px);
  padding-top: 40% !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav_drop_down_option {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #31647c;
  padding-top: 15px !important;
}

.nav_drop_down_option:hover {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #31647c;
  padding-top: 15px !important;
}

.nav_drop_down_option > a {
  text-decoration: none;
  text-emphasis-color: none;
  color: inherit;
}

.arrow-below-option {
  height: 20px;
  width: 180px;
  margin-top: 10px !important;
  border-top: solid 3px rgb(196, 196, 196);
  transform: translate(-0px, 10px);
}

.diamond_below_text {
  background: rgb(196, 196, 196);
  width: 15px;
  height: 15px;
  transform: translate(-25px, 14px) rotate(45deg);
}

.arrow-below-option:hover {
  border-top: solid 3px rgb(206, 84, 206);
}

.diamond_below_text:hover {
  background: rgb(206, 84, 206);
}

/*###### NAV-BAR-ENDING############*/

/*###### phone-view-nav-bar start########*/
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0a38f5;
}
.dark-pink-text {
  color: #ac003a;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}

/*###### phone-view-nav-bar ending########*/

/*######### FOOTER START ###########*/

.footerContainer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #f2f2f2;
  padding: 20px 0px !important;
  /* max-height: 512px; */
}

/*left colum*/

.first-colum {
  padding-bottom: 4% !important;
}


.footerContainer{
  background-color: #F2F2F2;
}

.footerContainer:nth-child(3){
  box-shadow: -2px -2px 10px #e3e3e3 !important;
}

.footerRow{
  padding: 20px 7% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: flex-start !important;
  flex-wrap: wrap;
}


.column1{
  /* flex: 20%; */
  min-width: 250px;
  width: 250px;
  max-width: 400px;
  /* margin-right: 40px !important; */
  display: flex;
  flex-direction: column;

  /* padding: 20px 0px !important; */
}

.column1 > img{
  width: 230px;
  height: auto;
}

.emailDivWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.email-space {
  width: 90%;
  font-size: 16px;
  padding: 8px 15px !important;
  border-radius: 0px;
  background-color: #f2f2f2;
  border: 1px solid #D1D1D1;
  outline: none;
  margin: 0px 0px 10px 0px !important;
}
.checkBox{
  margin: 10px 0px !important;
}
.form-check-input {
  background: #f2f2f2;
  margin-top: 4px !important;
}
.text-above-button {
  width: 80% !important;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #232323;
  margin: 0px 0px 10px 0px !important;
}

.footer-button-wrapper {
  display: flex;
  flex-direction: row;
  width: 155px;
  height: 42px;
  background: linear-gradient(95.12deg, #E5CD60 0%, #6CA0BC 83.42%);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-button-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  background: linear-gradient(95.12deg, #6CA0BC 0%, #E5CD60 83.42%);
  opacity: 0;
}

.footerButton {
  order: 2;
  align-self: center;
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  color: aliceblue;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.footer-button-wrapper:hover::after{
  opacity: 1;
}

.column2{
  /* flex: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px !important;
  min-width: 200px !important;
  /* margin-left: 50px !important; */
}

.footer-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #33657e;
  padding-bottom: 5% !important;
  margin-top: 30px !important;
}

.line-below-footer-heading {
  width: 60px;
  margin-top: -2% !important;
  border-top: solid 3px rgb(128, 0, 128);
  margin-bottom: 10px !important;
}

.poligon-image {
  padding-right: 2% !important;
}

.text-links {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #33657e;
  cursor: pointer;
  padding: 5px 0px !important;
  min-width: 250px !important;
}

.column3{
  /* flex: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  min-width: 200px;
}
.column4{
  /* flex: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  min-width: 200px;
}

.arrow-icon-container {
  margin-top: 100px !important;
  padding: 0px !important;
  text-align: right;
  width: 0px;
  height: 0px;
  position: relative;
}

.arrow-icon-wrapper {
  background-color: #f2f2f2;
  box-shadow: 2px 2px 4px 0px rgba(15, 17, 31, 0.2), -2px -3px 5px 1px rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0px;
  -webkit-animation: upDownArrow 1s infinite !important;
  animation: upDownArrow 1s infinite !important;
}


@keyframes upDownArrow {
  0% {
    top: 0px;
    /* transform: translateY(-10px) !important;
    -webkit-transform: translateY(-10px) !important; */
  }

  50% {
    top: 6px;
    /* transform: translateY(10px) !important;
    -webkit-transform: translateY(10px) !important; */
  }

  100% {
    top: 0px;
    /* transform: translateY(-10px) !important;
    -webkit-transform: translateY(-10px) !important; */
  }
}

.footerContainer:last-child{
  box-shadow: 0px 0px 15px 0px rgba(17, 25, 33, 0.05);
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 96px;
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.footer-text{
  color: #33657E !important;
  width: auto !important;
  font-size: 14px !important;
  padding: 0px 2% !important;
  font-weight: 400;
}
.row2{
  margin-top: 15px !important;
  font-size: 14px !important;
  color: #33657E !important;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}


@media only screen and (max-width: 1200px) {
  .footerRow{
    padding: 20px 40px !important;
    justify-content: space-between !important;
  }
  .column5{
    flex: auto;

  }
}
@media only screen and (max-width: 756px) {

}
@media only screen and (max-width: 598px) {
  .column1{
    flex: 100%;
    margin:10px auto !important;
    justify-content: center;
    align-items: center;
  }
  .menu{
    left: -90px !important;
  }
  .emailDivWrapper{
    align-items: center;
  }
  .company-logo-footer{
    transform: scale(1.2);
    margin-bottom: 10px !important;
  }
}


@media only screen and (max-width: 576px) {
  .footerRow{
    flex-direction: column !important;
    align-items: center !important;
    /* justify-content: center !important; */
    padding: 25px 0px !important;
  }
  .column1{
    flex: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu{
    left: -90px !important;
  }
  .emailDivWrapper{
    justify-content: center;
    align-items: center;
  }
  .checkBox{
    width: 100% !important;
  }
  .arrow-icon-container{
    flex: 100% !important;
    height: 40px !important;
    width: 40px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .text-above-button{
    width: 100% !important;
  }
  .column2{
    width: 200px !important;
    margin: 10px 0px 0px 0px !important;
  }
  .column4{
    margin: 20px 0px !important;
  }
  .footer-heading{
    text-align: center !important;
  }
  .line-below-footer-heading{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .footer-text{
    font-size: 12px !important;
  }
  .row2{
    font-size: 12px !important;
  }
}