.blog-container-1 {
    background: #f3f3f3;
    position: absolute;
    top: 80px;
}

.row {
    padding: 38px 20px !important;
    width: 100%;
}

.row .row {
    padding: 0 !important;
}

.heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #31647c;
}

.panelColumn {
    display: flex;
    align-items: center;
}

.selectionPanel {
    border: 0;
    padding: 10px 15px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    width: 100%;
}

.blog-container-2 {
    position: absolute;
    top: 100px;
    height: 301px;
    -webkit-box-shadow: 0 8px 6px -6px #d5d4d4;
    -moz-box-shadow: 0 8px 6px -6px #d5d4d4;
    box-shadow: 0 8px 6px -6px #d5d4d4;
}

.image2 {
    width: 225px;
    background: url(./img/image2.png);
    height: 225px;
    z-index: 0;
    margin-right: 2rem !important;
}

.image2:before {
    width: 300px;
    height: 200px;
    background: url(./img/image1.png);
    z-index: 1;
    content: "";
    position: absolute;
    right: 60px;
}

.image3 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 60%;
    top: 234.14px;
    background: url(./img/image3.png) no-repeat;
}

.image4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 32%;
    top: 182.21px;
    background: url(./img/image4.png) no-repeat;
}

.image5 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 36px;
    top: 178.68px;
    background: url(./img/image5.png) no-repeat;
}

.heading2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #232323;
}

.know_button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.5s ease;
    border: 2px solid;
    width: 150px;
    height: 40px;
    border-image: linear-gradient(95.12deg, #eed979, #4f8cad 50.42%) 1;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    margin-left: 30px !important;
    padding: 10px 25px 15px !important;
    cursor: pointer;
}
.know_button:hover {
    background: rgb(34, 193, 195);
    background: linear-gradient(
        38deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
    color: white;
}

.blog-container-3 {
    position: absolute;
    top: 100px;
}

.selection {
    position: relative;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-size: 18px;
    padding: 10px 20px !important;
}

.selection:after {
    content: "";
    background: url("./img/downArrow.png");
}

.searchInput {
    position: relative;
    width: 80%;
    border: 1px solid #e1e1e1;
    border-right: 0;
    font-size: 18px;
    padding: 10px 20px !important;
}

.buttonInInput {
    width: 8%;
    border: 1px solid #e1e1e1;
    border-left: 0;
    font-size: 18px;
    padding: 10px 20px !important;
}

.blog-container-4 {
    position: absolute;
    top: 100px;
}

.blogCard:nth-of-type(even) {
    margin-top: 10% !important;
}

.blogThumbnail {
    width: 100%;
    object-fit: cover;
}

.blogContent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #757575;
}

.blogHeading {
    margin-top: 20px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #3c708e;
}

.blogDescription{
    margin-top: 10px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
}

@media only screen and (max-width: 992px) {
    .image2 {
        height: 0;
    }

    .image2:before {
        right: -40px;
        transform: scale(0.8);
    }

    .image3,
    .image4,
    .image5 {
        display: none;
    }

    .searchInput {
        width: 85%;
        padding: 10px 20px !important;
    }

    .buttonInInput {
        width: 15%;
        padding: 10px 0 !important;
    }
}
