@keyframes ideation-slide {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}
.SACComp6_community_first_heading_arrow-Invirogating,
.SACComp6_community_second_heading_arrow-Invirogating {
  animation: ideation-slide 2s ease-in-out infinite;
}

.SACComp6_community_support_main-Invirogating{
  padding: 50px 100px !important;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.SACComp6_community_support_first-Invirogating {
  background: #f7fcff;

  position: relative;
  margin-bottom: 160px !important;
  padding-top: 55px !important;
  padding-bottom: 55px !important;
  padding-left: 55px !important;
  padding-right: 200px !important;
  margin-right: 200px !important;
  margin-left: 40px !important;
  left: 13%;
}
.SACComp6_community_support_first-Invirogating:hover {
  box-shadow: 0px 8px 21px 2px rgba(0, 0, 0, 0.15);
}

.SACComp6_community_first_heading-Invirogating,
.SACComp6_community_second_heading-Invirogating {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px !important;
}

.SACComp6_community_first_heading_text-Invirogating {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #3c708e;
  margin-right: 10px !important;
}

.SACComp6_community_first_description-Invirogating {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  padding-right: 125px !important;
  margin-right: 0px;
}

.SACComp6_community_support_second-Invirogating {
  background: #f6fcff;
  position: relative;
  margin-top: 50px !important;
  padding-top: 55px !important;
  padding-bottom: 55px !important;
  padding-left: 150px !important;
  padding-right: 55px !important;
  margin-right: -50px !important;
  margin-left: 300px !important;
  left: -15%;
}
.SACComp6_text_2_invirogating{
  position: relative;
  left: 10%;
}
.SACComp6_text_1_invirogating{
  position: relative;
  left: 10%;
}

.SACComp6_community_second_heading_text-Invirogating {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #3c708e;
  margin-right: 0px !important;
}

.SACComp6_community_second_description-Invirogating {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  padding-right: 340px !important;
  margin-right: -180px;
}
.SACComp6_community_support_second-Invirogating:hover {
  box-shadow: 0px 8px 21px 2px rgba(0, 0, 0, 0.15);
}

.SACComp6_community_top_image-Invirogating {
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 1;
  overflow: hidden;
  transform: rotate(45deg);
}

.SACComp6_community_top_image_image-Invirogating {
  transition: all 0.5s ease-in-out;

}

.SACComp6_community_top_image-Invirogating:hover > img {
  transform: scale(1.03);
}

.SACComp6_community_bottom_image-Invirogating {
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 2;
  overflow: hidden;
  transform: rotate(45deg);
}

.SACComp6_community_bottom_image_image-Invirogating {
  transition: all 0.5s ease-in-out;
}

.SACComp6_community_bottom_image-Invirogating:hover > img {
  transform: scale(1.03);
}

.SACComp6_community_top_back_image-Invirogating {
  position: absolute;
  top: -55px;
  right: -140px;
}

.SACComp6_community_bottom_back_image-Invirogating {
  position: absolute;
  top: -55px;
  left: -210px;
}

.SACComp6_community_top_rectangle-Invirogating {
  position: absolute;
  bottom: 0;
  right: 250px;
}

.SACComp6_community_bottom_rectangle-Invirogating {
  position: absolute;
  bottom: 0;
  left: 250px;
}

@media (max-width:1400px){
  .SACComp6_text_2_invirogating{
    left: 5% !important; 
  }
/*   .SACComp6_community_first_heading_arrow-Invirogating{
    position: absolute;
    left: 20%;
    top: 20px;
  } */
  .SACComp6_community_second_heading_arrow-Invirogating{
    position: absolute;
    left: 100%;
    /* top: 20px; */
  }

}


@media only screen and (max-width: 1199.8654px) {
  .SACComp6_community_support_second-Invirogating {
    padding-left: 200px !important;
    padding-right: 20px !important;
    margin-left: 200px !important;
  }
  .SACComp6_community_first_heading_arrow-Invirogating{
    position: absolute;
    left: 55%;
    top: 40px;
  }
  .SACComp6_community_second_heading_arrow-Invirogating{
    position: absolute;
    left: 40%;
    top: 40px;
  }

  .SACComp6_community_top_image-Invirogating {
    position: absolute;
    top: -5px;
    right: -170px;
    z-index: 1;
  }
  .SACComp6_text_2_invirogating{
    left: 0%;
  }
  .SACComp6_community_second_description-Invirogating{
    margin-right: 0px;
  }
  .SACComp6_community_first_description-Invirogating{
    margin-right: 0px;
  }

  .SACComp6_community_bottom_image-Invirogating {
    position: absolute;
    top: 0;
    left: -170px;
    z-index: 2;
  }

  .SACComp6_community_top_back_image-Invirogating {
    position: absolute;
    top: -55px;
    right: -190px;
  }

  .SACComp6_community_bottom_back_image-Invirogating{
    position: absolute;
    top: -55px;
    left: -190px;
  }

  .SACComp6_community_top_rectangle-Invirogating {
    position: absolute;
    bottom: 0;
    right: 250px;
  }

  .SACComp6_community_bottom_rectangle-Invirogating {
    position: absolute;
    bottom: 0;
    left: 250px;
  }
  .SACComp6_community_first_description-Invirogating{
    padding-right: 0px !important;
  }
  .SACComp6_community_second_description-Invirogating{
    padding-right: 0px !important;
  }
}


@media only screen and (max-width: 1118px) {
  .SACComp6_community_support_main-Invirogating {
    padding: 50px 30px !important;
  }
  .SACComp6_community_first_heading_arrow-Invirogating{
    display: none;
  }
  .SACComp6_community_second_heading_arrow-Invirogating{
    display: none;
  }

  .SACComp6_community_support_first-Invirogating {
    padding-left: 50px !important;
    padding-right: 200px !important;
    margin-right: 200px !important;
    margin-left: 30px !important;
    left: 0%;
  }

  .SACComp6_community_support_second-Invirogating {
    padding-left: 210px !important;
    padding-right: 10px !important;
    margin-right: 0px !important;
    margin-left: 160px !important;
    left: 0%;
  }

  .SACComp6_community_bottom_image-Invirogating {
    position: absolute;
    top: -5px;
    left: -130px;
    z-index: 2;
  }

  .SACComp6_community_bottom_back_image-Invirogating {
    position: absolute;
    top: -55px;
    left: -150px;
  }
}

@media (max-width:991.86254px) {
  .SACComp6_community_first_heading_text-Invirogating {
    margin-right: -60px !important;
  }
  .SACComp6_community_first_description-Invirogating{
    margin-right: -100px;
  }
  .SACComp6_text_1_invirogating{
    position: relative;
    left: -10%;
  }
  .SACComp6_community_second_heading_text-Invirogating {
    font-size: 16px;
    line-height: 24px;
  }

  .SACComp6_community_second_description-Invirogating {
    font-size: 14px;
    line-height: 20px;
  }

  .SACComp6_community_first_heading_text-Invirogating {
    font-size: 16px;
    line-height: 24px;
  }

  .SACComp6_community_first_description-Invirogating {
    font-size: 14px;
    line-height: 20px;
  }

}

@media only screen and (max-width: 914px) {
  .SACComp6_text2_Invirogating {
    left: 30% !important;
  }
  .SACComp6_community_first_description-Invirogating{
    margin-right: -60px;
  }
}

@media only screen and (max-width: 914px) {
  .SACComp6_community_support_main-Invirogating {
    margin-top: 170px !important;
  }
  .SACComp6_text2_Invirogating {
    left: 10% !important;
  }

  

  .SACComp6_community_support_first-Invirogating,
  .SACComp6_community_support_second-Invirogating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .SACComp6_community_support_first-Invirogating {
    padding-top: 200px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-bottom: 250px !important;
  }

  .SACComp6_community_support_second-Invirogating {
    padding-top: 200px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
  }

  .SACComp6_community_top_image-Invirogating {
    position: absolute;
    top: -130px;
    right: 150px;
    z-index: 1;
  }

  .SACComp6_community_bottom_image-Invirogating {
    position: absolute;
    top: -130px;
    left: 155px;
    z-index: 2;
  }

  .SACComp6_community_top_back_image-Invirogating {
    position: absolute;
    top: -180px;
    right: 120px;
  }

  .SACComp6_community_bottom_back_image-Invirogating {
    position: absolute;
    top: -180px;
    left: 140px;
  }
}


@media only screen and (max-width: 768px) {
  .SACComp6_community_second_heading_text-Invirogating {
    font-size: 14px;
    line-height: 24px;
  }

  .SACComp6_community_second_description-Invirogating {
    font-size: 12px;
    line-height: 20px;
  }

  .SACComp6_community_first_heading_text-Invirogating {
    font-size: 14px;
    line-height: 24px;
  }

  .SACComp6_community_first_description-Invirogating {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 626px) {
  .SACComp6_community_support_main-Invirogating {
    margin-top: 120px !important;
  }
  .SACComp6_text2_Invirogating {
    position: relative !important;
    left: 20% !important;
  }
  .SACComp6_text_1_invirogating{
    left: 0%;
  }


  .SACComp6_community_support_first-Invirogating {
    padding-top: 150px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    margin-bottom: 200px !important;
  }

  .SACComp6_community_support_second-Invirogating {
    padding-top: 150px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
  }

  .SACComp6_community_first_heading_text-Invirogating {
    margin-right: 60px !important;
  }

  .SACComp6_community_first_description-Invirogating {
    margin-right: 60px !important;
  }

  .SACComp6_community_top_image-Invirogating>img {
    width: 180px;
    height: 180px;
  }

  .SACComp6_community_second_description-Invirogating {
    margin-right: 60px !important;
  }

  .SACComp6_community_top_image-Invirogating {
    top: -85px;
    right: 130px;
    z-index: 1;
  }

  .SACComp6_community_bottom_image-Invirogating>img {
    width: 180px;
    height: 180px;
  }

  .SACComp6_community_bottom_image-Invirogating {
    position: absolute;
    top: -85px;
    left: 150px;
    z-index: 2;
  }

  .SACComp6_community_top_back_image-Invirogating img {
    width: 250px;
    height: 250px;
  }

  .SACComp6_community_top_back_image-Invirogating {
    top: -120px;
    right: 120px;
  }

  .SACComp6_community_bottom_back_image-Invirogating img {
    width: 250px;
    height: 250px;
  }

  .SACComp6_community_bottom_back_image-Invirogating {
    position: absolute;
    top: -120px;
    left: 140px;
  }
}

@media only screen and (max-width: 502px) {
  .SACComp6_community_second_heading_text-Invirogating {
    font-size: 18px;
    line-height: 18px;
  }

  .SACComp6_community_second_description-Invirogating {
    font-size: 10px;
    line-height: 13px;
  }

  .SACComp6_community_first_heading_text-Invirogating {
    font-size: 18px;
    line-height: 18px;
  }

  .SACComp6_community_first_description-Invirogating {
    font-size: 10px;
    line-height: 13px;
    margin-right: 0px !important;
  }

  .SACComp6_community_top_image-Invirogating {
    top: -85px;
    right: 40px;
    z-index: 1;
  }

  .SACComp6_community_bottom_image-Invirogating {
    position: absolute;
    top: -85x;
    left: 30px;
    z-index: 2;
  }

  .SACComp6_community_top_back_image-Invirogating {
    top: -120px;
    right: 30px;
  }

  .SACComp6_community_bottom_back_image-Invirogating {
    position: absolute;
    top: -120px;
    left: 20px;
  }
}


@media only screen and (max-width: 425px) {
  .SACComp6_community_top_rectangle-Invirogating {
    position: absolute;
    bottom: 0;
    right: 180px;
  }

  .SACComp6_community_bottom_rectangle-Invirogating {
    position: absolute;
    bottom: 0;
    left: 180px;
  }

  .SACComp6_community_second_description-Invirogating {
    margin-right: 20px !important;
  }
  .SACComp6_text2_Invirogating{
    left: 5% !important;
  }
}