.sacc4DCContent {
  transform: rotate(-45deg);
}

.sacc4Container{
  margin-bottom: 250px;
  margin-top: 80px;
}

.sacc4Heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #33657e;
  text-align: center;
  width: 70%;
}
.sacc4Para1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #757575;
  width: 50%;
}

.sacc4RCBottom {
  width: 80%;
}

.sacc4Rec13 {
  width: 21px;
  height: 21px;
}

.sacc4Arrow {
  width: 16px;
  height: 9px;
  position: relative;
  left: -8px;
  animation: arrowSidewise 1s linear infinite;
}

.sacc4RecCard {
  width: 24.7vw;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 379px;
  margin: 20px;
}
.sacc4RecCard:hover {
  box-shadow: 0px 7px 12px rgba(10, 10, 23, 0.1);
}
.sacc4Heading2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #3c708e;
}
.sacc4Para2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #757575;
}
.sacc4Button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #757575;
}
.sacc4Top {
  flex-wrap: wrap !important;
}

.sacc4Bottom {
  margin-top: 100px;
}

.sacc4DiamondCard {
  /* width: 282.8px;
    height: 282.8px; */
  width: 300px;
  height: 300px;
  /* width: 18.4vw;
    height: 18.4vw; */
  transform: rotate(45deg);
  background: #ffffff;
  border: 1px solid #e8e8e8;
}
.sacc4DiamondCard:hover {
  box-shadow: 7px 7px 12px rgb(10 10 23 / 10%);
}
.sacc4Row1 {
  position: relative;
  left: 10%;
}


.sacc4D1 .sacc4DCContent{
  padding-top: 38px;
  /* border: 1px solid red; */
}

.sacc4D3 .sacc4DCContent{
  padding-top: 38px;
}

.sacc4Row2 {
  position: relative;
  right: 10%;
}
.sacc4DCContent {
  rotate: -45deg;
}

@media(max-width:1410px){
  .sacc4D1{

    margin-left: -65px;
  }
  .sacc4BlankDiamondCard1{
    margin-right: -50px;
    margin-left: 75px;
  }
  .sacc4BlankDiamondCard2{
    margin-left: -50px;
    margin-right: 50px;
  }
  .sacc4D2{
    margin-left: 10px;
    margin-right: -45px;
  }
  .sacc4D3{
    margin-left: -50px;
    margin-right: 30px;
  }
  .sacc4D4{
    margin-right: -35px;
  }
}
/* @media(max-width:1300px){
  .sacc4D1{

    margin-left: -50px;
  }
  .sacc4D2{
    margin-left: 10px;
  }
} */

@media(max-width:767.846526px){
  .sacc4Container{
    margin-bottom: 100px !important;
  }
  .sacc4Heading1{
    font-size: 12px !important;
    line-height: 22px !important;
  }
  .sacc4Para1{
    font-size: 10px !important;
    line-height: 22px !important;
    width: 90% !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .sacc4DiamondCard {
    width: 250.8px;
    height: 250.8px;
  }
  .sacc4BlankDiamondCard {
    display: none;
  }
  .sacc4DiamondCard {
    margin: 60px 60px;
  }
  .sacc4D1,
  .sacc4D2,
  .sacc4D3 {
    margin-bottom: 96px;
  }
  .sacc4D4 {
    margin-bottom: 20px;
  }
  .sacc4Row1,
  .sacc4Row2 {
    left: 0%;
    padding: 0 38px;
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .sacc4Heading2 {
    font-size: 12px;
  }
  .sacc4Para2,
  .sacc4Button {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sacc4BlankDiamondCard {
    display: none;
  }
  .sacc4Row1,
  .sacc4Row2 {
    left: 0%;
    padding: 0 58px;
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .sacc4DiamondCard {
    margin: 0px 58px;
  }
  .sacc4D1,
  .sacc4D2,
  .sacc4D3 {
    margin-bottom: 136px;
  }
  .sacc4D4 {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sacc4BlankDiamondCard {
    display: none;
  }
  .sacc4Row1,
  .sacc4Row2 {
    left: 0%;
    padding: 85px 85px;
    justify-content: space-around !important;
  }
  .sacc4Bottom {
    margin-top: 0px;
  }
}

@media(max-width:991.86412px){
  .sacc4Heading1{
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .sacc4Para1{
    font-size: 14px !important;
  }
}

@media(max-width:450px){
  .sacc4DiamondCard {
    width: 250.8px !important;
    height: 250.8px !important;
  }
  .sacc4DiamondCard {
    margin: 30px 30px;
  }
  .sacc4D1,.sacc4D2,.sacc4D3,.sacc4D4{
    margin-bottom: 150px !important;
  }
  .sacc4Container{
    margin-bottom: 10px !important;
  }

}

@media(max-width:390px){
  .sacc4DiamondCard {
    margin: 20px 20px;
  }
}
