.GTMComp3 .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center!important;
    color: #757575;
}

.gotomarketing-card{
    background: red;
}

.gotomarketing-card.col-lg-1{
    width: 10%;
}