.gtm-comp10 {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-height: 1000px;
  margin: 0 auto 50px auto;
}

.gtm-comp10-main_container {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.gtm-comp10 .awareness_image {
  position: relative;
  height: 970px;
  width: 100%;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto !important;
  border: 2px solid transparent;
  background-image: url("./images/comp-10/Group 974.png");
  background-position: center;
  background-size: 94% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.gtm-comp10 .awareness_image img {
  -webkit-transform: perspective(1px) translateZ(0) !important;
          transform: perspective(1px) translateZ(0) !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gtm-comp10 .awareness_text_upper {
  width: 95%;
  max-width: 1200px;
  margin: 60px auto -30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.gtm-comp10 .awareness_text_upper li {
  width: 20%;
  height: 26px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #A06DAF;
}

.gtm-comp10 .awareness_text_bottom {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  margin: 0 auto !important;
  list-style: none;
  padding: 0 !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gtm-comp10 .awareness_text_bottom li {
  width: auto !important;
  height: 21px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #A06DAF;
}

.gtm-comp10 .awareness_text_bottom .li1 {
  margin-left: -5%;
}

.gtm-comp10 .awareness_text_bottom .li2 {
  margin-left: -3%;
}

.gtm-comp10 .awareness_text_bottom .li3 {
  margin-left: 0%;
}

.gtm-comp10 .awareness_text_bottom .li4 {
  margin-left: -2%;
}

.gtm-comp10 .awareness_text_bottom .li6 {
  margin-left: 0%;
}

.gtm-comp10 .awareness_text_bottom .li7 {
  margin-right: -4%;
}

.gtm-comp10 .awareness_image1 {
  position: relative;
  margin-left: -1px;
}

.gtm-comp10 .awareness_image1 .awareness_img1 {
  display: block;
}

.gtm-comp10 .awareness_image1 .awareness_img2 {
  display: block;
  margin-top: 8px;
}

.gtm-comp10 .awareness_image1 .awareness_img3 {
  position: absolute;
  top: 31px;
  margin-left: 156px;
}

.gtm-comp10 .awareness_image1 .awareness_img4 {
  position: absolute;
  top: 99px;
  margin-left: 129px;
}

.gtm-comp10 .awareness_image1 .awareness_img5 {
  position: absolute;
  top: 31px;
  margin-left: 128px;
}

.gtm-comp10 .awareness_image1 .awareness_img6 {
  position: absolute;
  top: 60px;
  margin-left: 156px;
  width: 30px;
}

.gtm-comp10 .awareness_image2 {
  /* border: 2px solid red; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -10.5px;
  margin-left: 53px;
}

.gtm-comp10 .awareness_image2 .awareness_img1 {
  display: block;
  margin-top: -20px;
}

.gtm-comp10 .awareness_image2 .awareness_img2 {
  display: block;
  margin-top: 22px;
}

.gtm-comp10 .awareness_image2 .awareness_img3 {
  display: block;
  margin-top: 74px;
  margin-left: -100px;
}

.gtm-comp10 .awareness_image2 .awareness_img4 {
  display: block;
}

.gtm-comp10 .awareness_image2 .awareness_img5 {
  display: block;
  margin-top: 71px;
  margin-left: 10px;
}

.gtm-comp10 .awareness_image2 .awareness_img6 {
  display: block;
  margin-top: 123px;
  margin-left: 10px;
}

.gtm-comp10 .awareness_image2 .awareness_img7 {
  display: block;
  margin-top: 33px;
  margin-left: -20px;
}

.gtm-comp10 .awareness_image2 .awareness_img8 {
  position: absolute;
  top: 110px;
  margin-left: 56px;
}

.gtm-comp10 .awareness_image2 .awareness_img9 {
  position: absolute;
  top: 196px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-left: 56px;
}

.gtm-comp10 .awareness_image2 .awareness_img10 {
  position: absolute;
  top: 283px;
  margin-left: 32px;
}

.gtm-comp10 .awareness_image2 .awareness_img11 {
  position: absolute;
  top: 158px;
  margin-left: 135px;
  width: 70px;
}

.gtm-comp10 .awareness_image2 .awareness_img12 {
  position: absolute;
  top: 333px;
  margin-left: 133px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gtm-comp10 .awareness_image2 .awareness_img13 {
  position: absolute;
  top: 240px;
  margin-left: 59px;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.gtm-comp10 .awareness_image2 .awareness_img14 {
  position: absolute;
  top: 249px;
  margin-left: 160px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gtm-comp10 .awareness_image2 .awareness_img15 {
  position: absolute;
  top: 387px;
  margin-left: 159px;
}

.gtm-comp10 .awareness_image2 .awareness_img16 {
  position: absolute;
  top: 466px;
  margin-left: 143px;
  width: 50px;
}

.gtm-comp10 .awareness_image2 .awareness_img17 {
  position: absolute;
  top: 387px;
  margin-left: 159px;
}

.gtm-comp10 .awareness_image2 .awareness_img18 {
  position: absolute;
  top: 532px;
  margin-left: 159px;
}

.gtm-comp10 .awareness_image2 .awareness_img19 {
  position: absolute;
  top: 648px;
  margin-left: 142px;
  width: 55px;
}

.gtm-comp10 .awareness_image2 .awareness_img20 {
  position: absolute;
  top: 742px;
  margin-left: 142px;
  width: 55px;
}

.gtm-comp10 .awareness_image3 {
  position: relative;
  border: 2px solid transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 60px;
}

.gtm-comp10 .awareness_image3 .awareness_img1 {
  display: block;
  margin-top: 40px;
}

.gtm-comp10 .awareness_image3 .awareness_img2 {
  display: block;
  margin-top: 55px;
  margin-left: -20px;
}

.gtm-comp10 .awareness_image3 .awareness_img3 {
  display: block;
  margin-left: -28px;
  margin-top: 51px;
}

.gtm-comp10 .awareness_image3 .awareness_img4 {
  display: block;
  margin-left: -20px;
  margin-top: 21px;
}

.gtm-comp10 .awareness_image3 .awareness_img5 {
  display: block;
  margin-left: -40px;
  margin-top: 3px;
}

.gtm-comp10 .awareness_image3 .awareness_img6 {
  display: block;
  margin-top: 60px;
  margin-left: -20px;
}

.gtm-comp10 .awareness_image3 .awareness_img7 {
  display: block;
  margin-top: 31px;
  margin-left: -10px;
}

.gtm-comp10 .awareness_image3 .awareness_img8 {
  position: absolute;
  margin-left: 60px;
  top: 85px;
}

.gtm-comp10 .awareness_image3 .awareness_img9 {
  position: absolute;
  margin-left: 60px;
  top: 245px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: -1;
}

.gtm-comp10 .awareness_image3 .awareness_img10 {
  position: absolute;
  margin-left: 120px;
  top: 365px;
  z-index: -1;
}

.gtm-comp10 .awareness_image3 .awareness_img11 {
  position: absolute;
  margin-left: 125px;
  top: 639px;
  width: 63px;
}

.gtm-comp10 .awareness_image4 .awareness_img1 {
  display: block;
  margin-top: 348px;
  margin-left: 50px;
}

.gtm-comp10 .awareness_image4 .awareness_img2 {
  display: block;
  margin-top: 216px;
  margin-left: 49px;
}

.gtm-comp10 .awareness_image4 .awareness_img3 {
  position: absolute;
  margin-left: 113px;
  top: 502px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: -1;
}

.gtm-comp10 .awareness_image4 .awareness_img4 {
  margin-top: -93px;
  margin-left: 190px;
  z-index: -1;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.gtm-comp10 .awareness_image5 {
  margin-left: -2px;
}

.gtm-comp10 .awareness_image5 .awareness_img1 {
  display: block;
  margin-top: 612px;
}

.gtm-comp10 .awareness_image5 .awareness_img2 {
  display: block;
  margin-top: 15px;
}

.gtm-comp10 .awareness_image5 .awareness_img3 {
  display: block;
  margin-top: 15px;
}

.gtm-comp10 .awareness_image5 .awareness_img4 {
  position: absolute;
  top: 760px;
  margin-left: 60px;
}

.gtm-comp10 .awareness_image5 .awareness_img5 {
  position: absolute;
  top: 825px;
  margin-left: 60px;
}

.gtm-comp10 .awareness_image5 .awareness_img6 {
  position: absolute;
  top: 739px;
  margin-left: 136px;
  z-index: -1;
  width: 56px;
}

.gtm-comp10 .awareness_image5 .awareness_img7 {
  position: absolute;
  top: 550px;
  margin-left: 166px;
  z-index: -1;
}

.gtm-comp10 .awareness_image6 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
  position: relative;
}

.gtm-comp10 .awareness_image6 .awareness_img1 {
  margin-top: 400px;
  margin-left: 25px;
}

.gtm-comp10 .awareness_image6 .awareness_img2 {
  position: absolute;
  top: 448px;
  left: 7px;
  z-index: -1;
  width: 25px;
}

.gtm-comp10 .awareness_image6 .awareness_img3 {
  position: absolute;
  top: 518px;
  left: 7px;
  z-index: -1;
  width: 25px;
}

.gtm-comp10 .awareness_image6 .awareness_img4 {
  position: absolute;
  top: 578px;
  left: 7px;
  z-index: -1;
  width: 25px;
}

.gtm-comp10 .awareness_image6 .awareness_img5 {
  position: absolute;
  top: 449px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  left: 158px;
  z-index: -1;
}

.gtm-comp10 .awareness_image6 .awareness_img6 {
  position: absolute;
  top: 520px;
  left: 158px;
  z-index: -1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gtm-comp10 .awareness_image6 .awareness_img7 {
  position: absolute;
  top: 578px;
  left: 158px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: -1;
}

.gtm-comp10 .awareness_image6 .awareness_img8 {
  position: absolute;
  top: 638px;
  left: 158px;
  z-index: -1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gtm-comp10 .awareness_image6 .awareness_img9 {
  position: absolute;
  top: 448px;
  left: 188.5px;
  z-index: -1;
}

.gtm-comp10 .awareness_image6 .awareness_img10 {
  position: absolute;
  top: 420px;
  left: 15px;
  z-index: -1;
}

.gtm-comp10 .awareness_image6 .awareness_img11 {
  display: block;
  margin-top: 22px;
  margin-left: 27px;
}

.gtm-comp10 .awareness_image6 .awareness_img12 {
  display: block;
  margin-top: 20px;
  margin-left: 27px;
}

.gtm-comp10 .awareness_image6 .awareness_img13 {
  display: block;
  margin-top: 8px;
  margin-left: 27px;
}

.gtm-comp10 .awareness_image6 .awareness_img14 {
  display: block;
  margin-top: 8px;
  margin-left: 27px;
}

.gtm-comp10 .anm {
  -webkit-animation: movin 2s ease-in-out infinite;
          animation: movin 2s ease-in-out infinite;
}

@-webkit-keyframes movin {
  0%, 100% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  50% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
}

@keyframes movin {
  0%, 100% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  50% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
}

.gtm-comp10 .anm2 {
  -webkit-animation: moving 2s ease-in-out infinite;
          animation: moving 2s ease-in-out infinite;
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  50% {
    -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  50% {
    -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
}

.gtm-comp10 .hvr {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.gtm-comp10 .hvr:hover {
  -webkit-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

@media screen and (max-width: 1200px) {
  .gtm-comp10 {
    max-height: 800px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.76);
            transform: scale(0.76);
  }
}

@media screen and (max-width: 992px) {
  .gtm-comp10 {
    max-height: 750px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 898px) {
  .gtm-comp10 {
    max-height: 600px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media screen and (max-width: 744px) {
  .gtm-comp10 {
    max-height: 500px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width: 618px) {
  .gtm-comp10 {
    max-height: 400px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@media screen and (max-width: 515px) {
  .gtm-comp10 {
    max-height: 370px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
}

@media screen and (max-width: 445px) {
  .gtm-comp10 {
    max-height: 270px;
  }
  .gtm-comp10-main_container {
    -webkit-transform: scale(0.27);
            transform: scale(0.27);
  }
}
/*# sourceMappingURL=GTMComp10.css.map */