.GTMComp2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.GTMComp2 .container {
    height: 450px;
}

.GTMComp2 .row{
    height: 100%;
}

.GTMComp2 .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    text-align: left!important;
}

.GTMComp2 .laptopImg {
    position: absolute;
    left: -60%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 150%;
    background: url(../images/laptop.png) no-repeat center center/cover;
    height: 100%;
}

.GTMComp2 .laptopImg:after {
    background: url(../images/shader1.png);
    content: "";
    right: -90px;
    top: -90px;
    height: 280px;
    width: 280px;
    position: absolute;
    z-index: -1;
}

.GTMComp2 .laptopImg:before {
    background: url(../images/shader2.png);
    content: "";
    left: 10%;
    bottom: -120px;
    height: 280px;
    width: 280px;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 992px) {

    .GTMComp2{
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .GTMComp2 .container {
        height: auto;
    }
    
    .GTMComp2 .laptopImg {
        position: static;
        width: auto;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 20px;
        height: 300px;
    }
    .GTMComp2 .laptopImg:after {
        display: none;
    }
    .GTMComp2 .laptopImg:before {
        display: none;
    }
}
