.box {
  background-color: white;
  height: 266.5px;
  width: 266.5px;
  transform: rotate(45deg);
}
.sbox {
  transition: all 0.5s ease-in-out;
}

.sbox:hover {
  transform: scale(1.05);
}
.sbox:hover .purpleD {
  transform: rotate(0deg);
}
.boxHead {
  font-weight: 500;
  color: #33657e;
}
.dbanner {
  min-height: 400px;
}
.sbox {
  height: 350px;
  width: 350px;
}
.boxContent {
  z-index: 1;
}
.pimgText {
  background-color: #6ca0bc;
}
.philosophyCards {
  width: 45%;
  min-height: 40%;
}
.philForm {
  border-radius: 25px;
  background: rgba(244, 244, 244, 0.9);
}
.philForm input{
  padding: 0px 10px !important;
}
.philForm label{
  padding: 0px 10px !important;
}
.formbtn {
  padding: 5px 10px !important;
  background: linear-gradient(95.12deg, #eed979 0%, #6ca0bc 83.42%),
    linear-gradient(180deg, #f49af4 0%, #c21ec2 100%);
}
.carsl {
  border-radius: 0px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.9);
  height: 74%;
  width: 69%;
  overflow: hidden !important;
}
.carslBox {
  padding: 50px 80px 0px 100px !important;
  color: #33657e;
}
.carslHead {
  font-size: 2.8em;
  padding: auto !important;
}
.carslText {
  padding-right: 20px !important;
  font-weight: 400;
  font-size: 1.5em;
}
.carslD1 {
  margin-right: 11% !important;
  margin-bottom: 16% !important;
  width: 6%;
}
.carslD2 {
  margin-right: 21% !important;
  margin-top: 13% !important;
  width: 3%;
}
.dBox {
  height: 30%;
  width: 27%;
  z-index: 3;
  margin-left: 19% !important;
  margin-top: -1% !important;
}
.bigD1 {
  width: 52%;
  z-index: 4;
  margin-top: 3% !important;
}
.bigD2 {
  width: 35%;
  margin-right: 10% !important;
}
.phnNum {
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  top: 60% !important;
  margin-left: 24.5% !important;
  z-index: 5;
}
.phnBtn {
  width: 11.5%;
  height: auto;
  z-index: 5;
  margin-top: 14% !important;
  margin-left: 21.5% !important;
}
.phnBtn::after{
  content: " ";
  display: block !important;
  border-radius: 9999999px;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  /* height: calc(100% - ); */
  z-index: -2;
  animation: divPulse 1.5s infinite !important;
}

@keyframes divPulse{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(1.5);
    opacity: 0.1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
.social {
  width: 30%;
  height: 13%;
  margin-right: 4% !important;
  margin-bottom: 5% !important;
}
.socialText {
  font-size: 1em;
  color: #33657e;
  font-weight: bold;
  padding-bottom: 15px !important;
}

.littleD {
  height: 17%;
  width: 17%;
  z-index: 2;
  margin-top: 12% !important;
}
.purpleD {
  height: 100%;
  width: 100%;
  background: linear-gradient(84.04deg, #a06daf 9.45%, #6ca0bc 97.98%);
  transform: rotate(45deg);
  transition: all 1.5s ease-in-out;
}
.dImg {
  width: 100%;
  transform: rotate(-45deg);
}
.dd1 {
  transform: rotate(45deg);
}
.componentText {
  color: #33657e;
}
.philText {
  color: #ababab;
  padding: 0px 20% !important;
}
.box > div {
  width: 10%;
  height: 10%;
}

.boxContent > p:nth-child(2){
  /* background-color: red; */
  padding: 5px 15px !important;
  /* font-size: 14px !important; */
  /* margin: 15px 0px !important; */
}
/* learn more css */
.learn-more{
  color: #33657e;
  font-weight: 600;
  font-size: 0.9em;
  /* padding: 10px !important; */
  margin: 10px 0px !important;
  text-align: center;
  cursor: pointer;
}

.learn-more > img{
  padding: 0px 10px !important;
  animation: arrowSidewise 1s linear infinite;
}


@keyframes arrowSidewise{
  0%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(-2px);
  }
}

@media only screen and (max-width: 1200px) {
  .carslBox {
    padding: 25px 80px 0px 80px !important;
    color: #33657e;
  }
  .carslHead {
    font-size: 2.5em;
    padding: auto !important;
  }
  .carslText {
    padding-right: 20px !important;
    font-weight: 400;
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 992px) {
  .carslBox {
    padding: 13px 61px 0px 61px !important;
    color: #33657e;
  }
  .carslHead {
    font-size: 2.1em;
    padding: auto !important;
    margin-bottom: 7px !important;
  }
  .carslText {
    padding-right: 20px !important;
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 3px !important;
  }
  .socialBlocks {
    padding: 0px 1px !important;
  }
  .socialText {
    font-size: 0.7em;
    margin: 2px 0px !important;
    padding-bottom: 0px !important;
  }
  .phnNum {
    font-size: 0.45em;
    margin-left: 24% !important;
  }
  .phnBtn {
    width: 9.5%;
    margin-top: 12% !important;
    margin-left: 21% !important;
  }
}
@media only screen and (max-width: 576px) {
  .carslBox {
    padding: 10px 16px 0px 30px !important;
    color: #33657e;
  }
  .carslHead {
    font-size: 0.9em;
    padding: auto !important;
    margin-bottom: 4px !important;
  }
  .carslText {
    padding-right: 20px !important;
    font-weight: 400;
    font-size: 0.4em;
    margin-bottom: 1px !important;
  }
  .sbox {
    height: 200px;
    width: 200px;
    font-size: 8px;
  }
  .box {
    height: 145px;
    width: 145px;
  }
  .learn-more > img {
    padding: 0px 5px !important;
    height: 5px !important;
    width: 18px !important;
  }
}
