.box {
  background-color: white;
  height: 266.5px;
  width: 266.5px;
  transform: rotate(45deg);
}
.sbox {
  transition: all 1.5s ease-in-out;
}

.sbox:hover {
  transform: scale(1.2);
}
.sbox:hover .purpleD {
  transform: rotate(0deg);
}
.boxHead {
  font-weight: 500;
  color: #33657e;
}
.dbanner {
  min-height: 400px;
}
.sbox {
  height: 350px;
  width: 350px;
}
.boxContent {
  z-index: 1;
}
.pimgText {
  background-color: #6ca0bc;
}
.philosophyCards {
  width: 45%;
  min-height: 40%;
}
.philForm {
  border-radius: 25px;
  background: rgba(244, 244, 244, 0.9);
}
.formbtn {
  background: linear-gradient(95.12deg, #eed979 0%, #6ca0bc 83.42%),
    linear-gradient(180deg, #f49af4 0%, #c21ec2 100%);
}
.carsl {
  border-radius: 0px 30px 0px 0px;
  background: rgba(255, 255, 255, 0.9);
  height: 69%;
  width: 69%;
}
.carslBox {
  padding: 50px 80px 0px 80px;
  color: #33657e;
}
.carslHead {
  font-size: 2.8em;
  padding: auto;
}
.carslText {
  padding-right: 20px;
  font-weight: 400;
  font-size: 1.5em;
}
.carslD1 {
  margin-right: 11%;
  margin-bottom: 16%;
  width: 6%;
}
.carslD2 {
  margin-right: 21%;
  margin-top: 13%;
  width: 3%;
}
.dBox {
  height: 30%;
  width: 27%;
  z-index: 3;
  margin-left: 19%;
  margin-top: -1%;
}
.bigD1 {
  width: 52%;
  z-index: 4;
  margin-top: 3%;
}
.bigD2 {
  width: 35%;
  margin-right: 10%;
}
.phnNum {
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  margin-left: 24.5%;
  z-index: 5;
}
.phnBtn {
  width: 11.5%;
  z-index: 5;
  margin-top: 14%;
  margin-left: 21.5%;
}
.social {
  width: 30%;
  height: 13%;
  margin-right: 9%;
  margin-bottom: 8%;
}
.socialText {
  font-size: 1em;
  color: #33657e;
  font-weight: bold;
  padding-bottom: 3px;
}
.littleD {
  height: 17%;
  width: 17%;
  z-index: 2;
  margin-top: 12%;
}
.purpleD {
  height: 100%;
  width: 100%;
  background: linear-gradient(84.04deg, #a06daf 9.45%, #6ca0bc 97.98%);
  transform: rotate(45deg);
  transition: all 1.5s ease-in-out;
}
.dImg {
  width: 100%;
  transform: rotate(-45deg);
}
.dd1 {
  transform: rotate(45deg);
}
.componentText {
  color: #33657e;
}
.philText {
  color: #ababab;
  padding: 0px 20%;
}
.box > div {
  width: 10%;
  height: 10%;
}
@media only screen and (max-width: 1200px) {
  .carslBox {
    padding: 25px 80px 0px 80px;
    color: #33657e;
  }
  .carslHead {
    font-size: 2.5em;
    padding: auto;
  }
  .carslText {
    padding-right: 20px;
    font-weight: 400;
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 992px) {
  .carslBox {
    padding: 13px 61px 0px 61px;
    color: #33657e;
  }
  .carslHead {
    font-size: 2.1em;
    padding: auto;
    margin-bottom: 7px;
  }
  .carslText {
    padding-right: 20px;
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 3px;
  }
  .socialBlocks {
    padding: 0px 1px;
  }
  .socialText {
    font-size: 0.7em;
    margin: 2px 0px;
    padding-bottom: 0px;
  }
  .phnNum {
    font-size: 0.45em;
    margin-left: 24%;
  }
  .phnBtn {
    width: 9.5%;
    margin-top: 12%;
    margin-left: 21%;
  }
}
@media only screen and (max-width: 576px) {
  .carslBox {
    padding: 6px 16px 0px 16px;
    color: #33657e;
  }
  .carslHead {
    font-size: 0.9em;
    padding: auto;
    margin-bottom: 4px;
  }
  .carslText {
    padding-right: 20px;
    font-weight: 400;
    font-size: 0.4em;
    margin-bottom: 1px;
  }
  .sbox {
    height: 200px;
    width: 200px;
    font-size: 8px;
  }
  .box {
    height: 145px;
    width: 145px;
  }
  .phnNum {
    font-size: 0.25em;
    margin-left: 24%;
  }
  .phnBtn {
    width: 11%;
    margin-top: 4%;
    margin-left: 19.5%;
  }
}
