.bannerContainer{
    margin-top: 80px !important;
    margin-bottom: 30px !important;
    position: relative;
    width: 100%;
    max-width: 100vw;
    color: #33657E !important;
    font-size: 1.1vw;
    // height: 650px;
    height: 41.5vw;
    max-height: 806px;
    margin: 0 auto;
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .maxContainer{
        top: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        margin: 0% auto 0 auto;
        z-index: 2;
    }
    .leftBannerContainerWrapper{
        position: absolute;
        bottom: 0px !important;
        left: 0;
        height:73.19%;
        width: 54.7%;
        max-width: 1031px;
        border-radius: 0px 20px 0px 0px;
        background-color: #FFFFFFE5;
    }
    .leftBannerContainer{
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .leftIndicators{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 13%;
        z-index: 10;
    }
    .indicatorCircle{
        width: 8px;
        height: 8px;
        border: 4px solid #B9B9B9;
        border-radius: 100%;
        margin: 5px 0px 5px 0px !important;
        background-color: white;
        cursor: pointer;
    }
    .activeIndicatorCircle{
        width: 14px !important;
        height: 14px !important;
    }
    .rightPartBanner{
        flex: 87%;
        display: flex;
        flex-direction: column;
        padding: 0px 7% 3% 0px !important;
        overflow: hidden !important;
    }
    .bannerText{
        flex: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
        transition: transform 1s ease-in-out, visibility 0s cubic-bezier(0,1.15,.04,.88), opacity 1s cubic-bezier(0,1.15,.04,.88) !important;
        overflow: hidden !important;
        z-index: 3;
        padding: 0px 4% 0px 0px !important;
    }
    .bannerText-diff{
        padding: 0px 20% 0px 0px !important;
    }
    
    .bannerTextHide{
        opacity: 0 !important;
        visibility: hidden !important;
        position: absolute;
        transform: translateX(-50%);
        top:10%;
        z-index: 0;
        color: #FFFFFFE5;
    }
    
    .bannerHead{
        text-transform: uppercase;
        font-size: 2.635em;
        line-height: 1.4em;
        font-weight: bold;
        margin: 0px !important;
    }
    .bannerSubtitle{
        font-size: 1.375em;
        line-height: 1.4em;
        margin: 2% 0px 0px 0px !important;
    }
    
    .bannerSocialLinksContainer{
        flex: 10% !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: auto !important;
        height: 50px !important;
        min-width: 40% !important;
        /* border: 1px solid red; */
        align-self: flex-end !important;
    }
    .bannerSocialText{
        text-align: left;
        color: #33657E;
        line-height: 2.5em;
        font-size: 1.1em;
        font-weight:  700;
        margin: 0px 0px 5px 0px !important;
    }
    .socialIconsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        max-height: 30px !important;
    }
    
    .socialIcon{
        all: unset;
        border-radius: 50% !important;
        height: 2.056vw !important;
        width: 2vw !important;
        min-height: 2.056vw !important;
        min-width: 2.056vw !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #33657E;
        cursor: pointer;
    }
    .socialIcon:not(:last-child){
        margin-right: 4% !important;
    }
    .socialIcon > i{
        font-size: 1.4vw !important;
        color: #33657E;
    }
    
    .rightBannerContainer{
        position: absolute;
        bottom: 0px !important;
        right: 0px;
        width: 20%;
        max-width: 377px;
        height: 26.8%; 
        z-index: 1;
        background-color: #FFFFFFE5;
        &::after{
            content: '';
            background: url(./images/play-btn-icon.png);
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 1;
        }
    }
    .rightBannerContainer > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
        cursor: pointer;
    }
    .rightBannerContainer > iframe{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }
    
    .twoDiamonds{
        position: absolute;
        bottom: -10%;
        z-index: 12;
        left: 5%;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bigDiamond{
        height: 11vw !important;
        width: 11vw !important;
        position: relative;
        padding: 0px 0px 10px 0px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        transition-delay: 0.2s;
    }
    .bigDiamond > img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain !important;
    }
    .callButton{
        height: 2.5vw;
        width: 2.5vw;
        margin-top: 20% !important;
        position: relative;
        z-index: 15 !important;
        cursor: pointer;
    }
    
    .callButton > img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        z-index: 15 !important;
    }
    
    .callButton::after{
        z-index: 10 !important;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5vw;
        width: 2.5vw;
        background-color: white;
        border-radius: 50%;
        animation: pulse 1.5s infinite;
    }
    
    @keyframes pulse{
        0%{
            transform: scale(1);
            opacity: 0.8;
        }
        50%{
            transform: scale(1.3);
            opacity: 0.2;
        }
        100%{
            transform: scale(1);
            opacity: 0;
        }
    }
    .mobileNumber{
        margin: 6% 0px 0px 0px !important;
        z-index: 15 !important;
        font-size: 0.875em !important;
        line-height: 1.125em !important;
        color: white;
        font-size: 0.875em;
    }
    .smallDiamond{
        height: 8vw;
        width: 8vw;
        margin-left: -25%;  
        z-index: 0;  
    }
    .smallDiamond img{
        width: 100%;
        height: 100%;
        object-fit: contain !important;
    }
    
    .square-1{
        z-index: 13;
        position: absolute;
        top: 56%;
        right: 9%;
    }
    
    .square-2{
        z-index: 13;
        position: absolute;
        top: 25%;
        right: 15%;
    }
    .square-2-diff{
        top: 65% !important;
        right: 50% !important;
    }
}

@media only screen and (min-width: 1920px){
    .bannerContainer{
        font-size: 16px;
        .bigDiamond{
            max-width: 200px;
            max-height: 200px;
        }
        .smallDiamond{
            max-width: 120px;
            max-height: 120px;
        }
        .callButton{
            max-width: 32px;
            max-height: 32px;
            &::after{
                max-width: 32px;
                max-height: 32px;
            }
        }
        .mobileNumber{
            margin-top: 10% !important;
        }
        .socialIcon{
            max-width: 43px !important;
            max-height: 43px !important;
            width: 43px !important;
            height: 43px !important;
            min-width: 40px !important;
            min-height: 40px !important;
            i{
                font-size: 22.4px !important;
            }
        }
    }

}

@media only screen and (max-width: 1200px){
    .bannerContainer{
        .square-1{
            transform: scale(0.7);
        }
        .square-2{
            transform: scale(0.7);
        }
    }
}

@media only screen and (max-width: 992px){
    .bannerContainer{
        .bannerSocialText{
            margin: 0px !important;
        }
        .square-1{
            transform: scale(0.6);
        }
        .square-2{
            transform: scale(0.6);
        }
    }
}

@media only screen and (max-width: 756px){
    .bannerContainer{
        .square-1{
            transform: scale(0.4);
        }
        .square-2{
            transform: scale(0.4);
        }
    }
}
@media only screen and (max-width: 576px){
    .bannerContainer{
        .leftIndicators{
            width: 5% !important;
        }
        .indicatorCircle{
            width: 4px !important;
            height: 4px !important;
            border: 2px solid #B9B9B9 !important;
        }
        .activeIndicatorCircle{
            width: 6px !important;
            height: 6px !important;
        }
        .square-1{
            transform: scale(0.25);
            top: 50%;
            right: 0%;
        }
        .square-2{
            transform: scale(0.25);
            top: 20%;
            right: 10%;
        }
        .square-2-diff{
            top: 62% !important;
            right: 40% !important;
        }
        .callButton > img{
            width: 100%;
            height: 100%;
            object-fit: contain !important;
        }
        .twoDiamonds{
            bottom: -12% !important;
        }
    }
}

@media only screen and (max-width: 360px){
    .bannerContainer{
        .leftBannerContainerWrapper{
            border-radius: 0px 15px 0px 0px !important;
        }
        .leftIndicators{
            min-width: 30px !important;
        }
        .bannerSubtitle{
            margin-top: 1px !important;
        }
        .square-1{
            transform: scale(0.21);
            top: 45%;
            right: -7%;
        }
        .square-2{
            transform: scale(0.21);
            top: 15%;
            right: 8%;
        }
        .square-2-diff{
            top: 60% !important;
            right: 40% !important;
        }
    }
}