.portfolioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 662px;
    height: auto;
    background-color: #F2F2F2;
    padding: 50px 0;
    margin: 0 auto;
    // font-size: 1.2vw;
    font-size: calc(14px + 0.15vw) !important;
    .portfolioHead{
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 15%;
        h2{
            font-size: 2em;
            line-height: 2.125em;
            font-weight: 700;
            color: #33657E;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }
        hr{
            margin: 0px 0px 0px 0px !important;
            width: 6vw;
            max-width: 80px;
            min-width: 30px;
            height: 5px;
            background-color:#A06DAF;
            text-align: center;
        }
    }
    .portfolioBody{
        max-width: 1920px;
        flex: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important;
        padding: 0px 10px !important;
        margin-top: 3% !important;
        .portfolioSection{
            // max-width: 364px;
            // min-width: 280px;
            // width: 25%;
            // max-height: 431px;
            // min-height: 381px !important;
            height: 431px;
            width: 364px;
            // max-width: 364px;
            margin: 10px 20px 10px 20px !important;
            position: relative;
            box-sizing: content-box;
            border: 2px solid #fff ;
            background-color: white;
            overflow-y: hidden;
            // transition-delay: 1s;
            img{
                // position: absolute;
                // top: 0;
                // left: 0;
                // max-width: 100%;
                width: 100%;
                // height: auto;
                object-fit: cover ;
                z-index: 1;
            }
            .portfolioFloatingDiv{
                position: absolute;
                top: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                width: 100%;
                height: 100%;
                // padding: 5% 10% !important;
                background-color: #6CA0BC ;
                opacity: 1;
                color: white;
                z-index: 2;
                transition: all 0.5s ease-in-out;
                h4{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 15%;
                    width: 100%;
                    // background-color: red;
                    margin: 0px 0px 0px 0px !important;
                    font-size: 1.2em;
                    // font-size: 18px;
                    text-align: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    transform: translateY(0%);
                    transition: all 0.5s ease-in-out;
                }
                p{
                    font-size: 0.9em;
                    line-height: 1.5em;
                    text-align: center;
                    font-weight: 600;
                    margin: 5% 0px 5% 0px !important;
                    padding: 0% 10% !important;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                }
                a{
                    margin: 0px 0px 0px 0px !important;
                    font-size: 0.9em ;
                    text-decoration: none;
                    font-weight: 600;
                    color: #534b53;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        color: #A06DAF;
                    }
                }
            }
            &:hover .portfolioFloatingDiv{
                top: 0% ;
                opacity: 0.8;
                h4{
                    font-size: 1.5em;
                    margin-top: 40% !important;
                    transform: translateY(-50%);
                }
                p{
                    opacity: 1;
                    margin: -10% 0px 0px 0px !important;
                }
                a{
                    margin: 4% 0px 0% 0px !important;
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (min-width: 1920px){
    .portfolioContainer{
        padding: 60px 0px !important;
        // font-size: 17px;
        hr{
            max-width: 95px;
        }
        .portfolioBody{
            margin-top: 30px !important;
        }
    }
}

@media only screen and (max-width: 1200px){
    .portfolioContainer{
         padding: 40px 0;
        .portfolioHead{
            h2{
                // font-size: 2.4em;
            }
            hr{
                // width: 10vw;
                height: 4px;
            }
        }
        .portfolioSection{
            // font-size: 1.2em;
            .portfolioFloatingDiv{
                &:hover h4{
                    // font-size: 1em;
                    
                }
            }
        }
    }
}
@media only screen and (max-width: 992px){
    .portfolioContainer{
        // font-size: calc(12px + 0.15vw) !important;
        padding: 40px 0;
        .portfolioHead{
            h2{
                // font-size: 2.5em;
            }
            hr{
                // width: 12vw;
                height: 4px;
            }
        }
        .portfolioSection{
            // font-size: 1.4em;
            .portfolioFloatingDiv{
                &:hover h4{
                    // font-size: 1em;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 768px){
    .portfolioContainer{
        padding: 30px 0;
        .portfolioHead{
            hr{
                height: 4px;
            }
        }
        .portfolioSection{
            .portfolioFloatingDiv{
                h4{
                }
                &:hover h4{
                    // font-size: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .portfolioContainer{
        font-size: calc(11px + 0.1vw) !important;
        padding: 30px 0;
        .portfolioHead{
            h2{
                // font-size: 3.5em;
            }
            hr{
                // width: 20vw;
                height: 4px;
            }
        }
        .portfolioSection{
            max-width: 80% !important;
            max-height: 430px !important;
            width: 60% !important;
            height: auto !important;
            .portfolioFloatingDiv{
                h4{

                }
                &:hover h4{

                }
            }
        }
    }
}

@media only screen and (max-width: 360px){
    .portfolioContainer{
        font-size: calc(8px + 0.04vw) !important;
        padding: 20px 0px;
        .portfolioHead{
            h2{
                
            }
            hr{
                height: 4px;
            }
        }
        .portfolioSection{
            // font-size: 3em;
            max-width: 90% !important;
            max-height: 330px !important;
            .portfolioFloatingDiv{
                h4{
                }
                &:hover h4{
                    margin-top: 70% !important;
                    // font-size: 1em;
                }
            }
        }
    }

}