.portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 662px;
  height: auto;
  background-color: #F2F2F2;
  padding: 3% 0%;
  margin: 0 auto;
  font-size: 1.2vw;
}

.portfolioContainer .portfolioHead {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 15%;
}

.portfolioContainer .portfolioHead h2 {
  font-size: 2em;
  line-height: 2.125em;
  font-weight: 700;
  color: #33657E;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.portfolioContainer .portfolioHead hr {
  margin: 0px 0px 0px 0px !important;
  width: 7vw;
  height: 5px;
  background-color: #A06DAF;
  text-align: center;
}

.portfolioContainer .portfolioBody {
  max-width: 1920px;
  -webkit-box-flex: 85%;
      -ms-flex: 85%;
          flex: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100% !important;
  padding: 0px 10px !important;
  margin-top: 3% !important;
}

.portfolioContainer .portfolioBody .portfolioSection {
  max-width: 364px;
  max-height: 431px;
  height: 431px;
  width: 364px;
  margin: 10px 20px 10px 20px !important;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #fff;
  background-color: white;
  overflow-y: hidden;
}

.portfolioContainer .portfolioBody .portfolioSection img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.portfolioContainer .portfolioBody .portfolioSection .portfolioFloatingDiv {
  position: absolute;
  top: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #6CA0BC;
  opacity: 1;
  color: white;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainer .portfolioBody .portfolioSection .portfolioFloatingDiv h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15%;
  width: 100%;
  margin: 0px 0px 0px 0px !important;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainer .portfolioBody .portfolioSection .portfolioFloatingDiv p {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 600;
  margin: 5% 0px 5% 0px !important;
  padding: 0% 10% !important;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainer .portfolioBody .portfolioSection .portfolioFloatingDiv a {
  margin: 0px 0px 0px 0px !important;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
  color: #534b53;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolioContainer .portfolioBody .portfolioSection .portfolioFloatingDiv a:hover {
  color: #A06DAF;
}

.portfolioContainer .portfolioBody .portfolioSection:hover .portfolioFloatingDiv {
  top: 0%;
  opacity: 0.8;
}

.portfolioContainer .portfolioBody .portfolioSection:hover .portfolioFloatingDiv h4 {
  font-size: 1.5em;
  margin-top: 40% !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolioContainer .portfolioBody .portfolioSection:hover .portfolioFloatingDiv p {
  opacity: 1;
  margin: -10% 0px 0px 0px !important;
}

.portfolioContainer .portfolioBody .portfolioSection:hover .portfolioFloatingDiv a {
  margin: 4% 0px 0% 0px !important;
  opacity: 1;
}

@media only screen and (min-width: 1920px) {
  .portfolioContainer {
    padding: 60px 0px !important;
    font-size: 17px;
  }
  .portfolioContainer hr {
    max-width: 95px;
  }
  .portfolioContainer .portfolioBody {
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .portfolioContainer .portfolioHead h2 {
    font-size: 2.4em;
  }
  .portfolioContainer .portfolioHead hr {
    height: 4px;
  }
  .portfolioContainer .portfolioSection {
    font-size: 1.2em;
  }
  .portfolioContainer .portfolioSection .portfolioFloatingDiv:hover h4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 992px) {
  .portfolioContainer .portfolioHead h2 {
    font-size: 2.5em;
  }
  .portfolioContainer .portfolioHead hr {
    height: 4px;
  }
  .portfolioContainer .portfolioSection {
    font-size: 1.4em;
  }
  .portfolioContainer .portfolioSection .portfolioFloatingDiv:hover h4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 756px) {
  .portfolioContainer .portfolioHead h2 {
    font-size: 2.8em;
  }
  .portfolioContainer .portfolioHead hr {
    height: 4px;
  }
  .portfolioContainer .portfolioSection {
    font-size: 17px;
  }
  .portfolioContainer .portfolioSection .portfolioFloatingDiv:hover h4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 576px) {
  .portfolioContainer .portfolioHead h2 {
    font-size: 3.5em;
  }
  .portfolioContainer .portfolioHead hr {
    height: 4px;
  }
  .portfolioContainer .portfolioSection {
    font-size: 16px;
    max-width: 85% !important;
    max-height: 430px !important;
  }
  .portfolioContainer .portfolioSection .portfolioFloatingDiv:hover h4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .portfolioContainer .portfolioHead h2 {
    font-size: 3.5em;
  }
  .portfolioContainer .portfolioHead hr {
    height: 4px;
  }
  .portfolioContainer .portfolioSection {
    font-size: 3em;
    max-width: 90% !important;
    max-height: 330px !important;
  }
  .portfolioContainer .portfolioSection .portfolioFloatingDiv:hover h4 {
    margin-top: 70% !important;
    font-size: 1em;
  }
}
/*# sourceMappingURL=Portfolio.css.map */