@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.services_container {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px !important;
}

.services_heading {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #33657e;
  margin-bottom: 50px !important;
}

.services_heading:after {
  content: "";
  position: absolute;
  background-color: #a06daf;
  width: 80px;
  height: 5px;
  left: 25%;
  bottom: -20px;
}

.button_list {
  display: flex;
  margin-top: 10px !important;
  margin-bottom: 18px !important;
  /* padding: 0 100px !important; */
  overflow-x: auto !important;
}

.button_main {
  background-color: white;
  margin-right: 20px !important;
  padding: 14px 10px !important;
  border-radius: 30px;
  color: #5f8298;
  cursor: pointer;
  min-width: 200px !important;
  text-align: center;
}

.button_list::-webkit-scrollbar {
  display: none;
}

.button_active {
  background-color: #5f8298;
  color: white;
}

.button_main:active {
  background-color: #5f8298;
  color: white;
}

.bottom_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px !important;
  background: linear-gradient(
    180deg,
    rgba(51, 101, 126, 0.8) 0%,
    rgba(160, 109, 175, 0.8) 51.56%,
    rgba(51, 101, 126, 0.8) 100%
  );
  box-shadow: 0px 20px 40px rgba(13, 18, 24, 0.25);
}

.image_left {
  background: url("./images/Rectangle\ 126.png");
  width: 220px;
  height: 350px;
}

.content_right {
  margin-top: 30px !important;
  margin-left: 56px !important;
}

.content_heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 30px !important;
}

.content_info {
  list-style: none;
  margin-top: 25px !important;
}

.content_info_points {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px !important;
}

.content_info_points img {
  margin-right: 10px !important;
}

.bottom_button {
  display: flex;
  align-items: center;
  justify-content: left;
}

.button_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #9ea5be;
  margin-left: 23px !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}
.button_circle {
  cursor: pointer;
}

#content_right_2,
#content_right_3,
#content_right_4,
#content_right_5,
#content_right_6,
#content_right_7 {
  display: none;
}

/* #content_right_2 {
  padding-right: 80px !important;
}

#content_right_4 {
  padding-right: 60px !important;
}

#content_right_6 {
  padding-right: 40px !important;
}

#content_right_7 {
  padding-right: 190px !important;
} */

@media only screen and (max-width: 1000px) {
  .content_right_1 .content_heading {
    padding-right: 40px !important;
  }

  .content_right_3 .content_info {
    padding-right: 60px !important;
  }

  .content_right_3 .content_info_points {
    font-size: 14px;
  }

  .content_right_4 .content_info_points {
    font-size: 16px;
  }

  .content_right_5 .content_info_points,
  .content_right_6 .content_info_points {
    font-size: 14px;
  }

  #content_right_7 {
    padding-right: 100px !important;
  }

  /* .content_right_7 .content_heading {
    font-size: 20px;
  } */

  .content_right_7 .content_info_points {
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .content_right_1 .content_heading {
    font-size: 20px;
  }

  .content_right_3 .content_info {
    padding-right: 30px !important;
  }

  .content_right_4 .content_heading {
    font-size: 20px;
  }

  .content_right_4 .content_info_points {
    font-size: 14px;
  }

  .content_right_6 .content_info_points {
    font-size: 13px;
  }

  #content_right_7 {
    padding-right: 50px !important;
  }

  .content_right_7 .content_heading {
    font-size: 22px;
  }

  .content_right_7 .content_info_points {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .content_heading {
    font-size: 20px;
  }

  .content_info_points {
    font-size: 15px;
    line-height: 20px;
  }

  .bottom_button {
    align-items: center;
  }

  .button_text {
    font-size: 14px;
  }

  .button_circle {
    width: 20px;
    height: 20px;
    margin-bottom: 15px !important;
  }

  .content_right_2 {
    margin-left: 30px !important;
  }

  .content_right_3 {
    padding-right: 10px !important;
  }

  .content_right_6 {
    padding-right: 10px !important;
  }

  .content_right_3 .content_info_points,
  .content_right_4 .content_info_points,
  .content_right_5 .content_info_points,
  .content_right_6 .content_info_points,
  .content_right_7 .content_info_points {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .image_left {
    width: 120px;
  }

  #content_right_7 {
    padding-right: 30px !important;
  }
}

@media only screen and (max-width: 736px) {
  .content_heading {
    font-size: 16px;
    line-height: 30px;
  }

  .content_info_points {
    font-size: 13px;
    line-height: 17px;
  }

  .image_left {
    height: 330px;
  }
}

@media only screen and (max-width: 684px) {
  .content_heading {
    font-size: 12px;
    line-height: 20px;
  }

  .content_info_points {
    font-size: 11px;
    line-height: 15px;
  }

  .image_left {
    height: 300px;
  }

  .content_right,
  #content_right_2,
  #content_right_3,
  #content_right_4,
  #content_right_5,
  #content_right_6,
  #content_right_7 {
    margin-left: 10px !important;
  }
}

@media only screen and (max-width: 594px) {
  .image_left {
    height: 240px;
  }

  .content_right,
  #content_right_2,
  #content_right_3,
  #content_right_4,
  #content_right_5,
  #content_right_6,
  #content_right_7 {
    margin-top: 10px !important;
  }

  .content_right_1 .content_heading,
  .content_right_2 .content_heading,
  .content_right_3 .content_heading,
  .content_right_4 .content_heading,
  .content_right_5 .content_heading,
  .content_right_6 .content_heading,
  .content_right_7 .content_heading {
    font-size: 12px;
    line-height: 17px;
  }

  .content_right_1 .content_info_points,
  .content_right_2 .content_info_points,
  .content_right_3 .content_info_points,
  .content_right_4 .content_info_points,
  .content_right_5 .content_info_points,
  .content_right_6 .content_info_points,
  .content_right_7 .content_info_points {
    font-size: 9px;
    line-height: 8px;
  }

  #content_right_3 {
    margin-top: 0px !important;
  }

  .bottom_info {
    font-size: 9px;
  }

  /* .button_circle {
    width: 10px;
    height: 10px;
    margin-bottom: 30px !important;
  } */

  /* .button_main {
    background-color: white;
    margin-right: 10px !important;
    padding: 10px 6px !important;
    border-radius: 30px;
    color: #5f8298;
    cursor: pointer;
    min-width: 200px !important;
    text-align: center;
  } */

  .content_right_1 .content_info,
  .content_right_3 .content_info,
  .content_right_6 .content_info {
    margin-top: 10px !important;
  }

  .content_right_6 .content_heading {
    font-size: 11px;
  }
}
