.interactive_card1,
.interactive_card2,
.interactive_card3,
.interactive_card4,
.interactive_card5,
.interactive_card6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interactive_cards {
  margin: 50px 0 !important;
}

.interactive_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px !important;
  grid-row-gap: 30px !important;
}

.interactive_card1 {
  grid-area: 1 / 1 / 2 / 2;
}
.interactive_card2 {
  grid-area: 1 / 2 / 2 / 3;
}
.interactive_card3 {
  grid-area: 1 / 3 / 2 / 4;
}
.interactive_card4 {
  grid-area: 2 / 1 / 3 / 2;
}
.interactive_card5 {
  grid-area: 2 / 2 / 3 / 3;
}
.interactive_card6 {
  grid-area: 2 / 3 / 3 / 4;
}

@media only screen and (max-width: 767px) {
  .interactive_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .interactive_card1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .interactive_card2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .interactive_card3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .interactive_card4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .interactive_card5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .interactive_card6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media only screen and (max-width: 575px) {
  .interactive_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .interactive_card1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .interactive_card2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .interactive_card3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .interactive_card4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .interactive_card5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .interactive_card6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}
