.Conversations-Sg {
    /*  padding-top: 100px; */
    margin-bottom: 200px;

    position: relative !important;
  }
  .conv-sg-pp{
      position: relative;
  }
  
  .hoverinit-Conversations .main2-Conversations {
    position: relative;
    transform: scale(1);
    transition: all 0.6s linear;
  }
  .main2-Conversations {
    position: relative;
    z-index: 2;
  }
  
  .hoverinit-Conversations {
    position: relative;
    z-index: 10;
  }
  
  .Inc_Div_our-faith-main-img-Conversations {
    position: relative;
    z-index: 10;
    width: 298.04px;
    height: 300px;
    left: 0px;
    top: 50px;
    overflow: hidden;
    transform: rotate(-45deg) !important;
  }
  
  .Inc_Div_our-faith-main-img-Conversations .main2-Conversations {
    transform: rotate(45deg) !important;
    width: 143%;
    height: 143%;
    margin-top: -21.5%;
    margin-left: -21.5%;
    transition: all 0.6s linear;
  }
  .hoverinit-Conversations:hover .main2-Conversations {
    transform: scale(1.03) rotate(45deg) !important;
  }
  .images-2-Conversations {
    position: relative;
    left: -10%;
  }
  .wall2-container-Conversations {
    position: absolute;
    left: 100%;
    top: 70%;
  }
  .small2-container-Conversations {
    position: absolute;
    left: 70%;
    top: 110%;
  }
  .side2-container-Conversations {
    position: absolute;
    top: -160px;
    left: 30px;
  }

  .ppc2Button{
    width: 238px;
    height: 42px;
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), #C4C4C4;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.ppc2Button:hover{
    color: white;
    text-decoration: none;
    background: linear-gradient(95.12deg, #6CA0BC  0%, #E5CD60 83.42%);
}

  .prev-2-text-1-Conversations {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #3c708e;
  }
  
  .prev-2-text-2-Conversations {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
  }
  
  .texting-2-Conversations {
    position: relative;
    left: -2%;
    padding-top: 10%;
  }
  
  @media(max-width:1376px){
    .images-2-Conversations{
      left: 0%;
    }
  }
  
  @media (max-width: 1200px) {
    .wall2-container-Conversations {
      left: 80%;
    }
    .prev2-Conversations {
      margin-top: 0px;
    }
    .texting-2-Conversations {
      position: relative;
      left: 0%;
      padding-top: 10%;
    }
  }
  
  @media (max-width: 991.843654px) {
    .wall2-container-Conversations {
      left: 100%;
      top: 40%;
    }
    .side2-container-Conversations {
      top: -290px;
      left: 10%;
    }
    .img-container-Conversations {
      position: relative;
      top: -30%;
    }
    .small2-container-Conversations {
      top: 80%;
    }
    .Conversations-Sg {
      margin-top: 150px !important;
    }
    .prev-2-text-1-Conversations {
      font-size: 16px;
      line-height: 20px;
    }
    .prev-2-text-2-Conversations {
      font-size: 14px;
      text-align: left;
    }
  }
  @media (max-width: 768px) {
    .prev-2-text-1-Conversations {
      font-size: 12px;
      line-height: 20px;
    }
    .prev-2-text-2-Conversations {
      font-size: 10px;
      text-align: left;
      line-height: 20px;
    }
    /* .side2-container-Conversations {
      top: 1000px;
    } */
  }
  
  @media(max-width:576px){
    .texting-2-Conversations{
      margin-left: 10px;
      padding-right: 30px !important;
    }
    .prev-2-text-2-Conversations{
      text-align: justify;
    }
  }
  
  @media (max-width: 653px) {
    .side2-container-Conversations {
      /* top: 750px; */
      width: 130px !important;
      height: 190px !important;
      top: -150px !important;
    }
  }
  @media (max-width: 509px) {
    .Inc_Div_our-faith-main-img-Conversations {
      width: 300px;
      height: 302.8px;
    }
    .Inc_Div_our-faith-main-img-Conversations .main2-Conversations {
      width: 103%;
      height: 103%;
    }
    .img-container-Conversations {
      position: relative;
      left: 20%;
    }
    .wall2-container-Conversations {
      width: 25%;
      left: 75%;
      top: 40%;
    }
    .small2-container-Conversations {
      top: 70%;
      width: 10%;
      left: 52%;
    }
    .side2-container-Conversations {
      left: 10px;
      top: -150px;
    }
  }
  