.blogContainer {
    margin: 80px auto 0 auto;
    width: 100%;
    font-size: calc(14px + 0.15vw);
}

.blogContainer .blogSubscription {
    margin: 0 auto 0 auto;
    background-color: #f3f3f3;
    width: 100%;
    max-width: 1200px;
    padding: 25px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blogContainer .blogSubscription h3 {
    margin: 0;
    padding: 0;
    display: block;
    color: #31647c;
    font-size: 1.375em;
    font-weight: 500;
}

.blogContainer .blogSubscription input[type="email"] {
    max-width: 303px;
    font-size: 1em;
    width: 25%;
    padding: 8px 15px;
    outline: none;
    border: none;
    color: #31647c;
}

.blogContainer
    .blogSubscription
    input[type="email"]::-webkit-input-placeholder {
    font-size: 1em;
}

.blogContainer .blogSubscription input[type="email"]:-ms-input-placeholder {
    font-size: 1em;
}

.blogContainer .blogSubscription input[type="email"]::-ms-input-placeholder {
    font-size: 1em;
}

.blogContainer .blogSubscription input[type="email"]::placeholder {
    font-size: 1em;
}

.blogContainer .blogSubscription select {
    color: #b4b4b4;
    max-width: 303px;
    font-size: 1em;
    padding: 8px 15px;
    width: 25%;
    outline: none;
    border: none;
}

.blogContainer .blogSubscription select option {
    padding: 10px 15px;
}

.blogContainer .blogSubscription .subscribeButton {
    color: white;
    padding: 8px 0;
    background: linear-gradient(93.41deg, #6ca0bc 0%, #e5cd60 100%);
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    font-size: 1em;
    cursor: pointer;
}

.blogContainer .blogSubscription .subscribeButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: linear-gradient(93.41deg, #e5cd60 0%, #6ca0bc 100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blogContainer .blogSubscription .subscribeButton:hover::after {
    opacity: 0;
}

.blogContainer .blogMarket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 4px 8px 2px #0000000d;
    box-shadow: 0px 4px 8px 2px #0000000d;
    padding: 15px 0;
}

.blogContainer .blogMarket div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blogContainer .blogMarket div h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.75em;
    color: #232323;
}

.blogContainer .blogMarket div div {
    margin-top: 10px;
    font-size: 1.125em;
    padding: 6px 25px;
    max-width: 145px;
    max-height: 42px;
    color: #232323;
    border-width: 2px;
    border-style: solid;
    -o-border-image: linear-gradient(95.12deg, #eed979, #83b3ce 50.42%) 1;
    border-image: linear-gradient(95.12deg, #eed979, #83b3ce 50.42%) 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: transparent;
    cursor: pointer;
}

.blogContainer .blogMarket div div:hover {
    color: white;
    background: linear-gradient(38deg, #83b3ce 30%, #eed979 70%);
    -o-border-image: linear-gradient(38deg, #83b3ce 30%, #eed979 70%) 1;
    border-image: linear-gradient(38deg, #83b3ce 30%, #eed979 70%) 1;
}

.blogContainer .blogCustomizer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}

.blogContainer .blogCustomizer .blogDropDown {
    width: 20% !important;
}

.blogContainer .blogCustomizer .blogDropDown:first-child {
    margin-left: 20px;
}

.blogContainer .blogCustomizer .blogDropDown:last-child {
    margin-left: auto !important;
    margin-right: 20px !important;
}

.blogContainer .blogCustomizer .blogSearchInput {
    border: 1px solid #e1e1e1;
    max-width: 272px;
    max-height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 20px;
}

.blogContainer .blogCustomizer .blogSearchInput input {
    -webkit-box-flex: 80%;
    -ms-flex: 80%;
    flex: 80%;
    margin: 0;
    max-width: 272px;
    max-height: 42px;
    font-size: 1em;
    width: 25%;
    padding: 8px 10px;
    outline: none;
    border: none;
    color: #31647c;
}

.blogContainer .blogCustomizer .blogSearchInput img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .blogContainer .blogSubscription h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .blogContainer .blogSubscription div {
        min-width: 120px;
    }
    .blogContainer .blogSubscription select {
        min-width: 244px;
    }
    .blogContainer .blogSubscription input {
        min-width: 244px;
    }
}

@media only screen and (max-width: 756px) {
    .blogContainer .blogSubscription div {
        min-width: 110px;
    }
    .blogContainer .blogSubscription select {
        min-width: 200px;
    }
    .blogContainer .blogSubscription input {
        min-width: 200px;
    }
    .blogContainer .blogMarket h3 {
        text-align: center;
        max-width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .blogContainer .blogSubscription {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .blogContainer .blogSubscription div {
        margin: 20px auto 0 auto;
        min-width: 110px;
    }
    .blogContainer .blogSubscription select {
        margin-top: 20px;
        min-width: 230px;
        width: 80%;
    }
    .blogContainer .blogSubscription input {
        margin-top: 20px;
        min-width: 230px;
        width: 80% !important;
    }
}

@media only screen and (max-width: 360px) {
    .blogContainer .blogSubscription div {
        margin: 20px auto 0 auto;
        min-width: 110px;
    }
}
/*# sourceMappingURL=Blog.css.map */

.blogs-container-4 {
    position: relative;
    top: 100px;
    margin-bottom: 100px !important;
}

.blogs-container-4 .dividerLine {
    position: absolute;
    height: 85%;
    width: 2px;
    background-color: #e4e8ed;
    left: 50%;
    margin-left: -2.5px;
    top: -0.75%;
}

.blogs-container-4 .col-lg-5:nth-of-type(odd) {
    margin-top: 20% !important;
}

.blogs-container-4 .col-lg-5:nth-of-type(even) {
    margin-top: -2.5% !important;
}

.blogs-container-4 .col-lg-5:first-child {
    margin-top: 0 !important;
}

.blogs-container-4 .pagination {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 50px;
}

.blogs-container-4 .pagination .leftArrow {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.blogs-container-4 .pagination .rightArrow {
    height: 35px;
    width: 35px;
    background: #edecec;
    border-radius: 2px;
    cursor: pointer;
}

.blogs-container-4 .pagination .paginationNumber {
    height: 35px;
    width: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.blogs-container-4 .pagination .paginationNumber:hover {
    background: #edecec;
}

.blogs-container-4 .pagination .paginationNumber.active {
    background: #3c708e;
}

@media only screen and (max-width: 992px) {
    .blogs-container-4 .dividerLine {
        display: none;
    }

    .blogs-container-4 .col-lg-5:nth-of-type(odd) {
        margin-top: 20% !important;
    }

    .blogs-container-4 .col-lg-5:nth-of-type(even) {
        margin-top: 20% !important;
    }

    .blogs-container-4 .col-lg-5:nth-child(2) {
        margin-top: 0% !important;
    }
}
