body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fullSection {
  background: linear-gradient(
    255.47deg,
    #eedff2 2.24%,
    #e1edf3 17.92%,
    #ffffff 48.34%
  );
}

.landingPage {
  height: 45.5em !important;
}
.snakes {
  width: 64.5% !important;
}
.flexing {
  height: 100%;
}
.mediumD1 {
  width: 4%;
  margin-top: 10% !important;
  margin-right: 28% !important;
}
.mediumD2 {
  width: 4%;
  margin-bottom: 3% !important;
  margin-right: 7% !important;
  /* transform: rotate(360deg);
  transition : all 2s infinite; */
}
.mediumD2 {
  animation-name: revolve;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes revolve {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.brandPara {
  height: 38% !important;
  width: 28% !important;
  margin-left: -3.5% !important;
}
.paraHead {
  font-size: 1.3em;
  color: #33657e;
}
.paraText {
  font-size: 1em;
  color: #757575;
  text-align: justify;
}
.art {
  height: 100%;
  width: 58%;
}
.imprvdCompBlock {
  margin-top: 10% !important;
  margin-right: 49% !important;
  width: 20%;
  height: 13%;
}
.imprvdCompImg:hover {
  transform: scale(1.04);
  transition-duration: 3s;
}
.imprvdCompImg {
  width: 70%;
}
.imprvdCompText {
  font-size: 0.7em !important;
  padding-left: 12% !important;
  width: 50%;
  color: #33657e;
  font-weight: 500;
}
.relatableIDBlock {
  margin-bottom: -2% !important;
  margin-right: 45% !important;
  width: 20% !important;
  height: 16% !important;
}
.relatableIDImg:hover {
  transform: scale(1.04);
  transition-duration: 3s;
}
.relatableIDImg {
  width: 70%;
}
.relatableIDText {
  font-size: 0.8em !important;
  padding-left: 10% !important;
  width: 51% !important;
  color: #33657e !important;
  font-weight: 500 !important;
}
.custLoyaltyBlock {
  margin-bottom: -0.5% !important;
  margin-left: 4% !important;
  width: 22% !important;
  height: 18.5% !important;
}
.custLoyaltyImg:hover {
  transform: scale(1.04);
  transition-duration: 3s;
}
.custLoyaltyImg {
  width: 70%;
}
.custLoyaltyText {
  font-size: 0.9em;
  padding-left: 5%;
  width: 51%;
  color: #33657e;
  font-weight: 500;
}
.omniBlock {
  margin-top: 5% !important;
  margin-left: -29% !important;
  width: 22% !important;
  height: 17% !important;
}
.omniImg:hover {
  transform: scale(1.04);
  transition-duration: 3s;
}
.omniImg {
  width: 70%;
}
.omniText {
  font-size: 0.8em;
  padding-left: 7% !important;
  width: 51%;
  color: #33657e;
  font-weight: 500;
}
.phnbtn {
  width: 5% !important;
  margin-right: 28% !important;
  margin-bottom: 8% !important;
}
.phnbtn::after {
  z-index: 10 !important;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5vw;
  width: 2.5vw;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.littleD1 {
  width: 5% !important;
  margin-top: 15% !important;
  margin-right: 41% !important;
}
.littleD2 {
  width: 5% !important;
  margin-left: 17% !important;
  margin-bottom: 17% !important;
}
.textD {
  width: 30% !important;
  margin-left: -12% !important;
  margin-bottom: 6.5% !important;
}
.social {
  width: 6% !important;
  height: 35% !important;
}
@media only screen and (max-width: 1024px) {
  .landingPage {
    height: 40em !important;
  }
  .snakes {
    width: 75% !important;
  }
  .imprvdCompText {
    font-size: 0.7em !important;
    padding-left: 5% !important;
  }
  .mediumD2 {
    margin-bottom: 7% !important;
    margin-right: 13% !important;
  }
  .mediumD1 {
    margin-right: 17% !important;
    margin-top: 15% !important;
  }
  .textD {
    width: 30% !important;
    margin-left: -16% !important;
    margin-bottom: 17% !important;
  }
  .omniBlock {
    width: 23% !important;
    margin-left: -25% !important;
    margin-top: 7% !important;
  }
  .custLoyaltyBlock {
    margin-bottom: 1% !important;
    margin-left: 3% !important;
    width: 21% !important;
    height: 15.5% !important;
  }
  .imprvdCompBlock {
    margin-top: 15% !important;
    margin-right: 43% !important;
    width: 21% !important;
    height: 15% !important;
  }
  .littleD2 {
    margin-left: 15% !important;
    margin-bottom: 18% !important;
  }
  .relatableIDBlock {
    width: 21% !important;
    margin-bottom: -4% !important;
    margin-right: 35% !important;
    height: 16% !important;
  }
  .social {
    width: 7% !important;
    height: 35% !important;
  }
  .brandPara {
    margin-top: -1% !important;
    margin-left: 2% !important;
    width: 30% !important;
  }
  .paraHead {
    font-size: 1.3em !important;
  }
  .paraText {
    font-size: 0.9em !important;
  }
  .littleD1 {
    margin-right: 30% !important;
    margin-top: 20% !important;
  }
  .phnbtn {
    margin-right: 21% !important;
    margin-bottom: 16% !important;
  }
}
@media only screen and (max-width: 992px) {
  .snakes {
    width: 69%;
  }
  .landingPage {
    height: 31em !important;
  }
  .brandPara {
    margin-left: 1% !important;
  }
  .paraHead {
    font-size: 0.85em !important;
  }
  .paraText {
    font-size: 0.65em !important;
  }
  .imprvdCompBlock {
    margin-top: 22% !important;
    margin-right: 44% !important;
    width: 22% !important;
    height: 10% !important;
  }
  .imprvdCompText {
    font-size: 0.5em !important;
    padding-left: 10% !important;
  }
  .relatableIDBlock {
    margin-bottom: 6% !important;
    margin-right: 40% !important;
    width: 21% !important;
    height: 9% !important;
  }
  .relatableIDText {
    font-size: 0.5em !important;
    padding-left: 10% !important;
  }
  .mediumD2 {
    margin-bottom: 10% !important;
    margin-right: 13% !important;
  }
  .textD {
    margin-left: -17.5% !important;
    margin-bottom: 21% !important;
  }
  .custLoyaltyBlock {
    margin-bottom: 5% !important;
    margin-left: 2% !important;
    height: 11% !important;
  }
  .custLoyaltyText {
    font-size: 0.55em !important;
    padding-left: 9% !important;
  }
  .littleD2 {
    margin-left: 35% !important;
    margin-bottom: 39% !important;
  }
  .omniText {
    font-size: 0.55em !important;
    padding-left: 5% !important;
  }
  .omniBlock {
    width: 22%;
    height: 11%;
    margin-left: -25% !important;
    margin-top: 5% !important;
  }
  .social {
    width: 7% !important;
    height: 50% !important;
    padding-right: 0% !important;
  }
}
@media only screen and (max-width: 576px) {
  .snakes {
    width: 98% !important;
  }
  .flexing {
    flex-direction: column-reverse;
  }
  .brandPara {
    width: 80% !important;
    position: relative !important;
    margin: 0% auto !important;
  }
  .art {
    width: 100%;
    height: 35%;
    position: relative !important;
  }
  .landingPage {
    height: 34.5em !important;
  }
  .paraHead {
    font-size: 9.5px;
    padding: 0% 10%;
  }
  .paraText {
    font-size: 6.5px;
    padding: 0% 10%;
  }
  .brandPara {
    width: 39%;
    margin-top: -5%;
  }
  .mediumD2 {
    margin-bottom: 80% !important;
    margin-right: 32% !important;
  }
  .littleD2 {
    margin-left: 35% !important;
    margin-bottom: 45% !important;
  }
  .textD {
    width: 23% !important;
    margin-left: 15% !important;
    margin-bottom: 35% !important;
  }
  .imprvdCompBlock {
    width: 18% !important;
    height: 11% !important;
    margin-top: -25% !important;
    margin-right: 33% !important;
  }
  .imprvdCompText {
    font-size: 0.4em !important;
    padding-left: 10% !important;
    width: 51% !important;
  }
  .relatableIDBlock {
    margin-bottom: 34% !important;
    margin-right: 31% !important;
    width: 18% !important;
    height: 11% !important;
  }
  .relatableIDText {
    font-size: 0.4em !important;
    padding-left: 5% !important;
  }
  .custLoyaltyBlock {
    margin-bottom: 39% !important;
    margin-left: 25.5% !important;
    width: 19% !important;
    height: 12% !important;
  }
  .custLoyaltyText {
    font-size: 0.45em !important;
    padding-left: 10% !important;
    width: 51% !important;
  }
  .omniBlock {
    margin-top: -24% !important;
    margin-left: -5% !important;
    width: 22% !important;
    height: 11% !important;
  }
  .omniText {
    font-size: 0.4em !important;
    padding-left: 3% !important;
    width: 51% !important;
    color: #33657e !important;
  }
  .social {
    width: 13% !important;
    height: 50% !important;
    margin: 0% 0% !important;
  }
  .socialDiv {
    margin: 0px 0px !important;
  }
  .phnbtn {
    margin-right: 20% !important;
    margin-bottom: 20%;
  }
  .littleD1 {
    margin-right: 13%;
    margin-top: -4% !important;
  }
}
