@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@keyframes ClentApproach_rort__1Zlmo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.clientfirst_main_container {
  margin-top: 50px !important;
  padding: 10px 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.clientfirstapproach_leftside {
  flex: 0.5;
  padding-right: 50px !important;
}

.clientfirstapproach_leftside_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #33657e;
  margin-bottom: 20px !important;
}

.clientfirstapproach_leftside_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.clientfirstapproach_rightside {
  flex: 0.5;
  position: relative;
}

.clientfirst_gear1 img,
.clientfirst_gear2 img,
.clientfirst_gear3 img,
.clientfirst_gear4 img {
  /* width: 40%;
  height: 40%; */
  animation: ClentApproach_rort__1Zlmo 8s linear infinite forwards;
}

.clientfirst_gear1,
.clientfirst_gear2,
.clientfirst_gear3,
.clientfirst_gear4,
.clientfirst_gearcenter {
  width: 100px;
  height: 100px;
  position: absolute;
}

.clientfirst_gear1 {
  top: 0px;
  left: 0;
}

.clientfirst_gear2 {
  top: 0px;
  left: 300px;
}

.clientfirst_gear3 {
  bottom: 0px;
  left: 0;
}

.clientfirst_gear4 {
  bottom: 0px;
  left: 300px;
}
