@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@keyframes ClentApproach_rort__1Zlmo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.clientfirstapprocah_main {
  margin: 40px 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0 !important;
}

.clientfirstapproach_text {
  margin-top: 120px !important;
  padding: 0 50px !important;
}

.clientfirstapproach_heading {
  flex: 0.5;
}

.clientfirstapproach_heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  color: #33657e;
}

.clientfirstapproach_description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.container {
  position: relative !important;
}

/* Right Image Side */

.clientfirstapprocah_image {
  display: flex;
}

.geartop1 p,
.geartop2 p,
.gearbottom1 p,
.gearbottom2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #6ca0bc;
}

.ellipse_center p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.geartop1 {
  position: absolute;
  top: 15px;
  left: 640px;
}

.geartop1 img {
  width: 287.22px;
  height: 235px;
  /* transform: rotate(31.32deg); */
  animation: ClentApproach_rort__1Zlmo 8s linear infinite forwards;
}

.geartop1 p {
  position: absolute;
  top: 90px;
  left: 105px;
  text-align: center;
}

.geartop2 {
  position: absolute;
  top: 80px;
  left: 1020px;
}

.geartop2 img {
  width: 287.22px;
  height: 235px;
  /* transform: rotate(-3.79deg); */
  animation: ClentApproach_rort__1Zlmo 8s linear infinite forwards;
}

.geartop2 p {
  position: absolute;
  top: 80px;
  left: 110px;
  text-align: center;
}

.gear_center {
  position: absolute;
  top: 140px;
  left: 730px;
}

.gear_center img {
  width: 427.78px;
  animation: ClentApproach_rort__1Zlmo 8s linear infinite reverse;
}

.ellipse_center {
  position: absolute;
  top: 255px;
  left: 880px;
  display: flex;
}

.ellipse_center p {
  position: absolute;
  top: 50px;
  left: 20px;
  text-align: center;
}

.ellipse_center img {
  width: 154px;
  height: 154px;
}

.gearbottom1 {
  position: absolute;
  top: 390px;
  left: 630px;
}

.gearbottom1 img {
  width: 287.22px;
  height: 235px;
  /* transform: rotate(-26.04deg); */
  animation: ClentApproach_rort__1Zlmo 8s linear infinite forwards;
}

.gearbottom1 p {
  position: absolute;
  top: 90px;
  left: 110px;
}

.gearbottom2 {
  position: absolute;
  top: 360px;
  left: 1010px;
}

.gearbottom2 img {
  width: 287.22px;
  height: 235px;
  /* transform: rotate(-26.04deg); */
  animation: ClentApproach_rort__1Zlmo 8s linear infinite forwards;
}

.gearbottom2 p {
  position: absolute;
  top: 100px;
  left: 115px;
}

@media only screen and (max-width: 2000px) {
  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 217.22px;
    height: 165px;
  }

  .gear_center img {
    width: 357px;
  }

  .ellipse_center img {
    width: 124px;
    height: 124px;
  }

  .geartop1 {
    position: absolute;
    top: -130px;
    left: 0px;
  }

  .geartop2 {
    position: absolute;
    top: -80px;
    left: 310px;
  }

  .gear_center {
    position: absolute;
    top: -50px;
    left: 60px;
  }

  .ellipse_center {
    position: absolute;
    top: 45px;
    left: 190px;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 170px;
    left: -10px;
  }

  .gearbottom2 {
    position: absolute;
    top: 140px;
    left: 300px;
  }

  .geartop1 p {
    top: 65px;
    left: 80px;
    font-size: 12px;
    line-height: 14px;
  }

  .geartop2 p {
    top: 58px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .ellipse_center p {
    top: 45px;
    left: 10px;
    font-size: 16px;
    line-height: 14px;
  }

  .gearbottom1 p {
    top: 60px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .gearbottom2 p {
    top: 70px;
    left: 88px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 217.22px;
    height: 165px;
  }

  .gear_center img {
    width: 357px;
  }

  .ellipse_center img {
    width: 124px;
    height: 124px;
  }

  .geartop1 {
    position: absolute;
    top: -130px;
    left: -100px;
  }

  .geartop2 {
    position: absolute;
    top: -80px;
    left: 210px;
  }

  .gear_center {
    position: absolute;
    top: -50px;
    left: -40px;
  }

  .ellipse_center {
    position: absolute;
    top: 45px;
    left: 90px;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 170px;
    left: -120px;
  }

  .gearbottom2 {
    position: absolute;
    top: 140px;
    left: 200px;
  }

  .geartop1 p {
    top: 65px;
    left: 80px;
    font-size: 12px;
    line-height: 14px;
  }

  .geartop2 p {
    top: 58px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .ellipse_center p {
    top: 45px;
    left: 10px;
    font-size: 16px;
    line-height: 14px;
  }

  .gearbottom1 p {
    top: 60px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .gearbottom2 p {
    top: 70px;
    left: 88px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 1160px) {
  .clientfirstapprocah_main {
    margin-top: 0px !important;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 217.22px;
    height: 165px;
  }

  .gear_center img {
    width: 357px;
  }

  .ellipse_center img {
    width: 124px;
    height: 124px;
  }

  .geartop1 p {
    top: 65px;
    left: 80px;
    font-size: 12px;
    line-height: 14px;
  }

  .geartop2 p {
    top: 58px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .ellipse_center p {
    top: 45px;
    left: 10px;
    font-size: 16px;
    line-height: 14px;
  }

  .gearbottom1 p {
    top: 60px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .gearbottom2 p {
    top: 70px;
    left: 88px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 1099px) {
  .clientfirstapprocah_main {
    margin-top: 0px !important;
  }

  .geartop1 {
    position: absolute;
    top: -120px;
    left: -30px;
  }

  .geartop2 {
    position: absolute;
    top: -70px;
    left: 240px;
  }

  .gear_center {
    position: absolute;
    top: -50px;
    left: 10px;
  }

  .ellipse_center {
    position: absolute;
    top: 45px;
    left: 130px !important;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 160px;
    left: -40px;
  }

  .gearbottom2 {
    position: absolute;
    top: 130px;
    left: 230px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 187.22px;
    height: 145px;
  }

  .gear_center img {
    width: 327px;
  }

  .ellipse_center img {
    width: 110px;
    height: 110px;
  }

  .ellipse_center {
    top: 40px;
    left: 180px;
  }

  .geartop1 p {
    top: 55px;
    left: 66px;
    font-size: 11px;
    line-height: 12px;
  }

  .geartop2 p {
    top: 50px;
    left: 70px;
    font-size: 12px;
    line-height: 14px;
  }

  .ellipse_center p {
    top: 37px;
    left: 9px;
    font-size: 14px;
    line-height: 14px;
  }

  .gearbottom1 p {
    top: 55px;
    left: 70px;
    font-size: 12px;
    line-height: 14px;
  }

  .gearbottom2 p {
    top: 60px;
    left: 73px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .clientfirstapproach_text {
    margin-top: 10px !important;
  }

  .clientfirstapproach_description {
    width: 160% !important;
  }

  .geartop1 {
    position: absolute;
    top: 130px;
    left: -330px;
  }

  .geartop2 {
    position: absolute;
    top: 180px;
    left: -55px;
  }

  .gear_center {
    position: absolute;
    top: 200px;
    left: -285px;
  }

  .ellipse_center {
    position: absolute;
    top: 290px;
    left: -165px !important;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 410px;
    left: -340px;
  }

  .gearbottom2 {
    position: absolute;
    top: 380px;
    left: -60px;
  }
}

@media only screen and (max-width: 800px) {
  .clientfirstapproach_description {
    width: 150% !important;
  }

  .geartop1 {
    position: absolute;
    top: 170px;
    left: -390px;
  }

  .geartop2 {
    position: absolute;
    top: 220px;
    left: -85px;
  }

  .gear_center {
    position: absolute;
    top: 250px;
    left: -335px;
  }

  .ellipse_center {
    position: absolute;
    top: 345px;
    left: -205px !important;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 480px;
    left: -410px;
  }

  .gearbottom2 {
    position: absolute;
    top: 440px;
    left: -90px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 217.22px;
    height: 165px;
  }

  .gear_center img {
    width: 357px;
  }

  .ellipse_center img {
    width: 124px;
    height: 124px;
  }

  .geartop1 p {
    top: 70px;
    left: 85px;
    font-size: 11px;
    line-height: 12px;
  }

  .geartop2 p {
    top: 57px;
    left: 83px;
    font-size: 12px;
    line-height: 14px;
  }

  .ellipse_center p {
    top: 43px;
    left: 16px;
    font-size: 14px;
    line-height: 14px;
  }

  .gearbottom1 p {
    top: 65px;
    left: 85px;
    font-size: 12px;
    line-height: 14px;
  }

  .gearbottom2 p {
    top: 70px;
    left: 87px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .clientfirstapproach_description {
    width: 100% !important;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 217.22px;
    height: 165px;
  }

  .gear_center img {
    width: 357px;
  }

  .ellipse_center img {
    width: 124px;
    height: 124px;
  }

  .geartop1 {
    position: absolute;
    top: 30px;
    left: 60px;
  }

  .geartop2 {
    position: absolute;
    top: 80px;
    left: 370px;
  }

  .gear_center {
    position: absolute;
    top: 110px;
    left: 120px;
  }

  .ellipse_center {
    position: absolute;
    top: 205px;
    left: 250px !important;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 330px;
    left: 50px;
  }

  .gearbottom2 {
    position: absolute;
    top: 300px;
    left: 360px;
  }
}

@media only screen and (max-width: 524px) {
  .clientfirstapproach_text {
    margin-top: 30px !important;
  }

  .clientfirstapproach_heading {
    font-size: 30px;
  }

  .clientfirstapproach_description {
    font-size: 16px;
    line-height: 20px;
  }

  .geartop1 {
    position: absolute;
    top: 8px;
    left: 55px;
  }

  .geartop2 {
    position: absolute;
    top: 35px;
    left: 225px;
  }

  .gear_center {
    position: absolute;
    top: 45px;
    left: 100px;
  }

  .ellipse_center {
    position: absolute;
    top: 93px;
    left: 163px !important;
    display: flex;
  }

  .gearbottom1 {
    position: absolute;
    top: 165px;
    left: 50px;
  }

  .gearbottom2 {
    position: absolute;
    top: 145px;
    left: 215px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 127.22px;
    height: 75px;
  }

  .gear_center img {
    width: 180px;
  }

  .ellipse_center img {
    width: 66px;
    height: 66px;
  }

  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}

@media only screen and (max-width: 450px) {
  .clientfirstapproach_text {
    margin-top: 30px !important;
  }

  .clientfirstapproach_heading {
    font-size: 30px;
  }

  .clientfirstapproach_description {
    font-size: 16px;
    line-height: 20px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 127.22px;
    height: 75px;
  }

  .gear_center img {
    width: 180px;
  }

  .ellipse_center img {
    width: 66px;
    height: 66px;
  }

  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}

@media only screen and (max-width: 430px) {
  .clientfirstapproach_text {
    margin-top: 30px !important;
  }

  .clientfirstapproach_heading {
    font-size: 30px;
  }

  .clientfirstapproach_description {
    font-size: 16px;
    line-height: 20px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 127.22px;
    height: 75px;
  }

  .gear_center img {
    width: 180px;
  }

  .ellipse_center img {
    width: 66px;
    height: 66px;
  }

  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}

@media only screen and (max-width: 415px) {
  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}

@media only screen and (max-width: 400px) {
  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}

@media only screen and (max-width: 360px) {
  .clientfirstapproach_heading {
    font-size: 20px;
  }

  .clientfirstapproach_description {
    font-size: 13px;
    line-height: 16px;
  }

  .geartop1 img,
  .geartop2 img,
  .gearbottom1 img,
  .gearbottom2 img {
    width: 127.22px;
    height: 75px;
  }

  .gear_center img {
    width: 180px;
  }

  .ellipse_center img {
    width: 66px;
    height: 66px;
  }

  .geartop1 p {
    top: 30px;
    left: 48px;
    font-size: 6px;
    line-height: 6px;
  }

  .geartop2 p {
    top: 27px;
    left: 52px;
    font-size: 6px;
    line-height: 6px;
  }

  .ellipse_center p {
    top: 20px;
    left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  .gearbottom1 p {
    top: 30px;
    left: 50px;
    font-size: 6px;
    line-height: 6px;
  }

  .gearbottom2 p {
    top: 33px;
    left: 54px;
    font-size: 6px;
    line-height: 6px;
  }
}
