.DDMBlueprintText{
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  margin: 10%;
  /* padding: auto; */
}


.DDMBlueprintText > h1 {
  /* position: absolute; */
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3c708e;
}

.DDMBlueprintText > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #757575;
}
