.DDMFlowChartText > h1 {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3c708e;
  margin-top: 7% !important;
}
.DDMFlowChartText > p {
  
  width: 910px;
  height: 78px;
  /* left: 244px; */
  top: 765px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #757575;
  margin-left: 20% !important;
}
