.DDMRevamping{
  justify-content:space-around;
}

.DDMRevampingText {
  width: 70% !important;
}

.DDMRevampingText > h1 {
  width: 60%;
  /* margin-bottom: 8%; */
  font-family: ‘-apple-system’, ‘BlinkMacSystemFont’, 'Segoe UI', ‘Roboto’, ‘Oxygen’,
‘Ubuntu’, ‘Cantarell’, 'Open Sans', 'Helvetica Neue', ‘sans-serif’
;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #33657e;
  margin-left: 5% !important;
  margin-top: 10% !important;
  z-index: 3;
}

.DDMRevampingText > p {
  width: 60%;  
  margin-left: 5%;
  z-index: 3;
  font-family: ‘-apple-system’, ‘BlinkMacSystemFont’, 'Segoe UI', ‘Roboto’, ‘Oxygen’,
‘Ubuntu’, ‘Cantarell’, 'Open Sans', 'Helvetica Neue', ‘sans-serif’
;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #232323;
}

.DDMRevampingTalkingButton{
  z-index: 3;
}

.DDMRevampingTalkingButton > button {
  /* position: static; */
  width: 65px;
  height: 16px;
  left: 17px;
  top: 13px;
  font-family: ‘-apple-system’, ‘BlinkMacSystemFont’, 'Segoe UI', ‘Roboto’, ‘Oxygen’,
‘Ubuntu’, ‘Cantarell’, 'Open Sans', 'Helvetica Neue', ‘sans-serif’
;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 2% !important;
  margin-left: 5% !important;
  margin-bottom: 5% !important;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px;
  width: 110px;
  height: 42px;
  /* left: 103px;
top: 2288px; */

  background: linear-gradient(94.67deg, #a06daf 32.31%, #33657e 141.42%);
}

.DDMRevampingTalkingButton > button:hover {
  background: linear-gradient(-94.67deg, #a06daf 32.31%, #33657e 141.42%);
}

.DDMRevampingBulb {
  /* position: absolute; */
  width: 391.97px;
  height: 500px;
  left: 858px;
  top: 1932px;
  margin-left: 65% !important;
  margin-top: -28% !important;
  margin-bottom: 5% !important;
}

.DDMRevampingLine {
  /* position: absolute; */
  width: 2000.5px;
  height: 500px;
  left: 9.81px;
  top: 2015.7px;
  margin-top: -28% !important;
  z-index: -2;
  

  /* border: 1px dashed #a06daf; */
  transform: rotate(3.08deg);
}

.DDMRevampingLine > img {
    width: 1200px;
}

.DDMRevampingArrow {
  
  left: 55.11%;
  right: 43.1%;
  top: 35.88%;
  bottom: 63.77%;
  transform: translate(850px, -365px);
  animation: shimmy 2s infinite;
  animation-direction: alternate;
  
  
  /* background: #A06DAF; */
  /* transform: rotate(41.7deg); */
}

@keyframes shimmy {
  0% {
    transform: translate(50px, 0px);    
  }
  50% {
    transform: translate(850px, -65px);
  }
  75% {
    transform: translate(770px, -265px);
  }
  100% {
    transform: translate(900px, -265px);
  }

}

@media only screen and (max-width: 800px){
  .DDMRevampingText > h1{
    width: 100%;
  }

  .DDMRevampingText > p{
    width: 100%;
    margin-right: 10%;
  }
}